<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/file_manage.css}">
    <link rel="stylesheet" th:href="@{/dist/css/page.css}">
    <script type="text/javascript" th:src= "@{/dist/js/hand-paging.js}"></script>
</head>
<body layout:fragment="content">
<div id="file">
    <div class="page-header">
        <div class="row">
            <div class="col-md-9 col-sm-9" style="padding-left: 0">
                <div class="float-left">
                    <span class="font-size-18 border-left-blue">项目文件管理</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 text-align-right" style="padding-right: 0">
                <button type="button" data-toggle="modal"
                        class="btn btn-info padding-right-15">
                    <i class="ace-icon fa fa-reply icon-only"></i>
                    返回
                </button>
            </div>
        </div>
    </div>
    <div class="row file-contain">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4 padding-right">
                    <div class="page-file-left">
                        <div class="border-left-blue" style="margin: 10px 0 10px 10px">文件结构</div>
                        <div style="background: #fff;height: 648px">
                            <div id="addFile">新增文件夹</div>
                            <ul id="treeDemoCheck" class="ztree"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="page-file-right">
                        <div class="page-right-header" style="overflow: hidden">
                            <div class="float-left">
                                <span class="current">当前：</span>
                                <span v-text="titleEnd"></span>
                            </div>
                            <div class="float-right">
                                <button type="button" data-toggle="modal"
                                        class="btn btn-info btn-sc" id= "filePicker">
                                    <i class="ace-icon glyphicon glyphicon-upload"></i>
                                    上传
                                </button>
                            </div>
                        </div>
                        <div class="page-right-contain">
                            <div>
                                <table>
                                    <tr class="table-title">
                                        <td>文件名</td>
                                        <td>上传时间</td>
                                        <td>大小</td>
                                        <td>下载</td>
                                    </tr>
                                    <tr class="table-content">
                                        <td>
                                            <span>e4343</span>
                                            <span>e4343</span>
                                        </td>
                                        <td>
                                            <span>343434</span>
                                        </td>
                                        <td>
                                            <span>54445.kb</span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="ace-icon fa fa-download blue"></i>
                                            </span>
                                            <span class="margin-left-10">
                                                <i class="ace-icon fa fa-trash-o blue"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="table-content">
                                        <td>
                                            <span>e4343</span>
                                            <span>e4343</span>
                                        </td>
                                        <td>
                                            <span>343434</span>
                                        </td>
                                        <td>
                                            <span>54445.kb</span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="ace-icon fa fa-download blue"></i>
                                            </span>
                                            <span class="margin-left-10">
                                                <i class="ace-icon fa fa-trash-o blue"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="table-content">
                                        <td>
                                            <span>e4343</span>
                                            <span>e4343</span>
                                        </td>
                                        <td>
                                            <span>343434</span>
                                        </td>
                                        <td>
                                            <span>54445.kb</span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="ace-icon fa fa-download blue"></i>
                                            </span>
                                            <span class="margin-left-10">
                                                <i class="ace-icon fa fa-trash-o blue"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="table-content">
                                        <td>
                                            <span>e4343</span>
                                            <span>e4343</span>
                                        </td>
                                        <td>
                                            <span>343434</span>
                                        </td>
                                        <td>
                                            <span>54445.kb</span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="ace-icon fa fa-download blue"></i>
                                            </span>
                                            <span class="margin-left-10">
                                                <i class="ace-icon fa fa-trash-o blue"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="table-content">
                                        <td>
                                            <span>e4343</span>
                                            <span>e4343</span>
                                        </td>
                                        <td>
                                            <span>343434</span>
                                        </td>
                                        <td>
                                            <span>54445.kb</span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="ace-icon fa fa-download blue"></i>
                                            </span>
                                            <span class="margin-left-10">
                                                <i class="ace-icon fa fa-trash-o blue"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="table-content">
                                        <td>
                                            <span>e4343</span>
                                            <span>e4343</span>
                                        </td>
                                        <td>
                                            <span>343434</span>
                                        </td>
                                        <td>
                                            <span>54445.kb</span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="ace-icon fa fa-download blue"></i>
                                            </span>
                                            <span class="margin-left-10">
                                                <i class="ace-icon fa fa-trash-o blue"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="table-content">
                                        <td>
                                            <span>e4343</span>
                                            <span>e4343</span>
                                        </td>
                                        <td>
                                            <span>343434</span>
                                        </td>
                                        <td>
                                            <span>54445.kb</span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="ace-icon fa fa-download blue"></i>
                                            </span>
                                            <span class="margin-left-10">
                                                <i class="ace-icon fa fa-trash-o blue"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="table-content">
                                        <td>
                                            <span>e4343</span>
                                            <span>e4343</span>
                                        </td>
                                        <td>
                                            <span>343434</span>
                                        </td>
                                        <td>
                                            <span>54445.kb</span>
                                        </td>
                                        <td>
                                            <span>
                                                <i class="ace-icon fa fa-download blue"></i>
                                            </span>
                                            <span class="margin-left-10">
                                                <i class="ace-icon fa fa-trash-o blue"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="margin-top-15 text-align-center">
                                <ul id="list"></ul>
                                <div id="pagingTest"></div>
                                <input type="hidden" value="" id="page">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="filePop" class="ui-dialog-content ui-widget-content display-none">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="add-role-group-name">文件名:</label>
                <div class="col-sm-9">
                    <input type="text" id="add-role-group-name" name="namefile" class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/webuploader.js}"></script>
<script type="text/javascript" th:inline="javascript">

    var projectID  = [[${id}]];
    console.log(projectID);

    // var responseUrl;
    jQuery(function($) {

        var setting =  {
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                // selectedMulti: false
            },
            edit: {
                enable: true,
                showRemoveBtn: false,
                showRenameBtn: false
            },
            data: {
                simpleData: {
                    enable: true
                },
                key: {
                    name: "pTypePName"
                }
            },
            view: {
                showLine: false
            },
            callback: {
                beforeClick: zTreeBeforeClick,
                onClick: zTreeOnClick
                // onRename: onRename
            }
        };
// dialog 设置title
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function(title) {
                var $title = this.options.title || '&nbsp;';
                if( ("title_html" in this.options) && this.options.title_html == true )
                    title.html($title);
                else title.text($title);
            }
        }));
        function popFile(title){
            var $formFile = $('#filePop>form').validate({
                errorElement: 'span',
                errorClass: 'help-block col-sm-9 col-sm-offset-2 align-left control-label no-padding-right',
                focusInvalid: false,
                ignore: "",
                rules: {
                    namefile: {
                        required: true
                    }
                },
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                },
                success: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');
                    $(e).remove();
                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                },
                invalidHandler: function (form) {
                }
            });
            validateResetForm($formFile, $("#filePop>form"));
            var dialog = $( "#filePop" ).removeClass('hide').dialog({
                // dragStop: function( event, ui ) {
                //     $(event.target.offsetParent).css("height", "auto");
                // },
                resizable: false,
                width: '600',
                height: '200',
                modal: true,
                closeText: "关闭",
                title: title,
                title_html: true,
                buttons: [
                    {
                        text: "保存",
                        "class" : "btn btn-primary btn-minier",
                        click: function() {
                            var _this = $(this);
                            var flag = $formFile.form();
                            console.log(flag);
                            if(flag){
                                var data = $('#filePop>form').serializeObject();
                                $.ajax({
                                    url: contextPath+"api/sysrolegroup",
                                    type: "post",
                                    data : JSON.stringify(data),
                                    contentType: "application/json",
                                    dataType : "json",
                                    success: function (data) {
                                        _this.dialog( "close" );
                                    },
                                    error: function (data) {
//                                        console.log(data);
                                    }
                                })

                            }


                        }
                    },
                    {
                        text: "取消",
                        "class" : "btn btn-minier",
                        click: function() {
                            $( this ).dialog( "close" );
                        }
                    }
                ]
            });

        }
        function addHoverDom(treeId, treeNode) {
            var aObj = $("#" + treeNode.tId + "_a");
            if ($("#diyBtn_"+treeNode.id).length>0) return;
            var editStr = '<span id="diyBtn_'+treeNode.id+'">编辑</span>';
            aObj.append(editStr);
            var btn = $("#diyBtn_"+treeNode.id);
            if (btn) btn.bind("click", function(){
                popFile('编辑文件夹');
            });


        }


        function removeHoverDom(treeId, treeNode) {
            $("#diyBtn_"+treeNode.id).unbind().remove();
            $("#diyBtn_space_" +treeNode.id).unbind().remove();
        };
        var arr = [];
        function dg(sNodes){
            var sum = '';
            var node = sNodes.getParentNode();
            if(node !=  null){
                dg(node);
                sum+= node.pTypePName
                arr.push(sum);
                // console.log(sum)
                return sum;
            }
        }
        function zTreeBeforeClick(treeId, treeNode){
            vue1.$data.currentFile = treeNode.pTypePName;
        }
        function zTreeOnClick(treeId, treeNode){
            var treeObj = $.fn.zTree.getZTreeObj("treeDemoCheck");
            var sNodes = treeObj.getSelectedNodes()[0];
            arr = [];
            dg(sNodes);
            vue1.$data.title = arr;
        }



        var vue1 = new Vue({
            el:"#file",
            data:{
                title:[],
                currentFile:''
            },
            computed:{
                titleEnd: function(){
                    var title = this.title.join("/");
                    var entTile  = title == "" ? this.currentFile : title+ " / " + this.currentFile
                    return entTile
                }
            },
            methods:{
                setting : function(){
                    var _this = this;
                    return settingCheck =  {
                        view: {
                            addHoverDom: _this.addHoverDom,
                            removeHoverDom: _this.removeHoverDom,
                            // selectedMulti: false
                        },
                        edit: {
                            enable: true,
                            showRemoveBtn: false,
                            showRenameBtn: false
                        },
                        data: {
                            simpleData: {
                                enable: true
                            }
                        },
                        callback: {
//        beforeClick: zTreeBeforeClick,
                            onClick: _this.zTreeBeforeClick
                            // onRename: onRename
                        }
                    };
                },
                addHoverDom: function(treeId, treeNode){
                    var aObj = $("#" + treeNode.tId + "_a");
                    if ($("#diyBtn_"+treeNode.id).length>0) return;
                    var editStr = '<span id="diyBtn_'+treeNode.id+'">编辑</span>';
                    aObj.append(editStr);
                    var btn = $("#diyBtn_"+treeNode.id);
                    if (btn) btn.bind("click", function(){
//        alert("diy Button for " + treeNode.name);
//                         $( "#dialog" ).dialog( "open" );
                    });
                },
                removeHoverDom: function(treeId, treeNode){
                    $("#diyBtn_"+treeNode.id).unbind().remove();
                    $("#diyBtn_space_" +treeNode.id).unbind().remove();
                },
                zTreeBeforeClick:function(treeId, treeNode){
                    console.log(333);
                    var treeObj = $.fn.zTree.getZTreeObj("treeDemoCheck");
                    var sNodes = treeObj.getSelectedNodes()[0];
                    arr = [];
                    dg(sNodes);
                },

            },

            mounted:function () {
                var _this = this;
                //给数状菜单添加数据
                $.axspost(contextPath+'api/pa/pType?pid=1','get','',function (data) {
                    data.content[0].open = true;
                    // data.content[0].icon = contextPath +'images/commonZtree.png'
                    var treeObj =  $.fn.zTree.init($("#treeDemoCheck"),setting,
                        data.content);
                    var treeNode = treeObj.transformToArray(treeObj.getNodes());
                    treeNode.map(function(v){
                        v.icon = contextPath +'images/commonZtree.png'
                    });
                    treeObj.refresh();
                },function(data){});

                $("#pagingTest").paging1({
                    pageNo:1,
                    totalPage:1
                });

                var uploader = WebUploader.create({
                    // 选完文件后，是否自动上传。
                    auto: true,
                    // swf文件路径
                    swf: contextPath + '/dist/js/Uploader.swf',
                    // 文件接收服务端。
                    server: contextPath+'upload',
                    // 选择文件的按钮。可选。
                    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                    pick: '#filePicker',
                    // 只允许选择图片文件。
                    /*accept: {
                        title: 'Images',
                        extensions: 'gif,jpg,jpeg,bmp,png',
                        mimeTypes: 'image/!*'
                    },*/
                });

            }
        });


        setTimeout(function(){
            $(".webuploader-pick").css("display","inline-block");
            $(".webuploader-pick").next().css({
                position: "absolute",
                top: "0",
                left: "0",
                // width: "85px",
                // height: "40px",
                overflow: "hidden",
                opacity: 0
            });
        }, 30);

        $("#addFile").click(function(){
            popFile('新增文件夹');
        })

    })
</script>
</body>
</html>