<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/common.css}">
    <style>
        .btn, .border-none {
            border: 1px solid #6FB3E0;
        }
    </style>
</head>
<body layout:fragment="content">
<div id="myMediary"  v-cloak>
    <div class="page-header">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="float-left">
                    <span class="font-size-18 border-left-blue">编辑设备</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 text-align-right">
                <button type="button" data-toggle="modal"
                        @click="backList" class="btn btn-info padding-right-15">
                    <i class="ace-icon fa fa-reply icon-only"></i>
                    返回
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <form class="form-horizontal" id="validation-form">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">负责人:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <!--<input type="text" name="projectOwnerContact" id="userList" v-model="editList.operateUser.name" class="col-xs-12 col-sm-6" />-->
                                <select class="form-control" name="operateUserName" v-model="selectOperate">
                                    <option :value="item1.userid" v-for="item1 in userList">{{item1.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">抄表人:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <!--<input type="text" name="cbContact" id="cbContact" v-model="editList.transcribeUser.name" class="col-xs-12 col-sm-6" />-->
                                <select class="form-control" name="transcribeUserName" v-model="selectTranscribe">
                                    <option :value="item1.userid" v-for="item1 in userList">{{item1.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                提交
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
</div>
<script th:src="@{/js/webuploader.js}"></script>
<script type="text/javascript" th:inline="javascript">

    jQuery(function($) {
        var postID = window.location.href.split("=");
        var deviceId  = postID[1];
        var projectId = postID[2];
        console.log(postID);
        new Vue({
            el:"#myMediary",
            data:{
                searchVal:"",
                userList:"",
                selectOperate:"",
                selectTranscribe:""

            },
            methods:{
                backList:function(){
                    location.href=contextPath+"project/detail?id="+projectId;
                },
                sureSubmit:function () {
                    var _this = this;
                    var data = {
                        project:{
                            projectId:projectId
                        },
                        operateUser:{
                            userid:_this.selectOperate
                        },
                        transcribeUser:{
                            userid:_this.selectTranscribe
                        },
                        deviceId:deviceId
                    };
                    $.ajax({
                        url: contextPath+"api/device/updateProjectId",
                        method: "put",
                        data : JSON.stringify(data),
                        contentType: "application/json",
                        dataType : "json",
                        success: function (data) {
                            window.location.href = contextPath +"project/detail/?id="+projectId
                        },
                        error: function (data) {
                        }
                    })
                }
            },
            mounted:function () {
                var _this = this;
                //操作员，抄表员
                $.ajax({
                    url:contextPath+"api/dingtalkuser/idNameList",
                    type:"get",
                    success:function(data){
                        _this.userList = data.content;

                        //查找详情
                        $.axspost(contextPath + "api/device/"+deviceId+"","get","",function(data){
                            // _this.editList = data.content;
                            _this.selectOperate = data.content.operateUser.userid;
                            console.log(_this.selectOperate);
                            _this.selectTranscribe = data.content.transcribeUser.userid;

                        },function(data){});
                    }
                });


                var $form = $('#validation-form').validate({
                    errorElement: 'div',
                    errorClass: 'help-block',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                        operateUserName:{
                            required: true
                        },
                        transcribeUserName: {
                            required: true
                        }
                    },
                    highlight: function (e) {
                        $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                    },
                    success: function (e) {
                        $(e).closest('.form-group').removeClass('has-error');
                        $(e).remove();
                    },
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    },
                    submitHandler: function (form) {
                        _this.sureSubmit();
                    },
                    invalidHandler: function (form) {
                    }
                });
            }
        });
    })
</script>
</body>
</html>