
.wrapper .navbar{
  background:#3c8dbc;
/*  height: 0.96rem;*/
  color:#FFFFFF;
}

.wrapper .navbar .title{
  font-size:0.36rem;
}

.wrapper .navbar a{
  color:#ffffff;
}

.wrapper .toolbar-inner{
  padding:0 0;
}
.wrapper .toolbar a.tab-link{
  border:1px solid #d5d5d5;
}

.wrapper .companyTime{
  background:#d5d5d5 ;
  padding:2px 6px;
  border-radius: 2px;
  color:#666666;

}

.ios .wrapper .page{
  background: none;
}

.wrapper .shareBtn{
  flex-shrink: 0;
  width: 1.5rem !important;
}

.wrapper .toolbar a{
  color:#333333 ;
  font-size:0.32rem;
}

.text-base-color{
  color:#333333!important;
}

.text-color{
  color:#8f8f8e!important;
}

.wrapper .page,.wrapper .page .block{
  color:#333333!important;
}

.break
{
  white-space:normal;
  word-break:break-all;
  word-wrap:break-word;
}

.col{
  background: #fff;
  text-align: center;
  color: #000;
/*  border: 1px solid #ddd;*/
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.f36{
  font-size:0.36rem !important;
}

.f32{
  font-size:0.32rem !important;
}

.f30{
  font-size:0.30rem !important;
}

.f24{
  font-size:0.24rem !important;
}

.fw{
  font-weight:bold;
}

.tx2{
  text-indent: 2em;
}

ul{
  list-style: none;
  padding:0

}


.ptbox{
  position: relative;
}

.ptbox:before{
  content:"";
  display: block;
  position: absolute;
  width:100%;
  height:0.1rem;
  border-top:2px dashed #c9c9c9;
  border-bottom:1px solid #c9c9c9;
  top:50%;
  margin-top:-0.05rem;
  z-index: -1;

}
.portrait{
 width:0.9rem;height:0.9rem;background:#438eb9;
  border-radius: 90px;
  overflow: hidden;

}


.w100{
  width:100%;
}