<!DOCTYPE html>
<html class=" ios device-pixel-ratio-2 device-retina device-ios device-ios-11 device-ios-11-0 device-ios-gt-10 device-ios-gt-9 device-ios-gt-8 device-ios-gt-7 device-ios-gt-6 support-position-sticky">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title>设备参数</title>
    <link rel="stylesheet" th:href="@{/css/framework7.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/cover.css}">
    <script th:src="@{/js/framework7.min.js}"></script>
    <script>
        var deviceWidth = document.documentElement.clientWidth;
        if(deviceWidth > 1080) deviceWidth = 1080;
        document.documentElement.style.fontSize = deviceWidth / 10.8 + 'px';
    </script>

</head>
<body>
<div id="app" class="wrapper framework7-root">
    <div class="statusbar"></div>

    <div class="view view-main view-init ios-edges " >

        <div class="pages">
            <div class="page params" data-page="home">
                <div class="page-content ">


                    <form id="form"class="list card f30">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">设备信号</div>
                                        <div class="item-after">
                                            <div style="flex-shrink:0" >

                                                <select name="project" class="pkee text-base-color f30 "  style="width:125px;"><option value="0">水动自清洗过滤器</option><option value="1">电动刷式过滤器</option><option value="2">电动吸式过滤器</option><option value="3">电动刷吸式过滤器</option><option value="4">自动反冲洗砂滤系统</option><option value="5">自动反冲洗叠片过滤系统</option><option value="6">水处理控制器</option></select>

                                            </div>
                                            <span class=" ser-btn  text-base-color f7-icons f32"  style="width:15px">&or;</span>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">电机</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" value="1"  name="motor" class ="ignore" >
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">行程开关</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox"  value="1" name="stroke_switch" class ="ignore">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">电机动作时间</div>
                                        <div class="item-after">
                                            <div style="flex-shrink:0" >
                                                <input type="text" class="pkee text-base-color f30" name="motor_time"  style="width:106px;margin-right:4px;"/>
                                            </div>
                                            <span class=" pkee text-base-color f30 text-align-center"  style="width:30px">秒</span>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">压差开关</div>
                                        <div class="item-after">
                                            <div style="flex-shrink:0" >
                                                <select name="p_switch" id="" class="pkee text-base-color f30 ignore"  style="width:125px">
                                                    <option value="0" selected>模拟</option>
                                                    <option value="1">数字</option>
                                                </select>
                                            </div>
                                            <span class=" ser-btn  text-base-color f7-icons f32"  style="width:15px">&or;</span>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">电压告警值</div>
                                        <div class="item-after">
                                            <div style="flex-shrink:0" >
                                                <input type="text" name="voltage_warning" class="pkee text-base-color f30 ignore"   style="width:106px;margin-right:4px;"/>
                                            </div>
                                            <span class=" pkee text-base-color f30 text-align-center"  style="width:30px">V</span>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">主阀</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" name="main_valve" class="ignore" value='1'>
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">单元一</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" class="ignore" value='1' name="unit1">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">单元二</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" value="1" name="unit2">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">单元三</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" value='1'  name="unit3">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">单元四</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" value='1' name="unit4">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color ignore">单元五</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" value='1' name="unit5">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">单元六</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" value='1' name="unit6">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">单元七</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" value='1' name="unit7">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">单元八</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" value='1' name="unit8">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">单元九</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox"  value='1' name="unit9">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title text-base-color">单元十</div>
                                        <div class="item-after">
                                            <label class="toggle toggle-init">
                                                <input type="checkbox" value="1" name="unit10">
                                                <span class="toggle-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div></li>
                        </ul>

                    </form>
                   <!-- <div class="block block-strong row">
                        <div class="col"><a class="button convert-form-to-data" href="#">Get Data</a></div>
                        <div class="col"><a class="button fill-form-from-data" href="#">Fill Form</a></div>
                    </div>-->

                </div>
            </div>

        </div>
        </div>
    </div>
<script th:src="@{/ace/assets/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/ace/assets/js/jquery.validate.min.js}"></script>
<script>

    function  initList(){
        $.ajax({
            url: "/wd/getDeviceParams",
            type:"get",
            data:{
                num:6921734972392

            },
            success:function(data){

                if(data.status==200){


                    var formData = {
                        'unit6': [1],
                        'unit7': [1],
                        'unit8': [1],
                        'unit9': ['yes'],
                        'unit10': '1',
                    }

                    var o =data.content.deviceParam


                    for(var pro in o){
                        if(o.hasOwnProperty(pro)){
                            o[pro]=o[pro].toString()
                        }
                    }
                    console.log(o)
                  app.form.fillFromData('#form', o);

                }









            }
        })
    }
    var app = new Framework7(
            {
                id: 'io.framework7.testapp',
                root: '#app',
                theme: "ios",
                on:{
                    init:function(page){
                        initList()
                    }
                }
            })


    var $$ = Dom7;

    $$('.convert-form-to-data').on('click', function(){
        var formData = app.form.convertToData('#form');
        alert(JSON.stringify(formData));
    });

    $$('.fill-form-from-data').on('click', function(){
        var formData = {
            'unit6': [1],
            'unit7': [1],
            'unit8': [1],
            'unit9': ['yes'],
            'unit10': '1',
        }

        app.form.fillFromData('#form', formData);
    });

/*    var $form = $('#form').validate({
        debug:false,
        errorElement: 'div',
        errorClass: 'help-block',
        focusInvalid: false,
        ignore: ".ignore",
        rules: {
            project: {
                required: true
            },
            time:{
                required: true
            }
        },
        highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
        },
        success: function (e) {
            $(e).closest('.form-group').removeClass('has-error');
            $(e).remove();
        },
        errorPlacement: function (error, element) {
            error.insertBefore(element.parent());
        },
        submitHandler: function (form) {
           /!* var data ={
                remoteBoot:_this.numDevice(_this.remoteBoot),
                deviceParam:{
                    // numDevice
                    device_type:_this.deviceParam.device_type,
                    motor:_this.numDevice(_this.deviceParam.motor),
                    stroke_switch:_this.numDevice(_this.deviceParam.stroke_switch),
                    motor_time:_this.deviceParam.motor_time,
                    p_switch:_this.numDevice(_this.deviceParam.p_switch),
                    voltage_warning:_this.deviceParam.voltage_warning,
                    main_valve:_this.numDevice(_this.deviceParam.main_valve),
                    unit1:_this.numDevice(_this.deviceParam.unit1),
                    unit2:_this.numDevice(_this.deviceParam.unit2),
                    unit3:_this.numDevice(_this.deviceParam.unit3),
                    unit4:_this.numDevice(_this.deviceParam.unit4),
                    unit5:_this.numDevice(_this.deviceParam.unit5),
                    unit6:_this.numDevice(_this.deviceParam.unit6),
                    unit7:_this.numDevice(_this.deviceParam.unit7),
                    unit8:_this.numDevice(_this.deviceParam.unit8),
                    unit9:_this.numDevice(_this.deviceParam.unit9),
                    unit10:_this.numDevice(_this.deviceParam.unit10),
                },
                deviceUserParam:_this.deviceUserParam,
                system_time:_this.system_time.year+"-"+_this.system_time.month+"-"+_this.system_time.day+":" +_this.system_time.hour+":"+_this.system_time.minute+":"+
                _this.system_time.second
            };
            if($(".error").length == 0){
                $.ajax({
                    url: contextPath+"api/mqtt_send",
                    method: "post",
                    data : JSON.stringify(data),
                    contentType: "application/json",
                    dataType : "json",
                    success: function (data) {
                        if(data.status == 200){
                            // location.href=contextPath+"device/list";
                        }

                    },
                    error: function (data) {
                        // console.log(data);
                    }
                });
            }*!/
        },
        invalidHandler: function (form) {
        }

    });*/


/*    $('.fill-form-from-data').on('click',function(){
        $('#form').submit()
    })*/



</script>
</body>
</html>