<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>公司简介</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<section class="company-profile">
    <img th:src="@{/images/companyprofile.jpg}" alt="公司简介">
    <p class="indent">成都飞创科技有限公司致力于高科技节能环保事业，秉承“顺应自然”之宗旨，坚持科技创新，专注于电解水处理技术、全自动精确过滤技术和自动控制技术。飞创科技依托四川大学智能控制技术研究所，将智能控制技术与水处理技术融为一体，为工业、市政和农业等领域提供专业水处理服务。主要产品有CWES型环保冷却循环水电解处理系统、EC系列电絮凝高悬浮物废水处理系统、各类自动清洗过滤器系统、智能控制系统等，产品主要应用于冶金、电力、化工、建材、电子、制药、汽车制造和新能源等工业领域和市政领域。 近年来，公司规模迅速成长，管理水平大幅提升，公司通过ISO质量管理体系认证，并注册了“FILTRASCALE ”商标。</p>
    <p class="indent">飞创科技不断发展得益于公司持续的自主创新能力，近年来，公司数十项技术获得国家专利授权，多项核心技术处于国内领先水平，特别是在循环冷却水处理方面具有领先地位和竞争优势，在电解水处理技术和全自动精确过滤技术方面具有核心技术，已成为该领域为数不多的掌握多项核心技术、且拥有自主知识产权的创新型环保企业之一。</p>
</section>


<script th:src="@{/js/jquery-2.0.3.min.js}"></script>

<script>
    $(function(){

    })
</script>
</body>

</html>