<!DOCTYPE html>
<html class="ios device-pixel-ratio-3 device-retina device-android device-android-5 device-android-5-0 support-position-sticky ">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title>公司简介</title>
    <link rel="stylesheet" th:href="@{/css/framework7.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/cover.css}">
    <script th:src="@{/js/framework7.min.js}"></script>
    <script>
        var deviceWidth = document.documentElement.clientWidth;
        if(deviceWidth > 1080) deviceWidth = 1080;
        document.documentElement.style.fontSize = deviceWidth / 10.8 + 'px';
    </script>

</head>
<body>
<div id="app" class="wrapper framework7-root">
    <div class="statusbar"></div>

    <div class="view view-main view-init ios-edges " >
       <!-- <div class="navbar no-hairline">
            <div class="navbar-inner">
                <div class="left" style="width:28px">
                    <a href="#" class="link back">
                        <i class="f7-icons size-22" style="color:#FFFFFF" >left</i>
                    </a>
                </div>
                <div class="title">设备操作</div>
                <div class="right" style="width:28px">   <i class="f7-icons size-18" >&bull;&bull;&bull;</i></div>
            </div>

        </div>-->
        <div class="pages">
            <div class="page operate" data-page="home">
                <div class="page-content ">

                    <div class="block-header"></div>
                    <div class="card eqinfo f30">
                        <div class="card-content" style="padding:3px 15px;">
                            <table style="width:100%;">
                                <colgroup>
                                    <col width="50%"/>
                                    <col width="50%"/>
                                </colgroup>
                                <tr class="fw"><td>设备信息</td><th></th></tr>
                                <tr><td><span>生产编号：</span>1235184531</td><td><span>型号：</span>FGGD_1</td></tr>
                            </table>
                        </div>

                    </div>
                    <div class="list card ">
                         <ul>

                             <li><a href="#" class="f30">
                                 <div class="item-content">
                                     <div class="item-inner">
                                         <div class="item-title text-base-color">设备参数</div>
                                         <div class="item-after">
                                             <label class="toggle toggle-init">
                                                 <input type="checkbox">
                                                 <span class="toggle-icon"></span>
                                             </label>
                                         </div>
                                     </div>
                                 </div></a></li>
                         </ul>
                     </div>

                    <div class="list links-list card">
                        <ul>


                            <li><a href="#" class="f30">设备参数</a></li>
                            <li><a href="#" class="f30">用户参数</a></li>
                            <li><a href="#" class="f30">系统时间</a></li>
                        </ul>
                </div>
            </div>
        </div>

    </div>
        </div>
</div>
<script>
    var app = new Framework7(
            {
                id: 'io.framework7.testapp',
                root: '#app',
                theme: "ios",
            }
    )
    var $$ = Dom7;
    $$(".toggle").on("click",function(e){
        e.stopPropagation()
    })
</script>

</body>
</html>