<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>产品详情</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<ul class="product-details">
    <li><span>生产编号:</span><span>1235184531</span></li>
    <li><span>型号:</span><span>FGGD_1</span></li>
    <li><span>所属项目:</span><span>成都华西</span></li>
    <li><span>操作员:</span><span>张三</span></li>
    <li><span>抄表员:</span><span>李四</span></li>
    <li><span>状态:</span><span>在线</span></li>
    <li><span>抄表员:</span><span>李四</span></li>
</ul>
<p class="edit-info">修改信息</p>
<ul class="product-details">
    <li><span>生产编号</span><input type="text" placeholder="请输入生产编号"></li>
    <li><span>生产编号</span><input type="text" placeholder="请输入生产编号"></li>
    <li><span>生产编号</span><input type="text" placeholder="请输入生产编号"></li>
    <li><span>生产编号</span><input type="text" placeholder="请输入生产编号"></li>
    <li><span>生产编号</span><input type="text" placeholder="请输入生产编号"></li>
    <li><span>生产编号</span><input type="text" placeholder="请输入生产编号"></li>
    <li><span>状态</span><span class="product-details-status active">上线</span><span class="product-details-status">下线</span></li>
</ul>

<button class="submit-btn">提交</button>


<script th:src="@{/js/jquery-2.0.3.min.js}"></script>

<script>
    $(function(){

    })
</script>
</body>

</html>