<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>项目列表</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<!--<header class="project-list-header">
    <img src="images/projectlist.jpg">
</header>-->
<ul class="project-list">
    <li><span>项目名称</span><span>负责人</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
    <li><span>广西项目</span><span>张三</span></li>
    <li><span>云南项目</span><span>李四</span></li>
    <li><span>四川项目</span><span>王达</span></li>
    <li><span>北京项目</span><span>王五</span></li>
</ul>


<script th:src="@{/js/jquery-2.0.3.min.js}"></script>

<script>
    $(function(){

    })
</script>
</body>

</html>