<!DOCTYPE html>
<html class="with-statusbar ios device-pixel-ratio-2 device-retina device-ios device-ios-11 device-ios-11-0 device-ios-gt-10 device-ios-gt-9 device-ios-gt-8 device-ios-gt-7 device-ios-gt-6 support-position-sticky">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title>项目情况</title>
    <link rel="stylesheet" th:href="@{/css/framework7.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/cover.css}">
    <script th:inline="javascript">
        var deviceWidth = document.documentElement.clientWidth;
        if(deviceWidth > 1080) deviceWidth = 1080;
        document.documentElement.style.fontSize = deviceWidth / 10.8 + 'px';
        var contextPath = /*[[@{/}]]*/;
        var ip = /*[[${#request.getLocalAddr()}]]*/;
        var port = /*[[${#request.getLocalPort()}]]*/;
        var scheme=/*[[${#request.getScheme()}]]*/;
        var serverName=/*[[${#request.getServerName()}]]*/;
        var port=/*[[${#request.getServerPort()}]]*/;
        var absolutePath = scheme+"://"+serverName+":"+port;
        var imgPath=absolutePath+"/uploadimg/"
    </script>
    <script th:src="@{/js/framework7.min.js}"></script>
</head>
<body>
<div id="app" class="wrapper framework7-root">
    <div class="statusbar"></div>

    <div class="view view-main view-init ios-edges" >
        <div class="navbar no-hairline" style="background:#ffffff;">
            <div class="navbar-inner" style="">
                <form class="searchbar" action="http://localhost:8080/wx/common/project" method="get">
                    <div class="searchbar-inner"  style="background:none;">
                        <div style="flex-shrink:0;" >
                            <select name="" id="" class="pkee text-base-color f30 bdr-clr"  style="width:100px">
                                <option value="projectName">项目名称</option>
                            </select>
                        </div>
                    <!--    <i class=" ser-btn  text-base-color f7-icons f32"  style="width:20px">&or;</i>-->
                        <div class="ser-box">
                            <input type="search" placeholder=""  name="projectName" id="serch" class="f28">
                            <i class="searchbar-icon"></i>
                        </div>
                        <span class="ser-btn text-base-color f30 bdr-clr" style="" onclick="serch()">搜索</span>
                    </div>
                </form>
            </div>

        </div>
        <div class="pages">

            <div class="page" data-page="home">

                <div class="page-content infinite-scroll-content">

                    <div class="list media-list  " style="margin:10px 0">
                        <ul id="listview">
                           <!-- <li class="plist rcard">
                                <div class="item-content">
                                    <div class="item-media">
                                        <img th:src="@{/img/proimg.jpg}" class="proview" />
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row">
                                            <div class="item-title f32">项目名称：</div>
                                        </div>
                                        <div class="item-text ">广西东泉湖智能生态环境建设工程项目</div>
                                        <div class="item-title-row">
                                            <div class="item-title f32">项目编号：</div>
                                        </div>
                                        <div class="item-text ">GK6844544646</div>
                                    </div>
                                </div>
                            </li>-->
                        </ul>
                    </div>

                    <div class="preloader infinite-scroll-preloader"></div>
                </div>

        </div>
       <!-- <div class="toolbar tabbar">
            <div class="toolbar-inner">

            </div>
    </div>-->
</div>
        </div>
 </div>
<script th:src="@{/ace/assets/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
        var sourceId = [[${sourceId}]];
        console.log(sourceId)
    var sourceId="gh_f5a46974c0f6";
    var $$ = Dom7;
    // Loading flag
    var allowInfinite = true;
    // Last loaded index
    var lastItemIndex = -1;
    var maxItems = 0;
    // Max items to load
    // Append items per load
    var itemsPerLoad = 8;
    var pageNum=1;
    var app = new Framework7({
        id: 'io.framework7.testapp',
        root: '#app',
        theme: "ios",
        data: function () {
            return {
                allowInfinite: true,
                lastItem: 20,
            }
        },
        statusbar: {
            enabled:false,
            overlay:false,
            iosBackgroundColor:"#018c53",
            materialBackgroundColor:"#018c53",
            iosOverlaysWebView: true,
        },
        overlay:false,
        on:{
            init:function(page){
                initList()
            }
        }


    });


    app.infiniteScroll.create(".infinite-scroll-content")


    function serch(){
         maxItems = 0;
         pageNum=1;
        console.log($("#serch").val())
        $('.list li').remove()
        initList()
    }

    function initList(){
        allowInfinite = false;
        console.log(lastItemIndex,maxItems)
        var  projectName= $("#serch").val()

        $.ajax({
            url: "/wx/common/projectList",
            type:"get",
            data:{
                sourceId:sourceId,
                pageNum:pageNum,
                pageSize:itemsPerLoad,
                projectName:projectName

            },
            success:function(data){
                allowInfinite = true;
                alert(data)
                console.log(data)
                var html = '';
                if(data.status==200){
                    maxItems = data.content.total
                    data.content.list.forEach(function(item,i){
                        console.log(item)
                        html += '<li class="plist rcard" data-projectid='+item.projectId+'>'+
                                '<div class="item-content">'+
                                '<div class="item-media">'+
                                '<img src="/img/proimg.jpg" class="proview" />'+
                                '</div>'+
                                '<div class="item-inner ">'+
                                '<div class="item-title-row">'+
                                '<div class="item-title f32">项目名称：</div>'+
                                '</div>'+
                                '<div class="item-text ">'+item.projectName+'</div>'+
                                '<div class="item-title-row">'+
                                '<div class="item-title f32">项目编号：</div>'+
                                '</div>'+
                               '<div class="item-text ">'+item.projectId+'</div>'+
                                '</div>'+
                                '</div>'+
                                '</li>';
                    })
                    $$('#listview').append(html);
                    lastItemIndex = $$('.list li').length;
                    pageNum++;

                    if (lastItemIndex >= maxItems) {
                        // Nothing more to load, detach infinite scroll events to prevent unnecessary loadings
                        app.infiniteScroll.destroy('.infinite-scroll-content');
                        // Remove preloader
                        $$('.infinite-scroll-preloader').remove();
                        return;
                    }
                }









            }
        })
    }

    // Attach 'infinite' event handler
    $$('.infinite-scroll-content').on('infinite', function () {
        // Exit, if loading in progress
        if (!allowInfinite) return;

        // Set loading flag
        allowInfinite = false;

        // Emulate 1s loading
        initList()
    });


    $$("#listview").on("click",'.rcard',function(e){
        console.dir(e)
        var projectid =$(e.target).closest(".rcard").data("projectid");
        window.location.href="/wx/common/projectinfo?projectid="+projectid;
    })
</script>

</body>
</html>