<!DOCTYPE html>
<html class="">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title>项目详情</title>
    <link rel="stylesheet" th:href="@{/css/framework7.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/cover.css}">
    <script>
        var deviceWidth = document.documentElement.clientWidth;
        if(deviceWidth > 1080) deviceWidth = 1080;
        document.documentElement.style.fontSize = deviceWidth / 10.8 + 'px';
    </script>
    <script th:src="@{/js/framework7.min.js}"></script>
    <style>
        .toolbar .toolbar-inner{
            display:none;
        }
       .toolbar .active{
           display: flex;
       }
    </style>
</head>
<body>
<div id="app" class="wrapper framework7-root">
    <div class="statusbar"></div>

    <div class="view view-main view-init ios-edges" >
     <!--   <div class="navbar no-hairline">
            <div class="navbar-inner">
                <div class="left" style="width:28px">
                    <a href="#" class="link back">
                        <i class="f7-icons size-22" style="color:#FFFFFF" >left</i>
                    </a>
                </div>
                <div class="title">项目详情</div>
                <div class="right" style="width:28px">   <i class="f7-icons size-18" >&bull;&bull;&bull;</i></div>

            </div>

        </div>-->
        <div class="fab fab-right-bottom fab-morph" style="bottom:45px">
            <a th:href="@{/wx/common/equipment}">
                设备<br/>列表
                <!--<i class="icon f7-icons">add</i>-->
            </a>
        </div>
        <div class="pages">

            <div class="page projectinfo" data-page="home">

                <div class="page-content infinite-scroll-content">

                    <div class="content-block" style="position:relative;">
                        <img th:src="@{/img/proimg.jpg}" class="response" />
                        <div style="position:absolute;bottom:20px;left:7px;background: #3c8dbc;color:#ffffff;padding:10px">
                            <div class="f32">广西东泉湖智能生态环境建设工程项目</div>
                            <div class="f32">GK6844544646</div>
                        </div>
                    </div>

                    <div class="content-block">
                        <div class="content-title"> 项目负责人</div>
                        <table class="table">
                            <colgroup>
                                <col width="20%" />
                                <col  width="30%"/>
                                <col width="50%"  />
                            </colgroup>
                            <thead>
                            <tr><th>姓名</th><th>手机号</th><th>邮箱</th></tr>
                            </thead>
                            <tbody id="charge">
                            <tr>
                               <!-- <td>张天胡丽 </td><td>15954654889</td><td>644169206@qq.com</td></tr>-->
                            </tbody>
                        </table>
                    </div>
                    <div class="content-block">
                        <div class="content-title"> 客户联系人</div>
                        <table class="table">
                            <colgroup>
                                <col width="20%" />
                                <col  width="30%"/>
                                <col width="50%"  />
                            </colgroup>
                            <thead>
                            <tr><th>姓名</th><th>手机号</th><th>邮箱</th></tr>
                            </thead>
                            <tbody id="clienter">
                            <!--<tr>
                                <td>唐浩 </td><td>15954654889</td><td>644169206@qq.com</td></tr>
                               <tr> <td>胡丽娜 </td><td>15954654889</td><td>644169206@qq.com</td></tr>-->
                            </tbody>
                        </table>
                    </div>
                    <div class="list media-list content-block">
                        <div class="content-title">评论（10）</div>
                        <ul id="listview">
                          <!--  <li class="plist ">
                                <div class="item-content comment-box">
                                    <div class="item-media">
                                        <img th:src="@{/img/saleimg.jpg}" class="saleimg" />
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row">
                                            <div class="item-title f32">销售员老李：</div>
                                            <div class="item-after f32">2018.04.25</div>
                                        </div>
                                        <div class="item-text" style="text-indent: 2em">
                                            接到局方通知，下个月局方营销部要采购一批净化设备器材，采购书已发出，真正询价。
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content repley-box" style="border-top:1px solid #c9c9c9">
                                    <div class="item-media">
                                        <div class="saleimg"></div>
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row ">
                                            <div class="item-after f28 repley"><img th:src="@{/img/reply.png}" style="width:10px;height:9px;align-self: center;" alt=""/>回复</div>
                                        </div>
                                        <div id="demo" class="item-text" style="border:1px solid #c9c9c9;padding:10px;">
                                            <div class="comment"><span class="f-u">山居盘李总</span>:其它用户可以通过回复图标回复这个人的评论。</div>
                                            <div class="comment"><span class="f-u">小A</span>&nbsp;回复&nbsp山居盘李总:其它人也可以回复此评论，或者单独回复这个里的每
                                                个人。</div>
                                        </div>
                                    </div>
                                </div>
                            </li>-->

                        </ul>
                    </div>
                    <div class="preloader infinite-scroll-preloader"></div>
                </div>

            </div>

        </div>
        <div class="toolbar tabbar">
            <div id="repley" class="toolbar-inner" style="padding:0 10px">

                <a class=" toggle-sheet comm1 text-base-color f30" href="#" >
                    回复
                </a>
                <div class="messagebar-area  comm2 ">
                    <textarea id="repley-text" class="f28" style="padding:3px;    width: 100%;" ></textarea>
                </div>
                <a id="confirm" class="comm3 text-base-color f30" href="#"  >确认</a>


            </div>
            <div id="comment" class="toolbar-inner active" style="padding:0 10px">

            <a class=" toggle-sheet comm1 text-base-color f30" href="#" >
                评论
            </a>
            <div class="messagebar-area  comm2 ">
                <textarea class="f28" style="padding:3px;    width: 100%;" ></textarea>
            </div>
            <a  class="comm3 text-base-color f30" href="#"  >评论</a>


        </div>

        </div>
    </div>
</div>
<script th:src="@{/ace/assets/js/jquery-2.1.4.min.js}"></script>
<script>
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
   var projectid= GetRequest().projectid
    console.log(GetRequest())
</script>
<script>
    var $$ = Dom7;
    // Loading flag
    var allowInfinite = true;
    // Last loaded index
    var lastItemIndex = -1;
    var maxItems = 0;
    // Max items to load
    // Append items per load
    var itemsPerLoad = 8;
    var pageNum=1;
    var app = new Framework7({
        id: 'io.framework7.testapp',
        root: '#app',
        theme: "ios",
        data: function () {
            return {
                allowInfinite: true,
                lastItem: 20,
            }
        },
        statusbar: {
            enabled:false,
            overlay:false,
            iosBackgroundColor:"#018c53",
            materialBackgroundColor:"#018c53",
            iosOverlaysWebView: true,
        },
        overlay:false,
        on:{
            init:function(page){
                initList()
            }
        }

    });
    app.infiniteScroll.create(".infinite-scroll-content")


    function serch(){
        maxItems = 0;
        pageNum=1;
        console.log($("#serch").val())
        $('.list li').remove()
        initList()
    }
/*    wx/common/common?projectId=9*/
    $.ajax({
        url: "/wx/common/getProject",
        type:"get",
        data:{
            sourceId:"gh_f5a46974c0f6",
            pageNum:pageNum,
            pageSize:itemsPerLoad,
            projectId:55,
        },
        success:function(data){


            console.log(data)

            if(data.status=='200'){
                if(data.content.projectChargeUser.length>0){
                    var str =  data.content.projectChargeUser.reduce(function(total,next){
                        return total+'<tr><td>'+next.name+'</td>'+'<td>'+next.mobile+'</td>'+'<td>'+next.email+'</td></tr>'
                    },"")

                    $("#charge").html(str)

                }

                if(data.content.projectCustomers.length>0){
                  var str =  data.content.projectCustomers.reduce(function(total,next){
                        return total+'<tr><td>'+next.conName+'</td>'+'<td>'+next.conTel+'</td>'+'<td>'+next.conQQ+'</td></tr>'
                    },"")

                    $("#clienter").html(str)

                }

            }










        }
    })
    function initList(){
        allowInfinite = false;
        console.log(lastItemIndex,maxItems)

        $.ajax({
            url: "/wx/common/commentsList",
            type:"get",
            data:{
                sourceId:"gh_f5a46974c0f6",
                pageNum:pageNum,
                pageSize:itemsPerLoad,
                projectId:1,
            },
            success:function(data){
                allowInfinite = true;

                console.log(data)
                var html = '';
                if(data.status==200){
                    maxItems = data.content.total
                    data.content.list.forEach(function(item,i){
                        console.log(item)

                        var inner =[]


                        if(item.children.length>0){
                            inner.push('<div id="" class="item-text" style="border:1px solid #c9c9c9;padding:10px;">')
                            item.children.forEach(function(item,i){
                                var str= '<div class="comment"><span class="f-u">'+item.user.name+'</span>&nbsp;回复&nbsp</span><span>'+item.parentName+':</span>'+item.projectCommentsContent+'</div>'
                                inner.push(str)
                            })
                            inner.push('</div>')

                        }

                        html += '<li class="plist ">'+
                                '<div class="item-content comment-box">'+
                                '<div class="item-media">'+
                                '<img src="/img/saleimg.jpg" class="saleimg" />'+
                                '</div>'+
                                '<div class="item-inner ">'+
                                '<div class="item-title-row">'+
                                '<div class="item-title f32">'+item.user.name+'：</div>'+
                        '<div class="item-after f32">'+item.projectCommentsCreateTime+'</div>'+
                       '</div>'+
                        '<div class="item-text" style="text-indent: 2em">'+ item.projectCommentsContent+
                        '</div>'+
                       ' </div>'+
                        '</div>'+
                        '<div class="item-content repley-box" style="border-top:1px solid #c9c9c9">'+
                                '<div class="item-media">'+
                                '<div class="saleimg"></div>'+
                                '</div>'+
                                '<div class="item-inner ">'+
                                '<div class="item-title-row ">'+
                                '<div class="item-after f28 repley"><img src="/img/reply.png" style="width:10px;height:9px;align-self: center;" alt=""/>回复</div>'+
                                '</div>'+ inner.join("")+
                        '</div>'+
                        '</div>'+
                        '</li>'
                    })
                    $$('#listview').append(html);
                    console.log(html)
                    lastItemIndex = $$('.list li').length;
                    pageNum++;

                    if (lastItemIndex >= maxItems) {
                        // Nothing more to load, detach infinite scroll events to prevent unnecessary loadings
                        app.infiniteScroll.destroy('.infinite-scroll-content');
                        // Remove preloader
                        $$('.infinite-scroll-preloader').remove();
                        return;
                    }
                }









            }
        })
    }

    // Attach 'infinite' event handler
    $$('.infinite-scroll-content').on('infinite', function () {
        // Exit, if loading in progress
        if (!allowInfinite) return;

        // Set loading flag
        allowInfinite = false;

        initList()
    });
    $$(".fab-morph").on("click",function(){
        window.location.href="/wx/common/equipment"
    })

    $$("#listview").on("click",".repley",function(e){
        $$("#repley").addClass("active").siblings().removeClass("active");
        $$("#repley textarea").focus();

    })

    $$("#listview").on("click",".f-u",function(e){

        $$("#repley").addClass("active").siblings().removeClass("active");
        $$("#repley textarea").focus();
        $$("#repley textarea").val("回复三局盘李总")

    })

    $$("#repley textarea").on("blur",function(){
        $$("#repley").removeClass("active").siblings().addClass("active");
    });

    $$("#confirm").on("click",function(){
        var content =  $$("#repley-text").val()

        var arr=[
            '<div class="comment"><span class="f-u">',
            '小A',
            '</span><span>&nbsp;回复&nbsp;</span><span class="t-u1">',
            '山居盘李总',
            '</span><span>:</span>',
            content,
            '</div>'



        ]


        $$("#demo").append(arr.join(""))
    })
</script>

</body>
</html>