<!DOCTYPE html>
<html class="">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title>项目详情</title>
    <link rel="stylesheet" th:href="@{/css/framework7.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/cover.css}">
    <script>
        var deviceWidth = document.documentElement.clientWidth;
        if(deviceWidth > 1080) deviceWidth = 1080;
        document.documentElement.style.fontSize = deviceWidth / 10.8 + 'px';
    </script>
    <script th:src="@{/js/framework7.min.js}"></script>
    <style>
        .toolbar .toolbar-inner{
            display:none;
        }
       .toolbar .active{
           display: flex;
       }
    </style>
</head>
<body>
<div id="app" class="wrapper framework7-root">
    <div class="statusbar"></div>

    <div class="view view-main view-init ios-edges" >
     <!--   <div class="navbar no-hairline">
            <div class="navbar-inner">
                <div class="left" style="width:28px">
                    <a href="#" class="link back">
                        <i class="f7-icons size-22" style="color:#FFFFFF" >left</i>
                    </a>
                </div>
                <div class="title">项目详情</div>
                <div class="right" style="width:28px">   <i class="f7-icons size-18" >&bull;&bull;&bull;</i></div>

            </div>

        </div>-->
        <div class="fab fab-right-bottom fab-morph" style="bottom:45px">
            <a th:href="@{/wx/common/equipment}">
                设备<br/>列表
                <!--<i class="icon f7-icons">add</i>-->
            </a>
        </div>
        <div class="pages">

            <div class="page" data-page="home">

                <div class="page-content infinite-scroll-content">

                    <div class="list media-list ">
                        <ul id="">
                            <li class="plist card">
                                <div class="item-content">
                                    <div class="item-media">
                                        <img th:src="@{/img/proimg.jpg}" class="proview" />
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row">
                                            <div class="item-title f32">广西东泉湖智能生态环境建设工程</div>
                                        </div>
                                        <div class="item-text "><span>项目编号：</span>GK6844544646</div>
                                        <div class="item-text "><span>建设方业主：</span>张图强</div>
                                        <div class="item-text "><span>项目负责人：</span>吴景鹏</div>
                                        <div class="item-text "><span>业主联系电话：</span>028-8688 0234</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list media-list ">
                        <div class="block-title  text-base-color fw">项目评论（10）</div>
                        <ul id="listview">
                            <li class="plist card">
                                <div class="item-content comment-box">
                                    <div class="item-media">
                                        <img th:src="@{/img/saleimg.jpg}" class="saleimg" />
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row">
                                            <div class="item-title f32">销售员老李：</div>
                                            <div class="item-after">2018.04.25</div>
                                        </div>
                                        <div class="item-text" style="text-indent: 2em">
                                            接到局方通知，下个月局方营销部要采购一批净化设备器材，采购书已发出，真正询价。
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content repley-box" style="border-top:1px solid #c9c9c9">
                                    <div class="item-media">
                                        <div class="saleimg"></div>
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row ">
                                            <div class="item-after f28 repley"><img th:src="@{/img/reply.png}" style="width:10px;height:9px;align-self: center;" alt=""/>回复</div>
                                        </div>
                                        <div id="demo" class="item-text" style="border:1px solid #c9c9c9;padding:10px;">
                                            <div class="comment"><span class="f-u">山居盘李总</span>  <span>:</span>其它用户可以通过回复图标回复这个人的评论。</div>
                                            <div class="comment"><span class="f-u">小A</span><span>&nbsp;回复&nbsp;</span><span class="t-u">山居盘李总</span>  <span>:</span>其它人也可以回复此评论，或者单独回复这个里的每
                                                个人。</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="plist card">
                                <div class="item-content">
                                    <div class="item-media">
                                        <img th:src="@{/img/saleimg.jpg}" class="saleimg" />
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row">
                                            <div class="item-title f32">销售员老李：</div>
                                            <div class="item-after">2018.04.25</div>
                                        </div>
                                        <div class="item-text" style="text-indent: 2em">
                                            接到局方通知，下个月局方营销部要采购一批净化设备器材，采购书已发出，真正询价。
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content " style="border-top:1px solid #c9c9c9">
                                    <div class="item-media">
                                        <div class="saleimg"></div>
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row ">
                                            <div class="item-after f28 repley"><img th:src="@{/img/reply.png}" style="width:10px;height:9px;align-self: center;" alt=""/>回复</div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="plist card">
                                <div class="item-content">
                                    <div class="item-media">
                                        <img th:src="@{/img/saleimg.jpg}" class="saleimg" />
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row">
                                            <div class="item-title f32">销售员老李：</div>
                                            <div class="item-after">2018.04.25</div>
                                        </div>
                                        <div class="item-text" style="text-indent: 2em">
                                            接到局方通知，下个月局方营销部要采购一批净化设备器材，采购书已发出，真正询价。
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content " style="border-top:1px solid #c9c9c9">
                                    <div class="item-media">
                                        <div class="saleimg"></div>
                                    </div>
                                    <div class="item-inner ">
                                        <div class="item-title-row ">
                                            <div class="item-after f28 repley"><img th:src="@{/img/reply.png}" style="width:10px;height:9px;align-self: center;" alt=""/>回复</div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="preloader infinite-scroll-preloader"></div>
                </div>

            </div>

        </div>
        <div class="toolbar tabbar">
            <div id="repley" class="toolbar-inner" style="padding:0 10px">

                <a class=" toggle-sheet comm1 text-base-color f30" href="#" >
                    回复
                </a>
                <div class="messagebar-area  comm2 ">
                    <textarea id="repley-text" class="f28" style="padding:3px;    width: 100%;" ></textarea>
                </div>
                <a id="confirm" class="comm3 text-base-color f30" href="#"  >确认</a>


            </div>
            <div id="comment" class="toolbar-inner active" style="padding:0 10px">

            <a class=" toggle-sheet comm1 text-base-color f30" href="#" >
                评论
            </a>
            <div class="messagebar-area  comm2 ">
                <textarea class="f28" style="padding:3px;    width: 100%;" ></textarea>
            </div>
            <a  class="comm3 text-base-color f30" href="#"  >评论</a>


        </div>

        </div>
    </div>
</div>
<script>
    var app = new Framework7({
        id: 'io.framework7.testapp',
        root: '#app',
        theme: "ios",
        data: function () {
            return {
                allowInfinite: true,
                lastItem: 20,
            }
        },
        statusbar: {
            enabled:false,
            overlay:false,
            iosBackgroundColor:"#018c53",
            materialBackgroundColor:"#018c53",
            iosOverlaysWebView: true,
        },
        overlay:false,

    });
    app.infiniteScroll.create(".infinite-scroll-content")
    var $$ = Dom7;

    // Loading flag
    var allowInfinite = true;

    // Last loaded index
    var lastItemIndex = $$('.list li').length;

    // Max items to load
    var maxItems = 200;

    // Append items per load
    var itemsPerLoad = 20;

    // Attach 'infinite' event handler
    $$('.infinite-scroll-content').on('infinite', function () {
        // Exit, if loading in progress
        if (!allowInfinite) return;

        // Set loading flag
        allowInfinite = false;

        // Emulate 1s loading
        setTimeout(function () {
            // Reset loading flag
            allowInfinite = true;

            if (lastItemIndex >= maxItems) {
                // Nothing more to load, detach infinite scroll events to prevent unnecessary loadings
                app.infiniteScroll.destroy('.infinite-scroll-content');
                // Remove preloader
                $$('.infinite-scroll-preloader').remove();
                return;
            }

            // Generate new items HTML
            var html = '';


            for (var i = lastItemIndex + 1; i <= lastItemIndex + itemsPerLoad; i++) {




                html +=   '<li class="plist card">'+
                        '<div class="item-content">'+
                        '<div class="item-media">'+
                        '<img src="/img/saleimg.jpg" class="saleimg" />'+
                        '</div>'+
                        '<div class="item-inner ">'+
                        '<div class="item-title-row">'+
                        '<div class="item-title f32">销售员老李：</div>'+
                        '<div class="item-after">2018.04.25</div>'+
                        '</div>'+
                        '<div class="item-text" style="text-indent: 2em">'+
                        '接到局方通知，下个月局方营销部要采购一批净化设备器材，采购书已发出，真正询价。</div>'+
                '</div>'+
                '</div>'+
                        '<div class="item-content " style="border-top:1px solid #c9c9c9">'+
                        '<div class="item-media">'+
                        '<div class="saleimg"></div>'+
                        '</div>'+
                        '<div class="item-inner ">'+
                        ' <div class="item-title-row ">'+
                        '<div class="item-after f28 repley"><img src="/img/reply.png" style="width:10px;height:9px;align-self: center;" alt=""/>回复</div>'+
                        '</div>'+
                        '</div>'+
                        '</div>'+
                        '</li>'
            }

            // Append new items
            $$('#listview').append(html);

            // Update last loaded index
            lastItemIndex = $$('.list li').length;
        }, 1000);
    });
    $$(".fab-morph").on("click",function(){
        window.location.href="/wx/common/equipment"
    })

    $$("#listview").on("click",".repley",function(e){
        $$("#repley").addClass("active").siblings().removeClass("active");
        $$("#repley textarea").focus();

    })

    $$("#repley textarea").on("blur",function(){
        $$("#repley").removeClass("active").siblings().addClass("active");
    });

    $$("#confirm").on("click",function(){
        var content =  $$("#repley-text").val()

        var arr=[
            '<div class="comment"><span class="f-u">',
            '小A',
            '</span><span>&nbsp;回复&nbsp;</span><span class="t-u">',
            '山居盘李总',
            '</span><span>:</span>',
            content,
            '</div>'



        ]


        $$("#demo").append(arr.join(""))
    })
</script>

</body>
</html>