<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
        class=" ios device-pixel-ratio-2 device-retina device-ios device-ios-11 device-ios-11-0 device-ios-gt-10 device-ios-gt-9 device-ios-gt-8 device-ios-gt-7 device-ios-gt-6 support-position-sticky">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title>用户参数</title>
    <link rel="stylesheet" th:href="@{/css/framework7.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/cover.css}">
    <script th:src="@{/js/framework7.min.js}"></script>
    <script th:inline="javascript">
        var deviceWidth = document.documentElement.clientWidth;
        if(deviceWidth > 1080) deviceWidth = 1080;
        document.documentElement.style.fontSize = deviceWidth / 10.8 + 'px';
        var contextPath = /*[[@{/}]]*/;
        var ip = /*[[${#request.getLocalAddr()}]]*/;
        var port = /*[[${#request.getLocalPort()}]]*/;
        var scheme=/*[[${#request.getScheme()}]]*/;
        var serverName=/*[[${#request.getServerName()}]]*/;
        var port=/*[[${#request.getServerPort()}]]*/;
        var absolutePath = scheme+"://"+serverName+":"+port;
        var imgPath=absolutePath+"/uploadimg/"
    </script>
  <style>
      input.error{
          border:1px dotted red !important;
      }

      .errorGroup{
          padding:15px;
          color:red;
      }
  </style>
</head>
<body>
<div id="app" class="wrapper framework7-root">
    <div class="statusbar"></div>

    <div class="view view-main view-init ios-edges " >

        <div class="pages">
            <div class="page params" data-page="home">
                <div class="page-content ">

                    <form id="form"class="list card f30">
                        <input type="hidden" name ="device_production_num"  />
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">清洗周期</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30"  name ="clear_cyc"  onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px">分钟</span>
                                    </div>
                                </div>
                            </div></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">单元冲洗时间</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30" name="clear_time" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px">秒</span>
                                    </div>
                                </div>
                            </div></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">单元间隔时间</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30" name="unit_interval" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px">秒</span>
                                    </div>
                                </div>
                            </div></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">主阀延时时间</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30" name="main_valve_delay_time" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px">秒</span>
                                    </div>
                                </div>
                            </div></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">压差延时时间</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30" name="p_delay_time" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px">秒</span>
                                    </div>
                                </div>
                            </div></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">压差清洗启动门限</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30" name="p_threshold" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px"> Mpa</span>
                                    </div>
                                </div>
                            </div></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">压差清洗次数清零时间</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30" name="p_clear_time" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px">秒</span>
                                    </div>
                                </div>
                            </div></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">压差连续清洗告警次数</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30" name="p_warning" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px">次</span>
                                    </div>
                                </div>
                            </div></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">电机动作周期</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30" name="power_cyc" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px">秒</span>
                                    </div>
                                </div>
                            </div></li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title text-base-color">压差电机启动门限</div>
                                    <div class="item-after">
                                        <div style="flex-shrink:0" >
                                            <input type="text" class="pkee text-base-color f30" name="p_power_threshold" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  style="width:106px;margin-right:4px;"/>

                                        </div>
                                        <span class="pkee text-base-color f30 text-align-center"  style="width:30px">Mpa</span>
                                    </div>
                                </div>
                            </div></li>
                    </ul>
                        <div class="errorGroup">
                        </div>
                    </form>

                    <div class="col" id="bud"><a class="button convert-form-to-data" href="#" >提交</a></div>
                </div>
            </div>

        </div>
        </div>
    </div>
<script>
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    var projectid= GetRequest().projectid
    console.log(GetRequest())
</script>
<script th:src="@{/ace/assets/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/ace/assets/js/jquery.validate.min.js}"></script>
<script>
    jQuery.prototype.serializeObject=function(){
        var obj=new Object();
        $.each(this.serializeArray(),function(index,param){
            if(!(param.name in obj)){
                obj[param.name]=param.value;
            }
        });
        return obj;
    };
    $.validator.addMethod("af",function(value,element,params){
        if(value.length>1){
            return false;
        }
        if(value>=params[0] && value<=params[1]){
            return true;
        }else{
            return false;
        }
    },"必须是一个字母,且a-f");
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    var equipnum= GetRequest().equipnum
    console.log(GetRequest())
</script>
<script type="text/javascript" th:inline="javascript">
    var sourceId = [[${sourceId}]];
    sourceId =sourceId||'gh_f5a46974c0f6';
    function  initList(){
        $.ajax({
            url: "/wd/getDeviceParams",
            type:"get",
            data:{
                num:equipnum

            },
            success:function(data){

                if(data.status==200){

                    var formData={}

                    var o =data.content.deviceUserParam


                    for(var pro in o){
                        if(o.hasOwnProperty(pro)){

                            o[pro]=o[pro]
                        }
                    }
                    console.log(o)
                    app.form.fillFromData('#form', o);

                }









            }
        })
    }
    var app = new Framework7(
            {
                id: 'io.framework7.testapp',
                root: '#app',
                theme: "ios",
                on:{
                    init:function(page){
                        initList()


                        var $form = $('#form').validate({
                          /*  errorPlacement: function(error, element) {
                                console.log(element.closest(".item-after"))
                                error.insertBefore(element.closest(".item-after"));
                            },*/
                            errorContainer: "div.errorGroup",
                            errorElement:"div",
                            errorLabelContainer: $("#form div.errorGroup"),
                            submitHandler:function(form){

                                var formData = app.form.convertToData('#form');
                                console.log(formData);

                                $.ajax({
                                    url: contextPath+"api/UserTab/json/",
                                    type: "POST",
                                    data : JSON.stringify(formData),
                                    contentType: "application/json",
                                    dataType : "json",

                                })
                            },

                            rules:{
                                clear_cyc:{
                                    required:true,
                                    range:[0,9999]
                                },
                                clear_time:{
                                    required:true,
                                    range:[0,999]
                                },
                                unit_interval:{
                                    required:true,
                                    range:[-99,99]
                                },
                                main_valve_delay_time:{
                                    required:true,
                                    range:[0,99]
                                },
                                p_delay_time:{
                                    required:true,
                                    range:[10,33]
                                },
                                p_threshold:{
                                    required:true,
                                    range:[0,70]
                                },
                                p_clear_time:{
                                    required:true,
                                    range:[0,255]
                                },
                                p_warning:{
                                    required:true,
                                    range:[1,10]
                                },
                                power_cyc:{
                                    required:true,
                                    range:[0,99]
                                },
                                p_power_threshold:{
                                    required:true,
                                    range:[0,70]
                                },
                            },
                            messages:{
                                clear_cyc:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                },
                                clear_time:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                },
                                unit_interval:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                },
                                main_valve_delay_time:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                },
                                p_delay_time:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                },
                                p_threshold:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                },
                                p_clear_time:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                },
                                p_warning:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                },
                                power_cyc:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                },
                                p_power_threshold:{
                                    required: "必选字段",
                                    range: "请输入一个介于 {0} 和 {1} 之间的值",
                                }
                            },

                        });
                        $("#bud").on("click",function(){
                            $('#form').submit()
                        })
                    }
                }
            }
    )


</script>
</body>
</html>