<!DOCTYPE html>
<html>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/gzh.css}">
<div th:replace="import::hdr"></div>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor">
</div>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!--公众号列表页面-->
   <div id="gzh-index">
    <!-- Content Header (Page header) -->
     <section class="content-header">
      <h1>
        公众号列表
      </h1>
    </section>
    <!--搜索公众号一栏-->
     <section class="content-header change-content margin-30">
      <div class="row">
        <div class="col-md-10 col-sm-10  col-xs-12">
          <strong class="form-group float-left" style="margin: 7px 5px 0 0;">公众号名称：</strong>
          <div class="input-group">
            <span class="input-group-addon ">
               <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control">
            <button type="button" class="btn btn-block btn-info search">搜索</button>
          </div>
        </div>
        <div class="col-md-2 col-sm-2  col-xs-12">
          <button type="button" class="btn btn-block btn-info" id="add-gzh">添加公众号</button>
        </div>
      </div>
    </section>
    <!--公众号列表表格-->
     <section class="content-list" style="margin-top: 25px;">
      <div class="row">
        <div class="col-md-12">
          <table id="deviceForm" class="display table table-bordered table-hover dataTable" style="width:100%">
            <thead>
            <tr>
              <th>公众号名称</th>
              <th>原始ID</th>
              <th>开发者ID</th>
              <th>开发者密码</th>
              <th>登录邮箱</th>
              <th>操作</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </section>
    <!--添加公众号弹窗-->
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
             <div class="modal-dialog" role="document">
                 <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="myModalLabel">添加公众号</h4>
                    </div>
                     <div class="modal-body">
                         <div class="form-group">
                             <label class="" for="txt_name">公众号名称</label>
                             <input type="text" name="txt_departmentname" class="form-control " id="txt_name"  placeholder="公众号名称">
                         </div>
                         <div class="form-group">
                             <label for="txt_firstID">原始ID</label>
                            <input type="text" name="txt_parentdepartment" class="form-control" id="txt_firstID" placeholder="原始ID">
                        </div>
                        <div class="form-group">
                             <label for="txt_departmentlevel">开发者ID</label>
                             <input type="text" name="txt_departmentlevel" class="form-control" id="txt_departmentlevel" placeholder="开发者ID">
                         </div>
                         <div class="form-group">
                             <label for="txt_psd">开发者密码</label>
                             <input type="text" name="txt_statu" class="form-control" id="txt_psd" placeholder="开发者密码">
                         </div>
                         <div class="form-group">
                             <label for="txt_email">登录邮箱</label>
                             <input type="text" name="txt_statu" class="form-control" id="txt_email" placeholder="开发者密码">
                         </div>
                     </div>
                     <div class="modal-footer">
                         <button type="button" id="btn_sure" class="btn btn-primary text-center" data-dismiss="modal">确定</button>
                         <button type="button" id="btn_cancel" class="btn btn-primary text-center" data-dismiss="modal">取消</button>
                       <button type="button" id="btn_reset" class="btn btn-primary text-center" data-dismiss="modal">重置</button>
                     </div>
                 </div>
             </div>
         </div>
   </div>
    <!--公众号管理页面-->
   <div id="gzh-manage" style="height: 768px;">
     <section class="content-header gzh-manage-menu">
       <a class="font-size-18 text-blue">用户管理</a>
       <a class="font-size-18 text-black">菜单管理</a>
       <a class="font-size-18 text-black">消息管理</a>
       <button class="btn btn-info search text-center pull-right">返回</button>
     </section>
     <div style="margin-left: 2.5%;margin-top:3%;width: 95%;height: 85%;">
         <section class="float-left gzh-search">
             <div class="input-group" style="margin: 3% 0px 0px 3%;">
             <span class="input-group-addon ">
             <i class="fa fa-search"></i>
             </span>
             <input type="text" class="form-control" style="width: 80%;">
             <button type="button" class="btn  btn-info search">搜索</button>
             </div>
             <ul class="list-group gzh-ul-manage">
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;">
             <span>公众号1</span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;">
             <span>公众号2</span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;">
             <span>公众号3</span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;">
             <span>公众号4</span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;">
             <span>公众号5</span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;">
             <span>公众号6</span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;">
             <span>公众号7</span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;">
             <span>公众号8</span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;">
             <span>公众号9</span>
             </li>
             </ul>
         </section>
         <section class="float-left gzh-chat">
             <h5 style="margin-left: 1%;">与公众号1聊天中</h5>
             <div class="marginLeft-1" style="width: 98%;border: 1px #4d4d4d solid;">
             <div class="chat-type">
             <span data-id="1"><i class="glyphicon glyphicon-film"></i>图文消息</span>
             <span data-id="2"><i class="glyphicon glyphicon-pencil"></i>文字</span>
             <span data-id="3"><i class="glyphicon glyphicon-picture"></i>图片</span>
             <span data-id="4"><i class="glyphicon glyphicon-ice-lolly"></i>语音</span>
             <span data-id="5"><i class="glyphicon glyphicon-hd-video"></i>视频</span>
             </div>
             <textarea class="form-control" rows="7" id="textInput"></textarea>
             </div>
             <button type="button" class="btn btn-info search marginLeft-1" style="margin-top:2%;width: 100px;display: inline-block;">发送</button>
             <div style="display: inline-block;">还可以输入100字</div>
             <h5 class="marginTop-2 marginLeft-1">最近20条聊天记录</h5>
             <ul class="list-group chat-ul" style="width: 98%;margin: 1% 0 0 1%;height:45%;overflow: auto;">
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;margin-top: -4%;">
             <span class="chat-history-ul">
             <a>公众号1<span class="text-right float-right">2018-4-9</span></a>
             <a>你好，晚上好</a>
             <a>今天都干了什么</a>
             </span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;margin-top: -4%;">
             <span class="chat-history-ul">
             <a>公众号1<span class="text-right float-right">2018-4-9</span></a>
             <a>你好，晚上好</a>
             <a>今天都干了什么</a>
             </span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;margin-top: -4%;">
             <span class="chat-history-ul">
             <a>公众号1<span class="text-right float-right">2018-4-9</span></a>
             <a>你好，晚上好</a>
             <a>今天都干了什么</a>
             </span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;margin-top: -4%;">
             <span class="chat-history-ul">
             <a>公众号1<span class="text-right float-right">2018-4-9</span></a>
             <a>你好，晚上好</a>
             <a>今天都干了什么</a>
             </span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;margin-top: -4%;">
             <span class="chat-history-ul">
             <a>公众号1<span class="text-right float-right">2018-4-9</span></a>
             <a>你好，晚上好</a>
             <a>今天都干了什么</a>
             </span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;margin-top: -4%;">
             <span class="chat-history-ul">
             <a>公众号1<span class="text-right float-right">2018-4-9</span></a>
             <a>你好，晚上好</a>
             <a>今天都干了什么</a>
             </span>
             </li>
             <li class="list-group-item">
             <img src="../dist/img/avatar.png" class="img-circle" alt="123"  width="50" height="50" style="border: 1px #3b3b3b solid;margin-top: -4%;">
             <span class="chat-history-ul">
             <a>公众号1<span class="text-right float-right">2018-4-9</span></a>
             <a>你好，晚上好</a>
             <a>今天都干了什么</a>
             </span>
             </li>
             </ul>
         </section>
     </div>
    </div>
      <!--素材库弹窗-->
      <div class="modal fade" id="sourceRoom" tabindex="-1" role="dialog" aria-labelledby="mySource" style="position: absolute;top:12%;">
          <div class="modal-dialog" role="document" style="width: 50%;">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-left" id="mySource">选择素材</h4>
                      <button type="button" class="btn btn-info float-right new-source">新建图文消息</button>

                  </div>
                  <div class="modal-body" style="height: 400px;">
                       毫无素材
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="btn-sure-source" class="btn btn-primary text-center" data-dismiss="modal">确定</button>
                      <button type="button" id="btn-cancel-source" class="btn btn-primary text-center" data-dismiss="modal">取消</button>
                  </div>
              </div>
          </div>
      </div>
      <!--素材库新建页面-->
      <div id="source-bulid" style="display: none;">
          <div class="source-title">素材管理</div>
          <div class="content-header gzh-source-type">
              <a class="">图文消息</a>
              <a class="">图片</a>
              <a class="">语音</a>
              <a class="">视频</a>
          </div>
          <div style="margin-top: 2%;">
              <span style="margin-left: 2%"><a class="new-type-name">图文消息</a><a>（共85条）</a></span>
              <div class="col-md-2 col-sm-2  col-xs-12 float-right">
                  <button type="button" class="btn btn-block btn-info btn-new-check">新建图文消息</button>
              </div>
          </div>
          <div style="height: 500px;border: 1px #e0e0e0 solid;margin-top: 2%;width: 95%;margin-left: 2%;"></div>
      </div>
     <!--/.content-->
  </div>
</div>
<div th:replace="import::scipt"></div>
<script th:src="@{/dist/js/gzh/gzh.js}"></script>
<script th:inline="javascript">
</script>
</body>
</html>
