<!DOCTYPE html>
<html>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/gzh.css}"/>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/webuploader.css}"/>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/imggrid.css}"/>
<div th:replace="import::hdr"></div>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor">
</div>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!--素材管理-->
   <div id="gzh-index">
    <!-- Content Header (Page header) -->
     <section class="content-header">
      <h1>
          素材管理
      </h1>
    </section>
     <section class="content-header change-content margin-30">
    </section>
   </div>
  </div>
</div>
<div th:replace="import::scipt"></div>
<script th:src="@{/dist/js/gzh/gzh.js}"></script>
<script th:src="@{/dist/js/gzh/webuploader.js}"></script>
<script th:src="@{/dist/js/gzh/imggrid.js}"></script>
<script th:inline="javascript">
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var wxPublicId = /*[[${wxPublicId}]]*/;
    /*]]>*/
</script>
</body>
</html>
