<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/gzh-l/menu-css.css}"/>
    <style>
        ol, ul{
            margin: 0!important;
        }
        .gzh-manage-menu{
            margin-top: 15px;
            margin-left: 5px;
        }
        .gzh-manage-menu a{
            color: #000000;
            padding: 0 15px;
            cursor: pointer;
        }
        .tex-color{
            color: #6FB3E0!important;
        }
        #backUl{
            margin-right: 35px;
            margin-top: -10px;
        }
    </style>
</head>
<body layout:fragment="content">

<div class="row">
    <div id="gzh-manage">
        <section class="content-header gzh-manage-menu">
            <a class="font-size-14" data-id="1">用户管理</a>
            <a class="font-size-14 tex-color" data-id="2">菜单管理</a>
            <a class="font-size-14" data-id="3">消息管理</a>
            <a class="font-size-14" data-id="4">素材管理</a>
            <button class="btn btn-info search text-center pull-right" id="backUl">返回</button>
        </section>
    </div>
    <!--菜单-->
    <div id="app" style="margin-top: 3%;">
        <div class="page-left display-inline position-relac">
            <ul class="menus">
                <li v-for="(item,i) in menu.button" :id="selectedMenuIndex" :id1="i"
                    :class="{current:selectedMenuIndex ===i&&selectedMenuLevel()==1}"
                    @click="selectedMenu(i,$event)">
                    <span>{{item.name}}</span>
                    <ul class="child-menu" v-show="selectedMenuIndex===i">
                        <li v-for="(child,i1) in item.childMenu" :id="selectedSubMenuIndex" :id1="i"
                            :class="{current:selectedSubMenuIndex===i1&&selectedMenuLevel()==2}"
                            @click.stop="selectedSubMenu(i1,$event)">
                            <span>{{child.name}}</span>
                        </li>
                        <li v-if="item.childMenu.length<5" @click.stop="addMenu(2)">
                            <i class="icon14_menu_add"></i>
                        </li>
                    </ul>
                </li>
                <li v-if="menu.button.length<3" @click="addMenu(1)">
                    <i class="icon14_menu_add"></i>
                </li>
            </ul>
        </div>
        <!--主菜单-->
        <div class="page-right display-inline" v-if="selectedMenuLevel()==1">
            <div class="menu-input-group" style="border-bottom: 2px #e8e8e8 solid;">
                <div class="menu-header">
                    <div class="menu-name mgl-5 float-left">{{menu.button[selectedMenuIndex].name}}</div>
                    <div class="menu-del mgr-5 float-right" @click="delMenu">删除菜单</div>
                </div>
                <div class="menu-input-group">
                    <div class="menu-labe mgt-5 float-left">菜单名称</div>
                    <div class="menu-jinput mgt-5">
                        <input type="text" class="float-left mgl-5" name="name" placeholder="请输入菜单名称"
                               v-model="menu.button[selectedMenuIndex].name">
                    </div>
                </div>
                <template v-if="menu.button[selectedMenuIndex].childMenu.length == 0">
                    <div class="menu-input-group">
                        <div class="menu-labe mgt-5 float-left">菜单内容</div>
                        <div class="menu-select  mgt-5 mgl-5 float-left">
                            <input type="radio" name="select" value="postMsg"
                                   id="select1" v-model="menu.button[selectedMenuIndex].isSelect">
                            <label for="select1">发送消息</label>
                        </div>
                        <div class="menu-select mgt-5 mgl-5 float-left">
                            <input type="radio" name="select" value="view" id="select2"
                                   v-model="menu.button[selectedMenuIndex].isSelect">
                            <label for="select2">跳转网页</label>
                        </div>
                    </div>
                    <div class="show-content"  v-if="selectTab()==1">
                        <ul class="sub-menu-select">
                            <li :type="menu.button[selectedMenuIndex].type"
                                :class="{active:currentSelect()==1}"
                                @click="subMenu(selectedMenuLevel(),'msg')">图文消息</li>
                            <li :type="menu.button[selectedMenuIndex].type"
                                :class="{active:currentSelect()==2}"
                                @click="subMenu(selectedMenuLevel(),'font')">视频</li>
                            <li :type="menu.button[selectedMenuIndex].type"
                                :class="{active:currentSelect()==3}"
                                @click="subMenu(selectedMenuLevel(),'photo')">图片</li>
                            <li :type="menu.button[selectedMenuIndex].type"
                                :class="{active:currentSelect()==4}"
                                @click="subMenu(selectedMenuLevel(),'voice')">语音</li>
                        </ul>
                        <div class="sub-menu-content" v-if="currentSelect() ==1">
                            <button class="ptFont display" @click="fromSelect">
                                <input type="text" v-model="menu.button[selectedMenuIndex].msgValue">
                            </button>
                            <div class="check">选择图文</div>
                        </div>
                        <div class="sub-menu-content" v-if="currentSelect() ==2">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].videoValue">
                            <div class="check">选择视频</div>
                        </div>
                        <div class="sub-menu-content" v-if="currentSelect() ==3">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].photoValue">
                            <div class="check">选择图片</div>
                        </div>
                        <div class="sub-menu-content" v-if="currentSelect() ==4">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].voiceValue">
                            <div class="check">选择音频</div>
                        </div>
                    </div>
                    <div class="show-content" v-if="selectTab()==2">
                        <input type="text" v-model="menu.button[selectedMenuIndex].url">
                    </div>
                </template>
            </div>
        </div>
        <!--子菜单-->
        <div class="page-right display-inline" v-if="selectedMenuLevel()==2">
            <div class="menu-input-group" style="border-bottom: 2px #e8e8e8 solid;">
                <div class="menu-header">
                    <div class="menu-name mgl-5 float-left">{{menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].name}}</div>
                    <div class="menu-del mgr-5 float-right"  @click="delSubMenu">删除子菜单</div>
                </div>
                <div class="menu-input-group">
                    <div class="menu-labe mgt-5 float-left">菜单名称</div>
                    <div class="menu-jinput mgt-5">
                        <input type="text" class="float-left mgl-5" name="name" placeholder="请输入子菜单名称"
                               v-model="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].name">
                    </div>
                </div>
                <template>
                    <div class="menu-input-group">
                        <div class="menu-labe mgt-5 float-left">菜单内容</div>
                        <div class="menu-select  mgt-5 mgl-5 float-left">
                            <input type="radio" name="select" value="postMsg"
                                   id="select3"
                                   v-model="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].isSelect">
                            <label for="select3">发送消息</label>
                        </div>
                        <div class="menu-select mgt-5 mgl-5 float-left">
                            <input type="radio" name="select" value="view" id="select4"
                                   v-model="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].isSelect">
                            <label for="select4">跳转网页</label>
                        </div>
                    </div>

                    <div class="show-content"  v-if="selectTab()==1">
                        <ul class="sub-menu-select">
                            <li :type="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].type"
                                :class="{active:currentSubSelect()==1}"
                                @click="subMenu(selectedMenuLevel(),'msg')">图文消息</li>
                            <li :type="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].type"
                                :class="{active:currentSubSelect()==2}"
                                @click="subMenu(selectedMenuLevel(),'font')">视频</li>
                            <li :type="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].type"
                                :class="{active:currentSubSelect()==3}"
                                @click="subMenu(selectedMenuLevel(),'photo')">图片</li>
                            <li :type="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].type"
                                :class="{active:currentSubSelect()==4}"
                                @click="subMenu(selectedMenuLevel(),'voice')">语音</li>
                        </ul>
                        <div class="sub-menu-content" v-if="currentSubSelect() ==1">
                            <button class="ptFont display" @click="fromSelect">
                                <input type="text" v-model="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].msgValue">
                            </button>
                            <div class="check">选择图文</div>
                        </div>
                        <div class="sub-menu-content" v-if="currentSubSelect() ==2">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].videoValue">
                            <div class="check">选择视频</div>
                        </div>
                        <div class="sub-menu-content" v-if="currentSubSelect() ==3">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].photoValue">
                            <div class="check">选择图片</div>
                        </div>
                        <div class="sub-menu-content" v-if="currentSubSelect() ==4">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].voiceValue">
                            <div class="check">选择音频</div>
                        </div>
                    </div>
                    <div class="show-content" v-if="selectTab()==2">
                        <input type="text" v-model="menu.button[selectedMenuIndex].childMenu[selectedSubMenuIndex].url">
                    </div>
                </template>
            </div>
        </div>
        <div style="clear: both;"></div>
        <button @click="submitData" class="submit" style="margin-top: 15px;">提交</button>



    </div>
    <!--弹出层-->
    <div id="materialList" style="display: none;">
        <table id="material-table" class="table table-responsive table-bordered">
            <thead>
            <tr>
                <th>素材名称</th>
                <th width="130">操作</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script th:src="@{/dist/js/gzh/vue.js}"></script>
<!--<script th:src="@{/dist/js/gzh/layer.js}"></script>-->
<script th:src="@{/dist/js/gzh/menu.js}"></script>
<script th:src="@{/dist/js/gzh/gzh-common.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var wxPublicId = /*[[${wxPublicId}]]*/;
    /*]]>*/
</script>

</body>

</html>