
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/gzh-l/menu-css.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/gzh-l/gzh-common.css}"/>
    <style>
        ol, ul{
            margin: 0!important;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body layout:fragment="content">

<div class="row">
    <div id="gzh-manage">
        <section class="content-header gzh-manage-menu">
            <a class="font-size-14" data-id="1">用户管理</a>
            <a class="font-size-14 tex-color" data-id="2">菜单管理</a>
            <a class="font-size-14" data-id="3">消息管理</a>
            <a class="font-size-14" data-id="4">素材管理</a>
            <button class="btn btn-info search text-center pull-right" id="backUl" title="返回"><i class="ace-icon fa fa-reply icon-only"></i>返回</button>
        </section>
    </div>
    <!--菜单-->
    <div id="app" style="margin-top: 36px;" v-cloak>
        <div class="page-left display-inline position-relac" style="display: block;!important;">
            <div class="left-title">菜单设置</div>
            <ul class="menus">
                <li v-for="(item,i) in menu.button" :id="selectedMenuIndex" :id1="i"
                    :class="{current:selectedMenuIndex ===i&&selectedMenuLevel()==1}"
                    @click="selectedMenu(i,$event)">
                    <span>{{item.name}}</span>
                    <ul class="child-menu" v-show="selectedMenuIndex===i">
                        <li v-for="(child,i1) in item.sub_button" :id="selectedSubMenuIndex" :id1="i"
                            :class="{current:selectedSubMenuIndex===i1&&selectedMenuLevel()==2}"
                            @click.stop="selectedSubMenu(i1,$event)">
                            <span>{{child.name}}</span>
                        </li>
                        <li v-if="item.sub_button.length<5" @click.stop="addMenu(2)">
                            <i class="icon14_menu_add"></i>
                        </li>
                    </ul>
                </li>
                <li v-if="menu.button.length<3" @click="addMenu(1)">
                    <i class="icon14_menu_add"></i>
                </li>
            </ul>
        </div>
        <!--主菜单-->
        <div class="page-right display-inline" v-if="selectedMenuLevel()==1">
            <div class="menu-input-group" style="border-bottom: 2px #e8e8e8 solid;">
                <div class="menu-header">
                    <div class="menu-name mgl-5 float-left">{{menu.button[selectedMenuIndex].name}}</div>
                    <div class="menu-del mgr-5 float-right" @click="delMenu" style="cursor: pointer;">删除菜单</div>
                </div>
                <div class="menu-input-group">
                    <div class="menu-labe mgt-5 float-left">菜单名称</div>
                    <div class="menu-jinput mgt-5">
                        <input type="text" class="float-left mgl-5" name="name" placeholder="请输入菜单名称"
                               v-model="menu.button[selectedMenuIndex].name" maxlength="4"><label style="color:#8d8d8d;">(字数不超过4个字符)</label>
                    </div>
                </div>
                <template v-if="menu.button[selectedMenuIndex].sub_button.length == 0">
                    <div class="menu-input-group">
                        <div class="menu-labe mgt-5 float-left">菜单内容</div>
                        <div class="menu-select  mgt-5 mgl-5 float-left">
                            <input type="radio" name="select" value="click"
                                   id="select1" v-model="menu.button[selectedMenuIndex].type">
                            <label for="select1">发送消息</label>
                        </div>
                        <div class="menu-select mgt-5 mgl-5 float-left">
                            <input type="radio" name="select" value="view" id="select2"
                                   v-model="menu.button[selectedMenuIndex].type">
                            <label for="select2">跳转网页</label>
                        </div>
                    </div>
                    <div class="show-content"  v-if="selectTab()==1">
                        <ul class="sub-menu-select">
                            <li :type="menu.button[selectedMenuIndex].key"
                                :class="{active:currentSelect()==1}"
                                @click="subMenu(selectedMenuLevel(),'mpnews')"><i class="glyphicon glyphicon-film"></i>图文消息</li>
                            <li :type="menu.button[selectedMenuIndex].key"
                                :class="{active:currentSelect()==2}"
                                @click="subMenu(selectedMenuLevel(),'video')"><i class="glyphicon glyphicon-hd-video"></i>视频</li>
                            <li :type="menu.button[selectedMenuIndex].key"
                                :class="{active:currentSelect()==3}"
                                @click="subMenu(selectedMenuLevel(),'image')"><i class="glyphicon glyphicon-picture"></i>图片</li>
                            <li :type="menu.button[selectedMenuIndex].key"
                                :class="{active:currentSelect()==4}"
                                @click="subMenu(selectedMenuLevel(),'voice')"><i class="glyphicon glyphicon-ice-lolly"></i>语音</li>
                        </ul>
                        <div class="sub-menu-content" v-if="currentSelect() ==1">
                            <button class="ptFont display" @click="fromSelect">
                                <input type="text" v-model="menu.button[selectedMenuIndex].key">
                            </button>
                            <div class="check" data-id="1">选择图文</div>
                            <div class="photoShow" v-show="picShow">
                                <div class="showTime"></div>
                                <div class="showImg"><img src="" width="250" height="155"> </div>
                                <div class="showTitle"></div>
                            </div>
                        </div>
                        <div class="sub-menu-content" v-if="currentSelect() ==2">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].key">
                            <div class="check" data-id="2">选择视频</div>
                            <video v-bind:src="arr" controls="controls" class="showSc" controlsList="nodownload" v-show="picShow"></video>
                        </div>
                        <div class="sub-menu-content" v-if="currentSelect() ==3">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].key">
                            <div class="check" data-id="3">选择图片</div>
                            <img v-bind:src="arr" class="showSc imageShow" v-show="picShow">
                        </div>
                        <div class="sub-menu-content" v-if="currentSelect() ==4">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].key">
                            <div class="check" data-id="4">选择音频</div>
                            <audio v-bind:src="arr" controls="controls" class="showSc" controlsList="nodownload" v-show="picShow"></audio>
                        </div>
                    </div>
                    <div class="show-content" v-if="selectTab()==2">
                        <span style="margin-left: 10px;">页面地址：</span>
                        <input type="text" v-model="menu.button[selectedMenuIndex].url" class="urlInput">
                    </div>
                </template>
            </div>
        </div>
        <!--子菜单-->
        <div class="page-right display-inline" v-if="selectedMenuLevel()==2">
            <div class="menu-input-group" style="border-bottom: 2px #e8e8e8 solid;">
                <div class="menu-header">
                    <div class="menu-name mgl-5 float-left">{{menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].name}}</div>
                    <div class="menu-del mgr-5 float-right"  @click="delSubMenu" style="cursor: pointer;">删除子菜单</div>
                </div>
                <div class="menu-input-group">
                    <div class="menu-labe mgt-5 float-left">菜单名称</div>
                    <div class="menu-jinput mgt-5">
                        <input type="text" class="float-left mgl-5" name="name" placeholder="请输入子菜单名称"
                               v-model="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].name" maxlength="8"><label style="color:#8d8d8d;">(字数不超过8个字符)</label>
                    </div>
                </div>
                <template>
                    <div class="menu-input-group">
                        <div class="menu-labe mgt-5 float-left">菜单内容</div>
                        <div class="menu-select  mgt-5 mgl-5 float-left">
                            <input type="radio" name="select" value="click"
                                   id="select3"
                                   v-model="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].type">
                            <label for="select3">发送消息</label>
                        </div>
                        <div class="menu-select mgt-5 mgl-5 float-left">
                            <input type="radio" name="select" value="view" id="select4"
                                   v-model="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].type">
                            <label for="select4">跳转网页</label>
                        </div>
                    </div>

                    <div class="show-content"  v-if="selectTab()==1">
                        <ul class="sub-menu-select">
                            <li :type="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].type"
                                :class="{active:currentSubSelect()==1}"
                                @click="subMenu(selectedMenuLevel(),'mpnews')"><i class="glyphicon glyphicon-film"></i>图文消息</li>
                            <li :type="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].type"
                                :class="{active:currentSubSelect()==2}"
                                @click="subMenu(selectedMenuLevel(),'video')"><i class="glyphicon glyphicon-hd-video"></i>视频</li>
                            <li :type="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].type"
                                :class="{active:currentSubSelect()==3}"
                                @click="subMenu(selectedMenuLevel(),'image')"><i class="glyphicon glyphicon-picture"></i>图片</li>
                            <li :type="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].type"
                                :class="{active:currentSubSelect()==4}"
                                @click="subMenu(selectedMenuLevel(),'voice')"><i class="glyphicon glyphicon-ice-lolly"></i>语音</li>
                        </ul>
                        <div class="sub-menu-content" v-if="currentSubSelect() ==1">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].key">
                            <div class="check" data-id="1">选择图文</div>
                            <div class="photoShow" v-show="picShow">
                                <div class="showTime"></div>
                                <div class="showImg"><img src="" width="250" height="155"> </div>
                                <div class="showTitle"></div>
                            </div>
                        </div>
                        <div class="sub-menu-content" v-if="currentSubSelect() ==2">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].key">
                            <div class="check" data-id="2">选择视频</div>
                            <video v-bind:src="arr" controls="controls" class="showSc" controlsList="nodownload" v-show="picShow"></video>
                        </div>
                        <div class="sub-menu-content" v-if="currentSubSelect() ==3">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].key">
                            <div class="check" data-id="3">选择图片</div>
                            <img v-bind:src="arr" class="showSc" v-show="picShow">
                        </div>
                        <div class="sub-menu-content" v-if="currentSubSelect() ==4">
                            <input type="text" class="display" v-model="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].key">
                            <div class="check" data-id="4">选择音频</div>
                            <audio v-bind:src="arr" controls="controls" class="showSc" controlsList="nodownload" v-show="picShow"></audio>
                        </div>
                    </div>
                    <div class="show-content" v-if="selectTab()==2">
                        <span style="margin-left: 10px;">页面地址：</span>
                        <input type="text" v-model="menu.button[selectedMenuIndex].sub_button[selectedSubMenuIndex].url" class="urlInput">
                    </div>
                </template>
            </div>
        </div>
        <input type="text" class="display" id="valueInput" v-on:change="testFun">
        <div style="clear: both;"></div>
        <button @click="submitData" class="submit" style="margin-top: 15px;">提交</button>



    </div>
    <!--弹出层素材选择-->
    <div class="modal" id="sourceRoom" tabindex="-1" role="dialog" aria-labelledby="mySource" style="position: absolute;top:12%;">
        <div class="modal-dialog" role="document" style="width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-left" id="mySource">素材选择</h4>
                </div>
                <div class="modal-body" style="min-height: 400px;">
                    <ul id="popImg" class="imgShow"></ul>
                    <div id="popPagingText" class="pageIndex pagingTest"></div>
                    <div id="popPagingTest" class="pageIndex pagingTest"></div>
                    <div id="popPagingmp3" class="pageIndex pagingTest"></div>
                    <div id="popPagingmp4" class="pageIndex pagingTest"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-sure-source" class="btn btn-primary text-center">确定</button>
                    <button type="button" id="btn-cancel-source" class="btn btn-primary text-center" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/dist/js/gzh/vue.js}"></script>
<!--<script th:src="@{/dist/js/gzh/layer.js}"></script>-->
<script th:src="@{/dist/js/gzh/menu.js}"></script>
<script th:src="@{/dist/js/gzh/webuploader.js}"></script>
<script th:src="@{/dist/js/gzh/upload.js}"></script>
<script th:src="@{/dist/js/gzh/hand-paging.js}"></script>
<!--<script th:src="@{/dist/js/gzh/gzh-common.js}"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var wxPublicId = /*[[${wxPublicId}]]*/;
    /*]]>*/
</script>
<script>
    $(function () {
        var id=$("#photoID").val();
    })
    $(document).on("click",".check",function () {
        $("#sourceRoom").modal();
        var thisCheckId=$(this).attr("data-id");
        if(thisCheckId==1){
            $("#popPagingText").show();
            $("#popPagingTest").hide();
            $("#popPagingmp3").hide();
            $("#popPagingmp4").hide();
            $("#btn-sure-source").attr("data-id",1);
            photoTextPop(1);
        }else if(thisCheckId==2){
            $("#popPagingText").hide();
            $("#popPagingTest").hide();
            $("#popPagingmp3").hide();
            $("#popPagingmp4").show();
            $("#btn-sure-source").attr("data-id",2);
            ajaxVidPop(1);
        }else if(thisCheckId==3){
            $("#popPagingText").hide();
            $("#popPagingTest").show();
            $("#popPagingmp3").hide();
            $("#popPagingmp4").hide();
            $("#btn-sure-source").attr("data-id",3);
            ajaxDataPop(1);
        }else if(thisCheckId==4){
            $("#popPagingText").hide();
            $("#popPagingTest").hide();
            $("#popPagingmp3").show();
            $("#popPagingmp4").hide();
            $("#btn-sure-source").attr("data-id",4);
            ajaxMpPop(1);
        }


    })
    //图片选中
    var thisSrc;
    var thisphotoId;
    var thisYsrc;
    var thisYId;
    var thisVsrc;
    var thisVId;
    //图文参数
    var tpTitle;
    var tpTime;
    var tpPhoto;
    var tpDec;
    var tpUrl;
    var tpID;
    var tpMeaId;
    var vid
    $(document).on("click","#popImg>li>img",function () {
        thisSrc=$(this).attr("src");
        thisphotoId=$(this).attr("data-id");
        $(this).addClass("opactiy").parent().siblings().children().removeClass("opactiy");
        $(this).parent().append("<a class='bgimg'></a>").siblings().children("a").remove();
    });
    //图文选中
    $(document).on("click","#popImg>.messageLi",function () {
        tpTitle=$(this).attr("data-ttile");
        tpTime=$(this).attr("data-time");
        tpPhoto=$(this).attr("data-photo");
        tpDec=$(this).attr("data-des");
        tpUrl=$(this).attr("data-url");
        tpID=$(this).attr("data-id");
        tpMeaId=$(this).attr("data-meaid")
        $(this).addClass("opactiy").siblings().removeClass("opactiy");
        $(this).append("<a class='bgimg'></a>").siblings().find("a").remove();
    });
    //音频选中
    $(document).on("click","#popImg li audio",function () {
        thisYsrc=$(this).attr("data-src");
        thisYId=$(this).attr("data-id");
        $(this).addClass("opactiy").parent().siblings().children().removeClass("opactiy");
        $(this).parent().append("<a class='bgimg'></a>").siblings().children("a").remove();
    });
    //视频选中
    $(document).on("click","#popImg li video",function () {
        thisVsrc=$(this).attr("src");
        thisVId=$(this).attr("data-id");
        vid=thisVsrc+' '+thisVId;
        $(this).addClass("opactiy").parent().siblings().children().removeClass("opactiy");
        $(this).parent().append("<a class='bgimg'></a>").siblings().children("a").remove();
    });
    $(document).on("click","#btn-sure-source",function () {
        var thisSureId=$(this).attr("data-id");
        $('#sourceRoom').modal("hide");
        var element = document.getElementById('valueInput');
        var evt = document.createEvent('HTMLEvents');
        if(thisSureId==1){
            element.value = tpMeaId; //图文
            evt.initEvent('change', false, true);
            element.dispatchEvent(evt);
        }else if(thisSureId==2){
            element.value =thisVsrc+'&nbsp'+thisVId;
            evt.initEvent('change', false, true);
            element.dispatchEvent(evt);
        }else if(thisSureId==3){
            element.value = thisphotoId;
            evt.initEvent('change', false, true);
            element.dispatchEvent(evt);
        }else if(thisSureId==4){
            element.value = thisYId;
            evt.initEvent('change', false, true);
            element.dispatchEvent(evt);
        }

        // var thisID=$(this).attr("data-id");
        // if(thisID==1){
        //     var urlLink = contextPath+'material/image/detail?mediaId='+tpPhoto+"&name="+name+"&wxPublicId="+wxPublicId;
        //     let html = `<li class="messageLi" style="height: 150px!important;list-style: none">
        //                             <div style="height: 150px;overflow: hidden">
        //                                 <p style="height: 20px;margin: 0;">${tpTime}</p>
        //                                 <p><img src="${urlLink}" style="width: 200px;height: 100px;"> </p>
        //                                 <p style="height: 20px;margin: 0;">${tpTitle}</p>
        //                             </div>
        //                         </li>`
        //     $("#mediaDiv").append(html);
        // }
        // if(thisID==3){
        //     var title1 = '<img class="content-img" src='+thisSrc+'>';
        //     $("#mediaDiv").append(title1);
        // }
        // if(thisID==4){
        //     var yy='<audio controls="controls" preload="auto"><source src='+thisYsrc+' type="audio/mpeg"></audio>';
        //     $("#mediaDiv").append(yy);
        // }
        // if(thisID==5){
        //     var video='<video class="content-img" controls="controls" src='+thisVsrc+'></video>';
        //     $("#mediaDiv").append(video);
        // }

    });
</script>

</body>

</html>