<!DOCTYPE html>
<html>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/gzh.css}"/>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/webuploader.css}"/>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/imggrid.css}"/>
<div th:replace="import::hdr"></div>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor">
</div>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!--菜单管理-->
   <div id="gzh-index">
    <!-- Content Header (Page header) -->
     <section class="content-header">
      <h1>
          菜单管理
      </h1>
    </section>
       <section>
           <div class="col-lg-4 float-left">
               <label class="col-lg-12 text-center" style="border: 1px red solid;height: 35px;line-height: 35px;">name</label>
               <div class="col-lg-12" style="height: 500px;border: 1px black solid;"></div>
               <div class="col-lg-12 menu-drop" style="height: 50px;line-height: 50px;">
                   <span class="col-lg-1">123</span>
                   <span class="col-lg-3" style="position: relative;">最新资讯
            <ul style="position: absolute;bottom: 55px;border: 1px red solid;width: 100%;left: 0;">
                <li>111</li><li>222</li><li>333</li><li>444</li><li>555</li>
            </ul>
            </span>
                   <span class="col-lg-3">产品案例</span>
                   <span class="col-lg-3">公司简介</span>
               </div>
           </div>
           <div class="col-lg-8 float-left" style="border: 1px black solid;">
               <label>菜单名称<a>删除菜单</a></label>
               <label>菜单名称</label><input type="text">
               <label>字数不超过4个汉字或8个字母</label>
               <label>子菜单内容</label>
           </div>
       </section>
   </div>
  </div>
</div>
<div th:replace="import::scipt"></div>
<script th:src="@{/dist/js/gzh/gzh.js}"></script>
<script th:src="@{/dist/js/gzh/webuploader.js}"></script>
<script th:src="@{/dist/js/gzh/imggrid.js}"></script>
<script th:inline="javascript">
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var wxPublicId = /*[[${wxPublicId}]]*/;
    /*]]>*/
</script>
<script>
    $(function () {
        $(".menu-drop>span>ul>li").click(function () {
            alert($(this).text())
        })
    })
</script>
</body>
</html>
