<!DOCTYPE html>
<html>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/gzh.css}"/>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/webuploader.css}"/>
<link rel="stylesheet" th:href="@{/dist/css/gzh-l/imggrid.css}"/>
<div th:replace="import::hdr"></div>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor">
</div>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!--消息管理-->
   <div id="gzh-index">
    <!-- Content Header (Page header) -->
     <section class="content-header">
      <h1>
          消息管理
      </h1>
    </section>
     <section class="content-header change-content margin-30">
    </section>
   </div>
  </div>
</div>
<div th:replace="import::scipt"></div>
<script th:src="@{/dist/js/gzh/gzh.js}"></script>
<script th:src="@{/dist/js/gzh/webuploader.js}"></script>
<script th:src="@{/dist/js/gzh/imggrid.js}"></script>
<script th:inline="javascript">
</script>
<script>
    var data = {
        "page": 1,//当前页码
        "records": 19,//总条数
        "rows": [{ "Id": 60, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 61, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 62, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 63, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 64, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 65, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 66, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 67, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 68, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 69, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 70, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 71, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 72, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 73, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 74, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 75, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 76, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 77, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" },
            { "Id": 78, "ImgUrl": "http://ojna4zpbt.bkt.clouddn.com/1.jpg" }
        ]
    };
    $('#imggrid').imgGrid({
        title: '图片集',
        type: 'GET',//GET|POST
        data:data,//本地数据
        //url: 'Data/data.json',//ajax URL
        params: { type: 0 },//url参数
        height: '400px',
        width: '850px',
        img: { width: '200px', animate: 'zoomIn' },//图片宽度，及动画效果
        onClick: function (obj, index, item) {//点击图片事件
            alert(index);
        },
        render: function (item, index) {//自定义显示图片
            var str = '<img src="' + item.ImgUrl + '">';
            return str;
        }
    });
</script>
</body>
</html>
