<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/gzh-l/webuploader.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/gzh-l/gzh-common.css}"/>
    <style>
        #gzh-msg-manage img,#gzh-ul-manage-son img {
            vertical-align: middle;
            width: 60px;
            height: 60px;
        }
        table tr td:first-child{
            width: 150px;
            border-right: none!important;
            cursor: pointer;
        }
        table tr td:nth-of-type(2){
            border-left: none!important;
            text-align: left;
            border-right: none!important;
        }
        table tr td:nth-of-type(3){
            border-left: none!important;
            text-align: right;
        }
        .dataTables_wrapper .row:first-child{
            background: none;
        }
        .txt-green{
            color: #44b549;
        }
        .content-img{
            width: 200px;
            height: 140px;
        }
        .messageLi{
            width: 170px!important;
            height: 250px!important;
            border: 1px #727272 solid;
        }
    </style>
</head>
<body layout:fragment="content">

<div class="row">
    <div id="gzh-manage">
        <section class="content-header gzh-manage-menu">
            <a class="font-size-14" data-id="1">用户管理</a>
            <a class="font-size-14" data-id="2">菜单管理</a>
            <a class="font-size-14 tex-color" data-id="3">消息管理</a>
            <a class="font-size-14" data-id="4">素材管理</a>
            <button class="btn btn-info search text-center pull-right" id="backUl" title="返回"><i class="ace-icon fa fa-reply icon-only"></i>返回</button>
        </section>
        <div style="margin-left: 1%;margin-top:0.5%;width: 98%;height: auto;">
            <section class="float-left gzh-search" style="width: 100%;">
                <div class="row">
                    <div class="col-md-12">
                        <table id="gzh-msg-manage" class="display table table-bordered table-hover dataTable" style="width:100%;">
                            <thead style="display: none;">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--公众号聊天页面-->
    <div id="chating-per" style="height: 768px;width:98%;display: none;margin-left: 1%;">
        <button class="btn btn-info search text-center pull-right" id="backUlManage" style="margin-top: -10px;" title="返回"><i class="ace-icon fa fa-reply icon-only"></i>返回</button>
        <section class="gzh-chat" style="margin-top: 20px;">
            <h5 class="chat-with">与<span class="chat-user"></span>聊天中</h5>
            <div class="marginLeft-1" style="width: 100%;border: 1px #d1d1d1 solid;margin-top: 1.6%;">
                <div class="chat-type">
                    <span data-id="1"><i class="glyphicon glyphicon-film"></i>图文消息</span>
                    <span data-id="2" class="txt-green"><i class="glyphicon glyphicon-pencil"></i>文字</span>
                    <span data-id="3"><i class="glyphicon glyphicon-picture"></i>图片</span>
                    <span data-id="4"><i class="glyphicon glyphicon-ice-lolly"></i>语音</span>
                    <span data-id="5"><i class="glyphicon glyphicon-hd-video"></i>视频</span>
                </div>
                <textarea class="form-control" rows="8" id="textInput" style="border:1px #e5e5e5 solid; "></textarea>
                <div style="border: 1px #e5e5e5 solid;height: 150px;display: none;" class="col-md-12" id="mediaDiv"></div>
            </div>
            <div style="position: relative;">
                <button type="button" class="btn btn-info search marginLeft-1" style="margin-top:1%;width: 100px;display: inline-block;" id="sender" data-id="2">发送</button>
                <a style="display: inline-block;" id="numBit">还可以输入<span id="limNum">100</span>字</a>
                <a style="display: inline-block;display: none;" id="numWarn"></a>
            </div>
            <h5 class="marginTop-2 marginLeft-1">最近20条聊天记录</h5>
            <div class="" style="width: 100%;margin-top: -20px;">
                <table id="gzh-ul-manage-son" class="display table table-bordered table-hover dataTable" style="width:100%;">
                    <thead style="display: none;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
    <!--素材库弹窗-->
    <div class="modal" id="sourceRoom" tabindex="-1" role="dialog" aria-labelledby="mySource" style="position: absolute;top:8%;">
        <div class="modal-dialog" role="document" style="width: 50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-left" id="mySource">选择素材</h4>
                    <button type="button" class="btn btn-info float-right new-source" style="margin-right: 10px;margin-top: -32px;">新建图文消息</button>

                </div>
                <div class="modal-body" style="min-height: 400px;height: 450px;overflow: auto;">
                    <ul id="popImg" class="imgShow"></ul>
                    <div id="popPagingText" class="pageIndex pagingTest"></div>
                    <div id="popPagingTest" class="pageIndex pagingTest"></div>
                    <div id="popPagingmp3" class="pageIndex pagingTest"></div>
                    <div id="popPagingmp4" class="pageIndex pagingTest"></div>
                    <!--<input type="hidden" value="" id="popPage">-->
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-sure-source" class="btn btn-primary text-center" data-dismiss="modal" data-id="">确定</button>
                    <button type="button" id="btn-cancel-source" class="btn btn-primary text-center" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/dist/js/gzh/webuploader.js}"></script>
<script th:src="@{/dist/js/gzh/upload.js}"></script>
<script th:src="@{/dist/js/gzh/hand-paging.js}"></script>
<script th:src="@{/dist/js/gzh/gzh-common.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var wxPublicId = /*[[${wxPublicId}]]*/;
    /*]]>*/
    jQuery(function ($) {
        //将lone型数据转换为datetime型
        function datetimeFormat(longTypeDate){
            var date = new Date();
            date.setTime(longTypeDate);
            var mouth =  parseInt(date.getMonth()+1);
            var dateDay = date.getDate();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var showMonth = mouth<10 ? "0"+mouth :mouth;
            var showDay = dateDay<10 ? "0"+dateDay :dateDay;
            var showHour = hours<10 ? "0"+hours :hours;
            var showMinutes = minutes<10 ? "0"+minutes :minutes;
            var datetimeType = date.getFullYear()+"-"+showMonth+"-"+showDay+
                "&nbsp;"+showHour+":"+showMinutes;//yyyy-MM-dd 00:00:00格式日期
            return datetimeType;
        }


        $('#gzh-msg-manage').DataTable( {
            "ajax": function (data, callback, settings) {
                var pageNum=data.start/data.length+1;
                var pageSize=data.length;
                var draw=data.draw;
                var param="?page="+pageNum+"&rows="+pageSize+"&draw="+draw;
                $.ajax({
                    "url":contextPath +"message/page"+param+"&wxPublicId="+wxPublicId,
                    "type": "get",
                    dataType:"json",
                    contentType:'application/json',
                    "success": function (json) {
                        if (json.status == 200) {
                            var data = {};
                            data.recordsTotal = json.content.recordsTotal;
                            data.recordsFiltered = json.content.recordsFiltered;
                            data.data = json.content.data;
                            callback(data);
                        }
                    },
                    "error": function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            },
            bAutoWidth: false,
            "info":false,
            "searching": false,
            "lengthChange": false,
            "ordering": false,
            "serverSide": true,
            "language": {
                "url": contextPath+"ace/assets/js/zh_CN.json",
                "paginate": {
                    "next": "下一页",
                    "previous": "上一页"
                }
            },
            "columns": [
                { "data": "wxUserDetail.headimgurl",render:function (data, type, row, meta) {
                        var html="<img src="+data+" class='chatOne' data-id="+row.wxUserDetail.openid+" data-img="+row.wxUserDetail.headimgurl+" data-name="+row.wxUserDetail.nickname+" />";
                        return html;
                    }
                },
                { "data": "",render:function (data, type, row, meta) {
                        var localFile=row.localFile;
                        var img='image';
                        var voice='voice';
                        var video='video';
                        var resourceSrcImg = contextPath+'message/attachment?msgType='+img+"&localFile="+localFile;
                        var resourceSrcVoice = contextPath+'message/attachment?msgType='+voice+"&localFile="+localFile;
                        var resourceSrcVideo = contextPath+'message/attachment?msgType='+video+"&localFile="+localFile;
                        var htmlDiv = "<div class='chatOne'>"+row.wxUserDetail.nickname+"</div>";
                        if(row.msgType=="text"){
                            var html=htmlDiv +
                                "<div>"+row.content+"</div>";
                            return html;
                        }
                        if(row.msgType=="image"){
                            var html=htmlDiv +
                                "<img src='"+resourceSrcImg+"'>";
                            return html;
                        }
                        if(row.msgType=="video"){
                            var html=htmlDiv +
                                "<video style='width: 100px;height: 100px;' src='"+resourceSrcVideo+"' controls='controls'></video>";
                            return html;
                        }
                        if(row.msgType=="voice"){
                            var html=htmlDiv +
                                "<audio controls='controls' preload='auto'><source src='"+resourceSrcVoice+"'></audio>";
                            return html;
                        }

                    }
                },
                { "data": "",render:function (data, type, row, meta) {
                        var html="<div class='chatOne'>"+datetimeFormat(row.createTime)+"</div>";
                        return html;
                    }
                }

            ],
            "pageLength": 10,
            "fnInitComplete": function() {//初始化完毕事件
            }
        } );

        function userTableSon(openid,imgHref,nickName) {
            $('#gzh-ul-manage-son').DataTable( {
                bAutoWidth: true,
                "ajax": function (data, callback, settings) {
                    var pageNum=data.start/data.length+1;
                    var pageSize=data.length;
                    var draw=data.draw;
                    var param="?page="+pageNum+"&rows="+pageSize+"&draw="+draw;
                    $.ajax({
                        "url":contextPath +"message/user/page"+param+"&wxPublicId="+wxPublicId+"&openId="+openid,
                        "type": "get",
                        dataType:"json",
                        contentType:'application/json',
                        "success": function (json) {
                            if (json.status == 200) {
                                var data = {};
                                data.recordsTotal = json.content.recordsTotal;
                                data.recordsFiltered = json.content.recordsFiltered;
                                data.data = json.content.data;
                                callback(data);
                            }
                        },
                        "error": function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(errorThrown);
                        }
                    });
                },
                "info":false,
                "searching": false,
                "lengthChange": false,
                "ordering": false,
                "serverSide": true,
                "language": {
                    "url": contextPath+"ace/assets/js/zh_CN.json",
                    "paginate": {
                        "next": "下一页",
                        "previous": "上一页"
                    }
                },
                "columns": [
                    { "data": "",render:function (data, type, row, meta) {
                            var html="<img src="+imgHref+" />";
                            return html;
                        }
                    },
                    { "data": "",render:function (data, type, row, meta) {
                            var localFile=row.localFile;
                            var img='image';
                            var voice='voice';
                            var video='video';
                            var resourceSrcImg = contextPath+'message/attachment?msgType='+img+"&localFile="+localFile;
                            var resourceSrcVoice = contextPath+'message/attachment?msgType='+voice+"&localFile="+localFile;
                            var resourceSrcVideo = contextPath+'message/attachment?msgType='+video+"&localFile="+localFile;
                            var htmlDiv = "<div class='chatOne'>"+nickName+"</div>";
                            if(row.msgType=="text"){
                                var html=htmlDiv +
                                    "<div>"+row.content+"</div>";
                                return html;
                            }
                            if(row.msgType=="image"){
                                var html=htmlDiv +
                                    "<img src='"+resourceSrcImg+"'>";
                                return html;
                            }
                            if(row.msgType=="video"){
                                var html=htmlDiv +
                                    "<video style='width: 100px;height: 100px;' src='"+resourceSrcVideo+"' controls='controls'></video>";
                                return html;
                            }
                            if(row.msgType=="voice"){
                                var html=htmlDiv +
                                    "<audio controls='controls' preload='auto'><source src='"+resourceSrcVoice+"'></audio>";
                                return html;
                            }
                        }
                    },
                    { "data": "",render:function (data, type, row, meta) {
                            var html="<div>"+datetimeFormat(row.createTime)+"</div>";
                            return html;
                        }
                    }

                ],
                "pageLength": 5,
                "fnInitComplete": function() {//初始化完毕事件
                }
            } );
        }

        $(document).on("click",".chatOne",function () {
            $("#chating-per").show().siblings().hide();
            var thidid=$(this).attr("data-id");
            var imghref=$(this).attr("data-img");
            var nickname=$(this).attr("data-name");
            $(".chat-user").text(nickname);
            $("#sender").attr("data-name",thidid);
            userTableSon(thidid,imghref,nickname)
        });
        //返回
        $(document).on("click","#backUlManage",function () {
            $("#gzh-manage").show().siblings().hide();
            window.location.reload()
        })

    })
</script>

</body>

</html>