<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<style>
  .gzh-manage-menu{
      margin-top: 15px;
      margin-left: 5px;
  }
  .gzh-manage-menu a{
      color: #000000;
      padding: 0 15px;
      cursor: pointer;
  }
  .tex-color{
      color: #6FB3E0!important;
  }
  #backUl{
      margin-right: 35px;
      margin-top: -10px;
  }
  .dataTables_wrapper .row:first-child{
      background: none;
  }
</style>
</head>
<body layout:fragment="content">

<div class="row">
    <div id="gzh-manage">
        <section class="content-header gzh-manage-menu">
            <a class="font-size-14 tex-color" data-id="1">用户管理</a>
            <a class="font-size-14" data-id="2">菜单管理</a>
            <a class="font-size-14" data-id="3">消息管理</a>
            <a class="font-size-14" data-id="4">素材管理</a>
            <button class="btn btn-info search text-center pull-right" id="backUl">返回</button>
        </section>
        <div style="margin-left: 2.5%;margin-top:3%;width: 95%;height: auto;">
            <section class="float-left gzh-search" style="width: 100%;">
               <div class="input-group" style="margin: 1% 0 0 0px;">
               <span class="input-group-addon ">
               <i class="fa fa-search"></i>
               </span>
                    <input type="text" class="form-control" style="width: 22.8%;">
                    <button type="button" class="btn  btn-info search" style="padding:2px 7px;">搜索</button>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="gzh-ul-manage" class="display table table-bordered table-hover dataTable" style="width:100%;">
                            <thead style="display: none;">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script th:src="@{/dist/js/gzh/gzh-common.js}"></script>
<script th:inline="javascript">
        /*<![CDATA[*/
        var wxPublicId = /*[[${wxPublicId}]]*/;
        /*]]>*/
        jQuery(function ($) {
            $('#gzh-ul-manage').DataTable( {
                bAutoWidth: true,
                ajax:{
                    url: contextPath +"wxUsers/page?page=1&rows=10&wxPublicId="+wxPublicId,
                    dataSrc:"content.data.list",
                    // contentType:'application/json; charset=utf-8',
                },
                "info":false,
                "searching": false,
                "lengthChange": false,
                "ordering": false,
                "language": {
                    "paginate": {
                        "next": "下一页",
                        "previous": "上一页"
                    }
                },
                "columns": [
                    { "data": "headimgurl",render:function (data, type, row, meta) {
                            var html="<img src="+data+" class='chatOne' />";
                            return html;
                        }},
                    { "data": "nickname"}

                ],
                "pageLength": 5,
                "fnInitComplete": function() {//初始化完毕事件
                }
            } );
            $(document).on("click",".chatOne",function () {
                alert(2)
            })

        })
</script>

</body>

</html>