<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body layout:fragment="content">
<div class="row">
    <section class="content-header gzh-manage-menu" style="margin-top: 15px;margin-left: 5px;padding-bottom: 15px;border-bottom: 2px #eee solid;">
        <a class="font-size-18 tex-color" style="text-decoration: none;color: #000000;">公众号编辑</a>
        <button class="btn btn-info search text-center pull-right" style="margin-right: 15px;margin-top: -10px;height: 35px;line-height: 15px;width: 74px;" id="backUl"  title="返回"><i class="ace-icon fa fa-reply icon-only"></i>返回</button>
    </section>
    <div class="col-xs-12" style="margin-top: 15px;">
        <div class="row">
            <form class="form-horizontal" id="validation-form" method="post">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="publicName">公众号名称:</label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="clearfix">
                            <input type="text" name="publicName" id="publicName" class="col-xs-12 col-sm-6"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="sourceId">原始ID:</label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="clearfix">
                            <input type="text" name="sourceId" id="sourceId" class="col-xs-12 col-sm-6"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="appId">appId:</label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="clearfix">
                            <input type="text" name="appId" id="appId" class="col-xs-12 col-sm-6"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="appSecret">appSecret:</label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="clearfix">
                            <input type="text" name="appSecret" id="appSecret" class="col-xs-12 col-sm-6"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="publicEmail">邮箱:</label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="clearfix">
                            <input type="text" name="publicEmail" id="publicEmail" class="col-xs-12 col-sm-6"/>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit" id="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<script type="text/javascript" th:inline="javascript">

    jQuery(function ($) {
        var id = [[${id}]];
        $(document).on("click","#backUl",function () {
            window.location.href="/wxPublic/index?mid=11";
        });
        $.ajax({
            url: contextPath + "wxPublic?id=" + id,
            method: "get",
            success: function (data) {
                $('#validation-form').autofill(data.content);
            },
            error: function (data) {
                console.log("查询数据出错！");
            }
        })


        var $form = $('#validation-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                publicName: {
                    required: true
                },
                sourceId: {
                    required: true
                },
                appId: {
                    required: true
                },
                appSecret: {
                    required: true
                },
                publicEmail: {
                    required: true
                }
            },

            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },

            submitHandler: function (form) {

                var data = $(form).serializeObject();

                $.ajax({
                    url: contextPath+"wxPublic",
                    method: "put",
                    data : JSON.stringify(data),
                    contentType: "application/json",
                    dataType : "json",
                    success: function (data) {
                        if(data.content.status == 10001){
                            alert(data.content.content);
                        }else{
                            location.href=contextPath+"wxPublic/index";
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })


            },
            invalidHandler: function (form) {

            }
        });
    })
</script>
</body>
</html>