<!DOCTYPE html>
<html>
<head>
  <div th:replace="import::hdr"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor">
</div>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        组织管理
      </h1>
    </section>

    <div class="row">
      <div class="col-md-4">
        <section class="content">
          <div class="box box-primary">
            <div class="box-header with-border">
              <a href="javascript:;" onclick="clickType(0)">
                <h3 class="box-title" id="company-name"
                    th:text="${session.user.company.name} + ' (' + ${userCount} + '人)'">
                </h3>
              </a>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <ul data-widget="tree" id="dept-tree">
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-8">
        <section class="content">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title" id="right-text" th:text="${session.user.company.name}"></h3>
              <button type="button" style="width:70px;margin-top:-6px" class="btn btn-xs btn-primary" id="edit-company-btn" data-toggle="modal" data-target="#modal-default">编辑公司</button>
              <div class="box-tools pull-right">
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-sitemap"></i> 下级部门
                  <div style="padding:4px 4px;margin:10px 10px;width:98%;height:30px;background-color:#ECEFF4">
                    <button type="button" class="btn btn-xs btn-default">添加部门</button>
                  </div>
                </div>
              </div>
              <ul data-widget="tree" id="dept-tree2">
              </ul>
              <div class="row">
                <div class="col-md-12">
                  <i class="fa fa-user"></i> 部门人员
                  <div style="padding:4px 4px;margin:10px 10px;width:98%;height:30px;background-color:#ECEFF4">
                    <button type="button" class="btn btn-xs btn-default">添加成员</button>
                    <button type="button" class="btn btn-xs btn-default">批量删除</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <table id="user-data" class="display" style="width:100%">
                    <thead>
                    <tr>
                      <th>姓名</th>
                      <th>职位</th>
                      <th>工号</th>
                      <th>联系电话</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>
    <!-- /.content -->
  </div>
</div>
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">编辑公司</h4>
      </div>
      <div class="modal-body">
        <p>
          <input class="form-control" type="text" id="companyName" placeholder="公司名称"/>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="saveCompany()">保存</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div th:replace="import::scipt"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var contextRoot = /*[[@{/}]]*/;
    loadDeptTree(0);
    function loadDeptTree(parentId){
        $.ajax({
            url : contextRoot + "company/getDeptTree?parentId=" + parentId,
            success : function (depts) {
                var pend = [];
                for(var i=0;i<depts.length;i++){
                    dd(depts[i]);
                }

                function dd(dept){
                    pend.push('<li class="treeview" style="list-style-type: none">');
                    pend.push('<a href="javascript:;" onclick="clickType(1,'+dept.id+')">');
                    pend.push('<i class="fa fa-bars"></i> <span>'+dept.name);
                    pend.push('</span>');
                    pend.push(" (" + dept.userCount + "人) ");
                    if(dept.children.length > 0){
                        pend.push('<span class="pull-right-container">');
                        pend.push('<i class="fa fa-angle-left pull-right"></i>');
                        pend.push('</span>');
                    }
                    pend.push('</a>');
                    if(dept.children.length > 0){
                        pend.push('<ul class="treeview-menu">');
                        for(var i=0;i<dept.children.length;i++){
                            dd(dept.children[i]);
                        }
                        pend.push('</ul>');
                    }
                }
                $("#dept-tree").empty().append(pend.join(""));
            }
        });
    }
    function clickType(type, deptId){
        if(type === 0){ //公司
            var companyName = $("#company-name").text();
            var idx = companyName.indexOf("(");
            companyName = companyName.substring(0, idx);
            $("#right-text").text(companyName);
            loadRightDept(0);
        }else if(type === 1){ //部门
            loadRightDept(deptId);
        }
    }
    function loadRightDept(parentId){
        $.ajax({
            url : contextRoot + "company/getDeptTree?parentId=" + parentId,
            success : function (dept) {
                var pend = [];
                $.each(dept, function (i,v) {
                    pend.push('<li class="treeview" style="list-style-type: none">');
                    pend.push('<a href="#">');
                    pend.push('<i class="fa fa-bars"></i> <span>'+v.name);
                    pend.push('</span>');
                    pend.push(" (" + v.userCount + "人) ");
                    pend.push('</a>');
                })
                $("#dept-tree2").empty().append(pend.join(""));
            }
        });
    }
    function saveCompany(){
        var companyName = $("#companyName").val();
        $.ajax({
            url:contextRoot + "company/update",
            type:"post",
            dataType:"json",
            data:{companyName:companyName},
            success:function (data) {
                $("#company-name").text(companyName);
            }
        });
    }
    $(function () {
        $("#company-name").click();
        $('#user-data').DataTable( {
            "ajax": contextRoot + "user/findByCompanyId",
            "columns": [
                { "data": "realName" },
                { "data": "position" },
                { "data": "jobNumber" },
                { "data": "telephone" }
            ]
        } );
    });
  /*]]>*/
</script>
</body>
</html>
