<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>数据统计</title>
    <link rel="stylesheet" th:href="@{/dist/css/common.css}">
    <style>
        #chartOne,#chartTwo,
        #chartThree,#chartFour{
            width: 100%;
            height: 300px;
        }
    </style>
</head>
<body layout:fragment="content">
<div id="dataCount">
    <div class="page-header">
        <h1>
            数据统计
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div id="chartOne">

            </div>
        </div>
        <div class="col-xs-4">
            <div id="chartTwo">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div id="chartThree">

            </div>
        </div>
        <div class="col-xs-8">
            <div id="chartFour">

            </div>
        </div>
    </div>
</div>
<script th:src="@{/dist/js/echarts.common.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function(){
        var myChart = echarts.init(document.getElementById('chartOne'));
        $.ajax({
            url: contextPath+"api/dataStatistics/intermediaryDeviceCount",
            method: "get",
            dataType : "json",
            success: function (data) {
                var dataOne = data.content;
                var name = [];
                var count = [];
                dataOne.map(function(v){
                    name.push(v.intermediary_name);
                    count.push(v.count);
                });
                option = {
                    title: {
                        left:'center',
                        subtext: '中间商设备数排名',
                        subtextStyle:{
                            color:"#000",
                            align: 'center',
                            fontSize:16
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: name
                    },
                    yAxis: {
                        type: 'value'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    series: [
                        {
                            data: count,
                            barWidth:30,
                            type: 'bar'
                        }
                    ]
                };
                myChart.setOption(option);
            },
            error: function (data) {
            }
        });


    //    中间商地市分布占比
        var myChartTwo = echarts.init(document.getElementById('chartTwo'));
        $.ajax({
            url: contextPath+"api/dataStatistics/intermediaryArea",
            method: "get",
            dataType : "json",
            success: function (data) {
                var dataTwo = data.content;
                var name = [];
                var count = [];
                dataTwo.map(function(v){
                    name.push(v.name);
                    var data  = {
                        value:v.count,
                        name:v.name
                    };
                    count.push(data)
                });
                console.log(name);
                console.log(count);
                option2 = {
                    title : {
                        left:'center',
                        subtext: '中间商地市分布占比',
                        subtextStyle:{
                            color:"#000",
                            align: 'center',
                            fontSize:16
                        }
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'right',
                        top:40,
                        data:name
                    },
                    series : [
                        {
                            name: '访问来源',
                            type: 'pie',
                            itemStyle : {
                                normal : {
                                    label : {
                                        show : false   //隐藏标示文字
                                    },
                                    labelLine : {
                                        show : false   //隐藏标示线
                                    }
                                }
                            },
                            radius : '60%',
                            center: ['35%', '45%'],
                            data:count
                        }
                    ]
                };
                myChartTwo.setOption(option2);
            },
            error: function (data) {
            }
        });


        //    各地市项目占比情况
        var chartThree = echarts.init(document.getElementById('chartThree'));
        $.ajax({
            url: contextPath+"api/dataStatistics/projectArea",
            method: "get",
            dataType : "json",
            success: function (data) {
                var dataTwo = data.content;
                var name = [];
                var count = [];
                dataTwo.map(function(v){
                    name.push(v.NAME);
                    count.push(v.count);
                });
                option3 = {
                    title : {
                        left:'center',
                        subtext: '各地市项目占比情况',
                        subtextStyle:{
                            color:"#000",
                            align: 'center',
                            fontSize:16
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    yAxis: {
                        type: 'category',
                        data: name
                    },
                    series: [
                        {
                            name: '2011年',
                            type: 'bar',
                            data: count
                        }
                    ]
                };
                chartThree.setOption(option3);
            },
            error: function (data) {
            }
        });


    //    近五年中间商设备趋势
        var chartFour = echarts.init(document.getElementById('chartFour'));
        $.ajax({
            url: contextPath+"api/dataStatistics/fiveYearDicount",
            method: "get",
            dataType : "json",
            success: function (data) {
                var dataFourDevice = data.content.device;
                var dataFourIntermediary = data.content.intermediary;
                var device = [];
                var intermediary = [];
                var yearDevice = [];
                var yearIntermediary = [];
                dataFourDevice.map(function(v){
                    device.push(v.count);
                    yearDevice.push(v.year)
                });
                dataFourIntermediary.map(function(v){
                    intermediary.push(v.count);
                    yearIntermediary.push(v.year);
                });
                option4 = {
                    title : {
                        left:'center',
                        subtext: '近五年中间商设备趋势',
                        subtextStyle:{
                            color:"#000",
                            align: 'center',
                            fontSize:16
                        }
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['中间商数量','设备数'],
                        top:30,
                        left: 'right'
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                onZero: false,
                                // lineStyle: {
                                //     color: 'blue'
                                // }
                            },
                            axisPointer: {
                                label: {
                                    formatter: function (params) {
                                        return '设备数  ' + params.value
                                            + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                                    }
                                }
                            },
                            data: yearDevice
                        },
                        {
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                onZero: false,
                                // lineStyle: {
                                //     color: 'red'
                                // }
                            },
                            axisPointer: {
                                label: {
                                    formatter: function (params) {
                                        return '中间商  ' + params.value
                                            + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                                    }
                                }
                            },
                            data: yearIntermediary
                        }
                    ],
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name:'中间商数量',
                            type:'line',
                            xAxisIndex: 1,
                            smooth: true,
                            stack: '总量',
                            data:intermediary
                        },
                        {
                            name:'设备数',
                            type:'line',
                            smooth: true,
                            stack: '总量',
                            data:device
                        }
                    ]
                };
                chartFour.setOption(option4);
            },
            error: function (data) {
            }
        });

        window.onresize = function () {
            myChart.resize();
            myChartTwo.resize();
            chartThree.resize();
            chartFour.resize();
        }
    })
</script>
</body>
</html>