<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>数据统计</title>
    <link rel="stylesheet" th:href="@{/dist/css/common.css}">
    <style>
        #chartOne,#chartTwo,
        #chartThree,#chartFour{
            width: 100%;
            height: 300px;
        }
    </style>
</head>
<body layout:fragment="content">
<div id="dataCount">
    <div class="page-header">
        <h1>
            数据统计
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div id="chartOne">

            </div>
        </div>
        <div class="col-xs-4">
            <div id="chartTwo">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div id="chartThree">

            </div>
        </div>
        <div class="col-xs-8">
            <div id="chartFour">

            </div>
        </div>
    </div>
</div>
<script th:src="@{/dist/js/echarts.common.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function(){
        var myChart = echarts.init(document.getElementById('chartOne'));
        option = {
            title: {
                left:'center',
                subtext: '中间商设备数排名',
                subtextStyle:{
                    color:"#000",
                    align: 'center',
                    fontSize:16
                }
            },
            xAxis: {
                type: 'category',
                data: ['中间商1', '中间商2', '中间商3', '中间商4', '中间商5',
                    '中间商6', '中间商7']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [120, 200, 150, 80, 70, 110, 130],
                barWidth:30,
                type: 'bar'
            }]
        };
        myChart.setOption(option);

    //    中间商地市分布占比
        var myChartTwo = echarts.init(document.getElementById('chartTwo'));
        option2 = {
            title : {
                left:'center',
                subtext: '中间商地市分布占比',
                subtextStyle:{
                    color:"#000",
                    align: 'center',
                    fontSize:16
                }
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'right',
                top:40,
                data: ['重庆','成都','上海','北京','杭州'],
            },
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    itemStyle : {
                        normal : {
                            label : {
                                show : false   //隐藏标示文字
                            },
                            labelLine : {
                                show : false   //隐藏标示线
                            }
                        }
                    },
                    radius : '60%',
                    center: ['35%', '60%'],
                    data:[
                        {value:335, name:'重庆'},
                        {value:310, name:'成都'},
                        {value:234, name:'上海'},
                        {value:135, name:'北京'},
                        {value:1548, name:'杭州'}
                    ]
                }
            ]
        };
        myChartTwo.setOption(option2);

        //    各地市项目占比情况
        var chartThree = echarts.init(document.getElementById('chartThree'));
        option3 = {
            title : {
                left:'center',
                subtext: '各地市项目占比情况',
                subtextStyle:{
                    color:"#000",
                    align: 'center',
                    fontSize:16
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                data: ['成都','北京','上海','印度','中国','兰州']
            },
            series: [
                {
                    name: '2011年',
                    type: 'bar',
                    data: [55, 66, 44, 55, 78, 75]
                }
            ]
        };
        chartThree.setOption(option3);

    //    近五年中间商设备趋势
        var chartFour = echarts.init(document.getElementById('chartFour'));
        option4 = {
            title : {
                left:'center',
                subtext: '近五年中间商设备趋势',
                subtextStyle:{
                    color:"#000",
                    align: 'center',
                    fontSize:16
                }
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['邮件营销','联盟广告'],
                top:20,
                left: 'right',
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['2014','2015','2016','2017','2018']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'邮件营销',
                    type:'line',
                    stack: '总量',
                    data:[120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name:'联盟广告',
                    type:'line',
                    stack: '总量',
                    data:[220, 182, 191, 234, 290, 330, 310]
                }
            ]
        };
        chartFour.setOption(option4);
    })
</script>
</body>
</html>