<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>数据统计</title>
    <link rel="stylesheet" th:href="@{/dist/css/common.css}">
    <style>
        #chartOne,#chartTwo,
        #chartThree,#chartFour{
            width: 100%;
            height: 300px;
            border: 1px solid #d3d3d3;
            border-top:none;
            box-sizing: border-box;
        }
        .name{
            height: 35px;
            text-indent: 10px;
            line-height: 35px;
            background: #f7f7f8;
            font-size: 15px;
            border: 1px solid #d3d3d3;
            border-bottom: none;
        }
        .page-header{
            margin: 0 0 12px;
            border-bottom: 1px dotted #E2E2E2;
            padding-bottom: 16px;
            padding-top: 7px;
        }
    </style>
</head>
<body layout:fragment="content">
<div id="dataCount">
    <div class="page-header">
        <h1>
            数据统计
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-7 margin-top-15">
            <div class="name">中间商设备数排名</div>
            <div id="chartOne"></div>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5 margin-top-15">
            <div class="name">中间商地市分布占比</div>
            <div id="chartTwo"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-7 margin-top-15">
            <div class="name">各地市项目占比情况</div>
            <div id="chartThree"></div>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5 margin-top-15">
            <div class="name">近五年中间商设备趋势</div>
            <div id="chartFour"></div>
        </div>
    </div>
</div>
<script th:src="@{/dist/js/echarts.common.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function(){
        var myChart = echarts.init(document.getElementById('chartOne'));
        $.ajax({
            url: contextPath+"api/dataStatistics/intermediaryDeviceCount",
            method: "get",
            dataType : "json",
            success: function (data) {
                var dataOne = data.content;
                var name = [];
                var count = [];
                dataOne.map(function(v){
                    name.push(v.intermediary_name);
                    count.push(v.count);
                });
                option = {
                    xAxis: {
                        type: 'category',
                        data: name,
                        axisLabel:{
                            rotate:20
                        },
                        axisLine:{
                            show:false
                        },


                        axisTick:{
                            show:false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        axisLine:{
                            show:false
                        },
                        axisTick:{
                            show:false
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    series: [
                        {
                            itemStyle:{
                                normal:{
                                    color:function(params){
                                        var colorList = ['#7266bb','#22b7e5','#24c94c',
                                            '#ebdf24','#f58706','#eb3925',
                                            '#ef60bf','#b161ef','#1cebf3','#5c7ce3'];
                                        return colorList[params.dataIndex];
                                    }
                                }
                            },
                            data: count,
                            barWidth:20,
                            type: 'bar'
                        }
                    ]
                };
                myChart.setOption(option);
            },
            error: function (data) {
            }
        });


    //    中间商地市分布占比
        var myChartTwo = echarts.init(document.getElementById('chartTwo'));
        $.ajax({
            url: contextPath+"api/dataStatistics/intermediaryArea",
            method: "get",
            dataType : "json",
            success: function (data) {
                var dataTwo = data.content;
                var name = [];
                var count = [];
                dataTwo.map(function(v){
                    name.push(v.name);
                    var data  = {
                        value:v.count,
                        name:v.name
                    };
                    count.push(data)
                });
                option2 = {
                    // title : {
                    //     left:'center',
                    //     subtext: '中间商地市分布占比',
                    //     subtextStyle:{
                    //         color:"#000",
                    //         align: 'center',
                    //         fontSize:16
                    //     }
                    // },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'right',
                        top:40,
                        data:name
                    },
                    series : [
                        {
                            name: '访问来源',
                            type: 'pie',
                            itemStyle : {
                                normal : {
                                    color:function(params){
                                        var colorList = ['#7266bb','#22b7e5','#24c94c',
                                            '#ebdf24','#f58706','#eb3925',
                                            '#ef60bf','#b161ef','#1cebf3','#5c7ce3'];
                                        return colorList[params.dataIndex];
                                    },
                                    label : {
                                        show : true   //隐藏标示文字
                                    },
                                    labelLine : {
                                        show : true   //隐藏标示线
                                    }
                                }
                            },
                            radius : '60%',
                            center: ['55%', '55%'],
                            data:count
                        }
                    ]
                };
                myChartTwo.setOption(option2);
            },
            error: function (data) {
            }
        });


        //    各地市项目占比情况
        var chartThree = echarts.init(document.getElementById('chartThree'));
        $.ajax({
            url: contextPath+"api/dataStatistics/projectArea",
            method: "get",
            dataType : "json",
            success: function (data) {
                var dataTwo = data.content;
                var name = [];
                var count = [];
                dataTwo.map(function(v){
                    name.push(v.NAME);
                    count.push(v.count);
                });
                option3 = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01],
                        nameTextStyle:{
                            color:"red"
                        },
                        axisLine:{
                            show:true,
                            lineStyle:{
                                color:"#d3d3d3"
                            }
                        },
                        splitLine:{
                            show:false
                        },
                        axisTick:{
                            show:false
                        },
                        axisLabel:{
                            color:"#000"
                        }
                    },
                    yAxis: {
                        type: 'category',
                        data: name,
                        axisLine:{
                            show:false
                        },
                        axisTick:{
                            show:false
                        },

                        // axisLine: {
                        //     lineStyle:{
                        //         color:"#d3d3d3"
                        //     }
                        // },

                    },
                    series: [
                        {
                            itemStyle : {
                                normal : {
                                    color:function(params){
                                        var colorList = ['#00cdff','#00afff','#0087c5',
                                            '#005ea1','#327db4','#003a70',
                                            '#005eb7','#0085ff','#68b7ff','#428acb'];
                                        return colorList[params.dataIndex];
                                    },
                                    label : {
                                        show : true   //隐藏标示文字
                                    },
                                    labelLine : {
                                        show : true   //隐藏标示线
                                    }
                                }
                            },
                            name: '2011年',
                            type: 'bar',
                            barWidth:20,
                            data: count
                        }
                    ]
                };
                chartThree.setOption(option3);
            },
            error: function (data) {
            }
        });


    //    近五年中间商设备趋势
        var chartFour = echarts.init(document.getElementById('chartFour'));
        $.ajax({
            url: contextPath+"api/dataStatistics/fiveYearDicount",
            method: "get",
            dataType : "json",
            success: function (data) {
                var dataFourDevice = data.content;
                // var dataFourIntermediary = data.content.intermediary;
                var device = [];
                var intermediary = [];
                var yearDevice = [];
                dataFourDevice.map(function(v){
                    device.push(v.dCount);
                    intermediary.push(v.iCount);
                    yearDevice.push(v.year)
                });
                option4 = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['中间商数量','设备数']
                    },
                    color:['#faf6c3','#fac9c3'],
                    xAxis:  {
                        type: 'category',
                        boundaryGap: false,
                        data:yearDevice,
                        axisLine: {
                            lineStyle:{
                                color:"#d3d3d3"
                            }
                        },
                        axisLabel:{
                            color:"#000"
                        }
                    },
                    yAxis: {
                        type: 'value',
                        axisTick: {
                            show:false
                        },
                        axisLine: {
                            show:false
                        }
                    },
                    series: [
                        {
                            name:'中间商数量',
                            type:'line',
                            data:intermediary
                        },
                        {
                            name:'设备数',
                            type:'line',
                            data:device
                        }
                    ]
                };
                chartFour.setOption(option4);
            },
            error: function (data) {
            }
        });

        window.onresize = function () {
            myChart.resize();
            myChartTwo.resize();
            chartThree.resize();
            chartFour.resize();
        }
    })
</script>
</body>
</html>