<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" th:href="@{/css/usermanagement.css}">
<div th:replace="import::hdr"></div>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor">
</div>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>人员管理</h1>
    </section>
    <div class="wi-27Tch" style="display: block;">
      <div class="wi-1XoYs">
        <div class="wi-38JNQ">
          <div class="wi-lKxSM wi-1o4_1 internal-contacts-title">内部通讯录管理</div>
        </div>

        <div class="wi-38JNQ">
          <div class="wi-lKxSM external-contacts-title">外部联系人</div>
        </div>
      </div>
    </div>
    <div class="row user-usermanagement">
      <div class="col-md-4">
        <section class="content">
          <!-- 内部通讯录管理 -->
          <div class="c_left_box internal-contacts">
            <div style="padding:10px 0;">
              <div class="c_search_content"><i class="iconfont search"></i>
                <input value="" type="text" class="c_ding_input" placeholder="搜索"><span></span>
              </div>
            </div>
            <div class="c_ding_btn_inline_group" style="padding:10px 0;">
              <div class="item checked internal-contacts-organization-title">组织架构</div>
              <div class="item internal-contacts-role-title">角色</div>
            </div>

            <!-- 组织架构 -->
            <div class="internal-contacts-organization-container">
              <ul id="treeOrganization" class="ztree"></ul>
            </div>
            <!-- 角色 -->
            <div class="label_list_ctl internal-contacts-role-container display-none">
              <div class="title" style="text-align:center;">
                <div class="c_ding_btn c_ding_btn_xs add-role-group-name-btn">新增角色组</div>
                <div class="c_ding_btn c_ding_btn_xs add-role-name-btn">新增角色</div>
              </div>
              <div class="">
                <ul id="treeRole" class="ztree"></ul>
              </div>
            </div>
          </div>
          <!-- 外部联系人 -->
          <div class="c_left_box external-contacts display-none">
            <div style="padding:22px 10px 10px 10px;">
              <div class="c_search_content">
                <i class="iconfont search"></i>
                <input value="" type="text" class="c_ding_input" placeholder="搜索"><span></span></div>
            </div>
            <div><label class="label_tree_item" style="display:none;"><input type="checkbox"><span>全部</span></label>
              <div>
                <div class="label_tree_item"><i class="iconfont"></i><span>类型</span></div>
                <div class="label_tree_children">
                  <label class="label_tree_item">
                    <input type="checkbox"><span>客户</span></label><label class="label_tree_item">
                    <input type="checkbox"><span>渠道商</span></label><label class="label_tree_item">
                    <input type="checkbox"><span>供应商</span></label><label class="label_tree_item">
                    <input type="checkbox"><span>合作伙伴</span></label><label class="label_tree_item">
                    <input type="checkbox"><span>面试人员</span></label><label class="label_tree_item">
                  </label>
                </div>
              </div>
              <div>
                <div class="label_tree_item"><i class="iconfont"></i><span>级别</span></div>
                <div class="label_tree_children"><label class="label_tree_item">
                  <input type="checkbox"><span>一般</span></label>
                  <label class="label_tree_item">
                    <input type="checkbox">
                    <span>重要</span>
                  </label>
                  <label class="label_tree_item">
                    <input type="checkbox"><span>核心</span>
                  </label>
                </div>
              </div>
            </div>
            <div style="text-align:center;margin-top:10px;">
              <a class="c_link" href="https://tms.dingtalk.com/markets/dingtalk/biaoqianzu" target="_blank">如何自定义标签？</a>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-8">
        <!-- 内部通讯录管理 -->
        <section class="content internal-contacts">
          <!-- 组织架构 -->
          <div class="c_right_box internal-contacts-organization-container">
            <div class="c_title_1 contact_header">
              <span class="department-info-name"></span>
              <div class="c_ding_btn c_ding_btn_xs contact_btn edit-department-info-btn">设置</div>
            </div>
            <div></div>
            <div style="margin-bottom:10px;">
              <div class="c_title_1"><i class="iconfont"></i><span>下级部门</span></div>
              <div class="c_action_content">
                <div class="c_ding_btn c_ding_btn_xs add-children-department-info-btn">添加子部门</div>
                <!--<div class="c_ding_btn c_ding_btn_xs">调整排序</div>-->
              </div>
              <div class=""><span></span>
                <div class="dragDropDept">
                  <div>
                    <div class="c_drag_drop_dept_item"><span></span>
                      <!--<div class="name"><span>xx</span><span>&nbsp;（</span><span>0</span><span>人）</span></div>-->
                      <div class="number"><i class="iconfont" style="color:#b9babc;"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <span></span><span></span></div>
            <div>
              <div class="c_title_1"><i style="position:relative;top:-3px;" class="iconfont"></i><span>部门人员</span>
              </div>
              <div class="c_action_content">
                <div class="c_ding_btn c_ding_btn_primary c_ding_btn_xs add-contacts-info-btn">添加成员</div>
                <div class="c_ding_btn c_ding_btn_xs">调整部门</div>
                <div class="c_ding_btn c_ding_btn_error c_ding_btn_xs">批量删除</div>
              </div>
              <div style="overflow:hidden;" class="">
                <span></span>
                <table class="c_table">
                  <thead>
                  <tr>
                    <th><input type="checkbox"></th>
                    <th>姓名</th>
                    <th>职位</th>
                    <th>工号</th>
                    <th>手机号</th>
                    <th>邮箱</th>
                  </tr>
                  </thead>
                  <tbody class="dragDropStaff">
                  <td colspan="6"><div class="c_warning_nobgc"><span>当前部门暂无人员</span><a style="margin-left:10px;" class="c_link add-contacts-info-btn">添加成员</a></div></td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- 角色 -->
          <div class="c_right_box internal-contacts-role-container display-none">
            <!--<div style="text-align:center;">
              <div><img th:src="@{/images/js.png}" width="100%"></div>
              <div style="padding-top:0;text-align:right;margin-right:190px;">
                <span style="float:left;margin-left:90px;">
                  <div class="c_ding_btn c_ding_btn_primary c_ding_btn_xs">新增角色</div>
                </span>
                <a target="_blank" href="#">
                <div class="c_ding_btn c_ding_btn_primary c_ding_btn_xs">去审批设置流程</div>
                </a>
              </div>
            </div>-->

            <div>
              <div class="c_title_1 contact_header" style="padding:0px;padding-bottom:20px;">
                <i class="iconfont" style="color:#aee4fa;"></i><span class="role-name">主管理员</span>
                <div class="c_ding_btn c_ding_btn_xs contact_btn edit-role-btn">编辑</div>
              </div>
              <div class="alert_warning" style="margin-bottom: 0px;">
                <span>“主管理员”为默认角色，无法编辑，请到“管理后台－设置－更改主管理员”，设置完成后自动同步</span>
              </div>
              <table class="c_table">
                <thead>
                <tr>
                  <th>姓名</th>
                  <th>部门</th>
                  <th>工号</th>
                </tr>
                </thead>
                <tbody class="dragDropStaff">
                  <!--<tr class="disabled">
                    <td title="李杰">李杰</td>
                    <td></td>
                    <td></td>
                  </tr>-->
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <!-- 外部联系人 -->
        <section class="content external-contacts display-none">
          <div class="c_right_box">
            <div class="c_title_1" style="padding-top0;">
              <i style="position:relative;top:-3px;" class="iconfont"></i>
              <span>外部联系人</span>
            </div>
            <div class="c_action_content">
              <div class="c_ding_btn c_ding_btn_primary c_ding_btn_xs">添加外部联系人</div>
              <div class="c_ding_btn c_ding_btn_xs">
                <i style="color:#1bc863;position:absolute;top:-20px;font-size:23px;right:-5px;" class="iconfont"></i>
                <span>批量导入/导出/修改</span>
              </div>
              <div class="c_ding_btn c_ding_btn_error c_ding_btn_xs" style="">批量删除</div>
              <span></span></div>
            <span></span>
            <table class="c_table">
              <thead>
              <tr>
                <th style="width:40px;"><input type="checkbox"></th>
                <th style="width:95px;">姓名</th>
                <th style="width:111px;">电话</th>
                <th style="width:220px;">公司</th>
                <th>负责人</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="padding-top:4px;"><input type="checkbox"></td>
                <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" title="ppppppppppppppppppppppppppp">ppppppppppppppppppp</td>
                <td title="13540608766">13540608766</td>
                <td></td>
                <td style="padding-right:108px;position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                  <span>李杰</span><span></span><span></span><span></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    <!-- /.content -->
  </div>
</div>
  <div class="tb-right-menu">
    <div class="edit-department-info-container display-none">
      <h3>编辑部门</h3>
      <div class="c_side_modal animated">
        <div class="c_modal_body edit-department-info ">
          <div>
            <div class="c_action_content">部门信息</div>
            <div class="c_ding_form">
              <div class="c_ding_form_group">
                <label><i class="iconfont c_ding_from_icon"></i><span>部门名称:</span></label>
                <div class="input_content">
                  <input type="text" required minlength="13" name="editdepartmentname" class="c_ding_input edit-department-info-name" id="xxxxxxx">
                </div>
              </div>
            </div>
            <div class="c_ding_form"></div>
          </div>
        </div>
        <div class="c_modal_foot">
          <div class="" style="text-align:center;">
            <div class="c_ding_btn c_ding_btn_primary">保存</div>
            <div class="c_ding_btn c_ding_btn_error">删除</div>
            <div class="c_ding_btn ">取消</div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-children-department-info-container display-none">
      <div class="c_side_modal animated">
        <h3>添加部门</h3>
        <div class="c_modal_body">
          <div class="c_action_content">部门信息</div>
          <div class="c_ding_form">
            <div class="c_ding_form_group"><label><i class="iconfont c_ding_from_icon"></i><span>部门名称:</span></label>
              <div class="input_content">
                <input type="text" value="" class="c_ding_input add-department-info-name"></div>
            </div>
            <div class="c_ding_form_group"><label><i class="iconfont c_ding_from_icon"></i><span>上级部门:</span></label>
              <div class="input_content">
                <div class="c_ding_input parent-department-name"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="c_modal_foot">
          <div class="" style="text-align:center;">
            <div class="c_ding_btn c_ding_btn_primary add-children-department-info-primary">保存</div>
            <div class="c_ding_btn ">取消</div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-contacts-info-container display-none">
      <div class="c_side_modal animated">
        <h3>添加成员</h3>
        <div class="c_modal_body">
          <div class="c_hrm_group c_action_content" style="padding-left:15px;">
            <span class="pull-left">人员信息</span>
            <div class="c_hrm_line"></div>
          </div>
          <div class="c_ding_form">
            <div class="c_ding_form_group">
              <label><i class="iconfont c_ding_from_icon"></i><span>姓名:</span></label>
              <div class="input_content"><input placeholder="" class="c_ding_input name"></div>
            </div>
            <div class="c_ding_form_group">
              <label><i class="iconfont c_ding_from_icon"></i><span>部门:</span></label>
              <div class="input_content">
                <div style="max-height:85px;padding:4px 12px;" class="c_ding_input c_ding_input_content">
                  <span style="display:inline-block;padding:2px 5px;" class="c_input_tag">飞创科技开发团队</span>
                </div>
              </div>
            </div>
            <div class="c_ding_form_group">
              <label><i class="iconfont c_ding_from_icon"></i><span>权限:</span></label>
              <div class="input_content">
                <div style="max-height:85px;padding:4px 12px;" class="c_ding_input c_ding_input_content">
                  <span style="display:inline-block;padding:2px 5px;" class="c_input_tag">总监</span>
                </div>
              </div>
            </div>
            <div class="c_ding_form_group">
              <label><i class="iconfont c_ding_from_icon"></i><span>角色:</span></label>
              <div class="input_content">
                <div style="max-height:85px;padding:4px 12px;" class="c_ding_input c_ding_input_content">
                  <span style="display:inline-block;padding:2px 5px;" class="c_input_tag">管家</span>
                </div>
              </div>
            </div>
            <div class="c_ding_form_group">
              <label><span>职位:</span></label>
              <div class="input_content"><input placeholder="" class="c_ding_input position"></div>
            </div>
            <div class="c_ding_form_group">
              <label><span>邮箱:</span></label>
              <div class="input_content"><input class="c_ding_input email"></div>
            </div>
            <div class="c_ding_form_group">
              <label><span>工号:</span></label>
              <div class="input_content">
                <input placeholder="" class="c_ding_input jobnumber">
              </div>
            </div>
            <div class="c_ding_form_group">
              <label><i class="iconfont c_ding_from_icon"></i><span>手机号:</span></label>
              <div class="input_content">
                <input placeholder="国际手机号请填写国家码，如+1-xxxxx" class="c_ding_input mobile">
              </div>
            </div>
            <div class="c_ding_form_group">
              <label><span>分机号:</span></label>
              <div class="input_content">
                <input placeholder="" class="c_ding_input tel">
              </div>
            </div>
            <div class="c_ding_form_group">
              <label><span>办公地点:</span></label>
              <div class="input_content">
                <input placeholder="" class="c_ding_input workplace">
              </div>
            </div>
            <div class="c_ding_form_group" style="margin-bottom: 125px;">
              <label><span>备注:</span></label>
              <div class="input_content">
                <input placeholder="" class="c_ding_input remark">
              </div>
            </div>
          </div>
        </div>
        <div class="c_modal_foot add-contacts-info-container-btn-group">
          <div class="" style="text-align:center;">
            <div class="c_ding_btn c_ding_btn_primary">保存</div>
            <div class="c_ding_btn ">取消</div>
          </div>
        </div>
      </div>
  </div>
    <div class="add-role-group-name-container display-none">
      <h3>新增角色组</h3>
      <div class="c_side_modal animated">
        <div class="c_modal_body edit-department-info ">
          <div>
            <div class="c_action_content">角色组信息</div>
            <div class="c_ding_form">
              <div class="c_ding_form_group">
                <label><i class="iconfont c_ding_from_icon"></i><span>角色组名称:</span></label>
                <div class="input_content">
                  <input type="text" required minlength="13" class="c_ding_input add-role-group-name">
                </div>
              </div>
            </div>
            <div class="c_ding_form"></div>
          </div>
        </div>
        <div class="c_modal_foot">
          <div class="" style="text-align:center;">
            <div class="c_ding_btn c_ding_btn_primary">保存</div>
            <div class="c_ding_btn ">取消</div>
          </div>
        </div>
      </div>
    </div>
    <div class="edit-role-group-name-container display-none">
      <h3>编辑角色组</h3>
      <div class="c_side_modal animated">
        <div class="c_modal_body edit-department-info ">
          <div>
            <div class="c_action_content">角色组信息</div>
            <div class="c_ding_form">
              <div class="c_ding_form_group">
                <label><i class="iconfont c_ding_from_icon"></i><span>角色组名称:</span></label>
                <div class="input_content">
                  <input type="text" required minlength="13" class="c_ding_input edit-role-group-name">
                </div>
              </div>
            </div>
            <div class="c_ding_form"></div>
          </div>
        </div>
        <div class="c_modal_foot">
          <div class="" style="text-align:center;">
            <div class="c_ding_btn c_ding_btn_primary">保存</div>
            <div class="c_ding_btn c_ding_btn_error">删除</div>
            <div class="c_ding_btn ">取消</div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-role-name-container display-none">
      <h3>新增角色</h3>
      <div class="c_side_modal animated">
        <div class="c_modal_body edit-department-info ">
          <div>
            <div class="c_action_content">角色信息</div>
            <div class="c_ding_form">
              <div class="c_ding_form_group">
                <label><i class="iconfont c_ding_from_icon"></i><span>角色名称:</span></label>
                <div class="input_content">
                  <input type="text" required minlength="13" class="c_ding_input add-role-name">
                </div>
              </div>
              <div class="c_ding_form_group">
                <label><i class="iconfont c_ding_from_icon"></i><span>分组到:</span></label>
                <div class="input_content">
                  <div class="Select has-value is-clearable is-disabled is-searchable Select--single">
                    <div class="Select-control">
                      <span class="Select-multi-value-wrapper">
                        <div class="Select-value">
                          <span class="Select-value-label add-role-name-group" role="option" aria-selected="true"></span>
                          <select name="" id="selectgroup">
                          </select>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c_ding_form_group">
                <label><i class="iconfont c_ding_from_icon"></i><span>选择权限:</span></label>
                <div class="input_content">
                  <div style="max-height:85px;padding:4px 12px;" class="c_ding_input c_ding_input_content">
                    <!--<span style="display:inline-block;padding:2px 5px;" class="c_input_tag">总监</span>-->
                  </div>
                </div>
                <ul id="ztreeMeanugroup"  class="ztree display-none"></ul>
              </div>
          </div>
        </div>
        <div class="c_modal_foot">
          <div class="" style="text-align:center;">
            <div class="c_ding_btn c_ding_btn_primary">保存</div>
            <div class="c_ding_btn ">取消</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="edit-role-container display-none">
      <h3>编辑角色</h3>
      <div class="c_side_modal animated">
        <div class="c_modal_body edit-department-info ">
          <div>
            <div class="c_action_content">角色信息</div>
            <div class="c_ding_form">
              <div class="c_ding_form_group">
                <label><i class="iconfont c_ding_from_icon"></i><span>角色名称:</span></label>
                <div class="input_content">
                  <input type="text" required minlength="13" class="c_ding_input add-role-name">
                </div>
              </div>
              <div class="c_ding_form_group">
                <label><i class="iconfont c_ding_from_icon"></i><span>分组到:</span></label>
                <div class="input_content">
                  <div class="Select has-value is-clearable is-disabled is-searchable Select--single">
                    <div class="Select-control">
                      <span class="Select-multi-value-wrapper">
                        <div class="Select-value">
                          <span class="Select-value-label add-role-name-group" role="option" aria-selected="true"></span>
                          <select name="" id="selectgroupTwo">
                          </select>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="c_ding_form_group">
                <label><i class="iconfont c_ding_from_icon"></i><span>选择权限:</span></label>
                <div class="input_content">
                  <div style="max-height:85px;padding:4px 12px;" class="c_ding_input c_ding_input_content">
                    <!--<span style="display:inline-block;padding:2px 5px;" class="c_input_tag">总监</span>-->
                  </div>
                </div>
                <ul id="ztreeMeanugroupTwo"  class="ztree display-none"></ul>
              </div>
            </div>
          </div>
          <div class="c_modal_foot">
            <div class="" style="text-align:center;">
              <div class="c_ding_btn c_ding_btn_primary">保存</div>
              <div class="c_ding_btn c_ding_btn_error">删除</div>
              <div class="c_ding_btn ">取消</div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="c_modal_box display-none">
  <div class="bg"></div>
  <div class="c_modal">
    <div>
      <div class="c_modal_head">选择部门</div>
      <div class="c_modal_body">
        <div class="c_selector_panel_box">
          <div class="c_selector_panel">
            <div class="title"><span>选择:</span></div>
            <div class="body">
              <div class="selector_left">
                <div class="ding_selector_input">
                  <div class="c_search_content">
                    <i class="iconfont search"></i>
                    <input value="" type="text" class="c_ding_input" placeholder="搜索"><span></span>
                  </div>
                </div>
                <span></span><span></span>
                <div>
                  <div class="ding_selector_navbar" style="padding-top0;">
                    <div class="c_selector_navbar_box"><span></span>
                      <div title="通讯录" class="c_selector_navbar_item"><span></span><span>通讯录</span></div>
                      <div title="飞创科技开发团队" class="c_selector_navbar_item">
                        <i class="iconfont" style="font-size:14px;"></i>
                        <span>飞创科技开发团队</span>
                      </div>
                    </div>
                  </div>
                  <div class="ding_selector_navbar" style="margin-top:-5px;font-size:14px;">
                    <input type="checkbox"><span>全选</span></div>
                  <div style="padding:11px;padding-top:0;height:261px;overflow:auto;">
                    <li class="c_list_item" title="nn" style="padding-left:40px;padding-right:45px;">
                      <label style="position:absolute;left:0;font-weight:100;"><input type="checkbox"></label>
                      <i class="iconfont" style="color:#aee4fa;font-size:15px;position:absolute;left:17px;margin-left:4px;"></i>
                      <span>nn</span>
                      <i class="iconfont" style="color:#38adff;font-size:14px;position:absolute;right:0;cursor:pointer;padding-left:10px;border-left:1px solid #eee;-webkit-text-stroke-width:inherit;text-stroke-width:inherit;">下级</i>
                    </li>
                    <li class="c_list_item" title="aa" style="padding-left:40px;padding-right:45px;">
                      <label style="position:absolute;left:0;font-weight:100;"><input type="checkbox"></label>
                      <i class="iconfont" style="color:#aee4fa;font-size:15px;position:absolute;left:17px;margin-left:4px;"></i>
                      <span>aa</span>
                      <i class="iconfont" style="color:#38adff;font-size:14px;position:absolute;right:0;cursor:pointer;padding-left:10px;border-left:1px solid #eee;-webkit-text-stroke-width:inherit;text-stroke-width:inherit;">下级</i>
                    </li>
                    <li class="c_list_item" title="cc" style="padding-left:40px;padding-right:45px;"><label
                            style="position:absolute;left:0;font-weight:100;"><input type="checkbox"></label><i
                            class="iconfont"
                            style="color:#aee4fa;font-size:15px;position:absolute;left:17px;margin-left:4px;"></i><span>cc</span><i
                            class="iconfont"
                            style="color:#38adff;font-size:14px;position:absolute;right:0;cursor:pointer;padding-left:10px;border-left:1px solid #eee;-webkit-text-stroke-width:inherit;text-stroke-width:inherit;">下级</i>
                    </li>
                    <li class="c_list_item" title="ee" style="padding-left:40px;padding-right:45px;"><label
                            style="position:absolute;left:0;font-weight:100;"><input type="checkbox"></label><i
                            class="iconfont"
                            style="color:#aee4fa;font-size:15px;position:absolute;left:17px;margin-left:4px;"></i><span>ee</span><i
                            class="iconfont"
                            style="color:#38adff;font-size:14px;position:absolute;right:0;cursor:pointer;padding-left:10px;border-left:1px solid #eee;-webkit-text-stroke-width:inherit;text-stroke-width:inherit;">下级</i>
                    </li>
                    <li class="c_list_item" title="tt" style="padding-left:40px;padding-right:45px;"><label
                            style="position:absolute;left:0;font-weight:100;"><input type="checkbox"></label><i
                            class="iconfont"
                            style="color:#aee4fa;font-size:15px;position:absolute;left:17px;margin-left:4px;"></i><span>tt</span><i
                            class="iconfont"
                            style="color:#38adff;font-size:14px;position:absolute;right:0;cursor:pointer;padding-left:10px;border-left:1px solid #eee;-webkit-text-stroke-width:inherit;text-stroke-width:inherit;">下级</i>
                    </li>
                    <li class="c_list_item" title="bb" style="padding-left:40px;padding-right:45px;"><label
                            style="position:absolute;left:0;font-weight:100;"><input type="checkbox"></label><i
                            class="iconfont"
                            style="color:#aee4fa;font-size:15px;position:absolute;left:17px;margin-left:4px;"></i><span>bb</span><i
                            class="iconfont"
                            style="color:#38adff;font-size:14px;position:absolute;right:0;cursor:pointer;padding-left:10px;border-left:1px solid #eee;-webkit-text-stroke-width:inherit;text-stroke-width:inherit;">下级</i>
                    </li>
                    <li class="c_list_item" title="vv" style="padding-left:40px;padding-right:45px;"><label
                            style="position:absolute;left:0;font-weight:100;"><input type="checkbox"></label><i
                            class="iconfont"
                            style="color:#aee4fa;font-size:15px;position:absolute;left:17px;margin-left:4px;"></i><span>vv</span><i
                            class="iconfont"
                            style="color:#38adff;font-size:14px;position:absolute;right:0;cursor:pointer;padding-left:10px;border-left:1px solid #eee;-webkit-text-stroke-width:inherit;text-stroke-width:inherit;">下级</i>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c_selector_panel">
            <div class="title"><span>已选</span><span>：</span></div>
            <div class="body" style="padding:10px;overflow:auto;">
              <li class="c_list_item" style="padding-right:30px;position:relative;" title="飞创科技开发团队"><i
                      class="iconfont"></i><span>&nbsp;</span><span>飞创科技开发团队</span><i class="iconfont close"
                                                                                       style="position:absolute;right:10px;"></i>
              </li>
            </div>
          </div>
        </div>
        <div class="c_selector_panel_footer">
          <div class="c_ding_btn c_ding_btn_primary">确定</div>
          <div class="c_ding_btn ">取消</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="import::scipt"></div>
<script th:inline="javascript">
  //.replace(/data-reactid.*?\"\>/g,'>')
  $(function () {
    /* 内部通讯录 外部联系人切换 */
    var internalContactsTitle = $(".internal-contacts-title"), internalContacts = $(".internal-contacts"),
            externalContactsTitle = $(".external-contacts-title"), externalContacts = $(".external-contacts");
    internalContactsTitle.on("click", function () {
      internalContacts.removeClass("display-none");
      externalContacts.addClass("display-none");

      $(this).addClass("wi-1o4_1");
      externalContactsTitle.removeClass("wi-1o4_1")
    });
    externalContactsTitle.on("click", function () {
      internalContacts.addClass("display-none");
      externalContacts.removeClass("display-none");

      $(this).addClass("wi-1o4_1");
      internalContactsTitle.removeClass("wi-1o4_1")
    });

    /* 内部联系人 组织架构与角色切换 */
    var internalContactsOrganizationTitle = $(".internal-contacts-organization-title"), internalContactsRoleTitle = $(".internal-contacts-role-title"),
        internalContactsOrganizationContainer = $(".internal-contacts-organization-container"), internalContactsRoleContainer = $(".internal-contacts-role-container");
    internalContactsOrganizationTitle.on("click", function () {
      $(this).addClass("checked");
      internalContactsRoleTitle.removeClass("checked");

      internalContactsOrganizationContainer.removeClass("display-none");
      internalContactsRoleContainer.addClass("display-none")
    });
    internalContactsRoleTitle.on("click", function () {
      $(this).addClass("checked");
      internalContactsOrganizationTitle.removeClass("checked");

      internalContactsRoleContainer.removeClass("display-none");
      internalContactsOrganizationContainer.addClass("display-none");

      /* 获取角色 */
      var setting = {
        async: {
          enable: true,
          dataType: "json",
          type: "get",
          url: contextPath+"role/all",
          dataFilter: ajaxDataFilter
        },
        data:{
          key: {
            name: "description"
          },
          simpleData : {
            enable : true,
            idKey: "id",
            pIdKey: "pid",
            rootPId: 0
          }
        },
        callback: {
          onAsyncSuccess:onAsyncSuccess,
          onClick: zTreeOnClick
        },
        view: {
          fontCss: getFontCss,
          showLine: false
        }
      };
      function zTreeOnClick(event, treeId, treeNode) {
        $(".c_title_1.contact_header span.role-name").text(treeNode.description).attr("data-id", treeNode.id).attr("data-pid", treeNode.pid);
        getRoleUserList(treeNode.id);
      }
      function onAsyncSuccess(event, treeId, treeNode, msg) {
        $(".c_title_1.contact_header span.role-name").text(msg.list[0].description).attr("data-id", msg.list[0].id).attr("data-pid", msg.list[0].pid);
        var zTree = $.fn.zTree.getZTreeObj("treeRole");
        zTree.expandAll(true);
        var nodes = zTree.getNodes();
        if (nodes.length>0) {
          zTree.selectNode(nodes[0]);
        }

        getRoleUserList(msg.list[0].id);
      }
      /* 刷新节点 */
      function refreshNode() {
        var zTree = $.fn.zTree.getZTreeObj("treeRole");
        zTree.reAsyncChildNodes(null, "refresh");
      }
      //异步加载返回的数据
      function ajaxDataFilter(treeId, parentNode, responseData) {
        return responseData.list;
      }
      $.fn.zTree.init($("#treeRole"), setting);

      /* 新建角色组 */
      $(".add-role-group-name-container .c_ding_btn_primary").on("click", function () {
        $.ajax({
          async : false,
          cache:false,
          type: 'post',
          dataType : "json",
          contentType: "application/json",
          url: contextPath + "role/",
          data: JSON.stringify({
            "description": $(".add-role-group-name").val(),
            "pid": "0"
          }),
          success:function(data){
            if (data.status == "200") {
              $('.tb-right-menu').removeClass('right-menu-open');
              refreshNode();
              alert(" 成功");
            }
          },
          error: function () {
            alert('请求失败');
          }
        });
      });

      /* 新增角色 */
      $(".add-role-name-container .c_ding_btn_primary").on("click", function () {
        $.ajax({
          async : false,
          cache:false,
          type: 'post',
          dataType : "json",
          contentType: "application/json",
          url: contextPath + "role/",
          data: JSON.stringify({
            "description": $(".add-role-name").val(),
            "pid": $("#selectgroup").val(),
            "menus": JSON.parse($("#ztreeMeanugroup").attr("data-checkedObj"))
          }),
          success:function(data){
            if (data.status == "200") {
              $('.tb-right-menu').removeClass('right-menu-open');
              refreshNode();
              alert(" 成功");
            }
          },
          error: function () {
            alert('请求失败');
          }
        });
      });

      /* 获取角色人员列表 */
      var getRoleUserList = function (id) {
        var dragDropStaffBox = $(".internal-contacts-role-container .dragDropStaff");
        dragDropStaffBox.html('');
        $.ajax({
          async : false,
          cache:false,
          type: 'get',
          dataType : "json",
          contentType: "application/json",
          url: contextPath + "dingtalk_user/roleid/"+id,
          success:function(data){
            if (data.status == "200") {
              console.log(data);
              var dataList = data.list, dragDropStaffHtml = '';
              $.each(dataList, function (i, item) {
                dragDropStaffHtml += '<tr class="disabled">'+
                  '<td title="'+ item.name +'">'+ item.name +'</td>'+
                  '<td></td>'+
                  '<td>'+ item.jobnumber +'</td>'+
                '</tr>';
              });
              dragDropStaffBox.append(dragDropStaffHtml)
            }
          },
          error: function () {
            alert('请求失败');
          }
        });
      };
    });

    /* 部门列表 */
    var dragDropDept = function (id) {
      var dragDropDeptBox = $(".dragDropDept"), dragDropDeptHtml = '';
      dragDropDeptBox.html('');
      $.ajax({
        async : false,
        cache:false,
        type: 'get',
        dataType : "json",
        url: contextPath + "dingtalk_dept/parentid/"+id,
        success:function(data){
          if (data.status == "200") {
            dataList = data.list;
            if (dataList.length) {
              $.each(dataList, function (i, item) {
                dragDropDeptHtml += '<div>'+
                        '<div class="c_drag_drop_dept_item"><span></span>'+
                        '<div class="name"><span>'+ item.name +'</span>&nbsp;<span></span></div>'+
                        '<div class="number"><i class="iconfont" style="color:#b9babc;"></i></div>'+
                        '</div>'+
                        '</div>';
              });
            } else {
              dragDropDeptHtml = '<div class="c_warning_nobgc" ><span >当前部门不包含下级部门</span><a class="c_link" style="margin-left:10px;" >添加子部门</a></div>'
            }
            dragDropDeptBox.append(dragDropDeptHtml)
          }
        },
        error: function () {
          alert('请求失败');
        }
      });
    };
    /* 部门人员 */
    var dragDropStaff = function (id) {
      var dragDropStaffBox = $(".internal-contacts-organization-container .dragDropStaff"), dragDropStaffHtml = '';
      dragDropStaffBox.html('');
      $.ajax({
        async : false,
        cache:false,
        type: 'get',
        dataType : "json",
        url: contextPath + "dingtalk_user/deptId/"+id,
        success:function(data){
          if (data.status == "200") {
            dataList = data.list;
            if (dataList.length) {
              $.each(dataList, function (i, item) {
                dragDropStaffHtml += '<tr class="">'+
                        '<td class="hidden_staffId" style="display:none;"></td>'+
                        '<td style="padding-top:4px;"><input type="checkbox"></td>'+
                        '<td title="'+ item.name +'"><span>'+ item.name +'</span></td>'+
                        '<td title="">'+ item.position +'</td>'+
                        '<td title="">'+ item.jobnumber +'</td>'+
                        '<td title="'+ item.mobile +'">'+ item.mobile +'</td>'+
                        '<td title="" style="padding-right:65px;position:relative;"><span>'+ item.email +'</span>'+
//                        '<div class="c_ding_btn c_ding_btn_xxs c_ding_btn_primary_border" style="position:absolute;top:5px;right:10px;">邀请'+
                        '</div>'+
                        '</td>'+
                        '</tr>';
              });
            } else {
              dragDropStaffHtml = '<td colspan="6"><div class="c_warning_nobgc"><span>当前部门暂无人员</span><a style="margin-left:10px;" class="c_link add-contacts-info-btn">添加成员</a></div></td>'
            }
            dragDropStaffBox.append(dragDropStaffHtml)
          }
        },
        error: function () {
          alert('请求失败');
        }
      })
    };

    /* 获取组织架构 */
    var setting = {
      async: {
        enable: true,
        dataType: "json",
        type: "get",
        url:contextPath+"dingtalk_dept/all",
        dataFilter: ajaxDataFilter
      },
      data:{
        key: {
          name: "name"
        },
        simpleData : {
          enable : true,
          idKey: "id",
          pIdKey: "parentid",
          rootPId: 0
        }
      },
      callback: {
        onAsyncSuccess:onAsyncSuccess,
        onClick: zTreeOnClick
      },
      view: {
        fontCss: getFontCss,
        showLine: false
      }
    };
    var pathList = [];
    function zTreeOnClick(event, treeId, treeNode) {
      $(".c_title_1.contact_header>span:first-child").text(treeNode.name).attr("data-id", treeNode.id).attr("data-pid", treeNode.parentid);
      dragDropDept(treeNode.id);
      dragDropStaff(treeNode.id);
      pathList = treeNode.getPath();
      console.log(treeNode.getPath());
    }
    function onAsyncSuccess(event, treeId, treeNode, msg) {
       $(".c_title_1.contact_header>span:first-child").text(msg.list[0].name).attr("data-id", msg.list[0].id).attr("data-pid", msg.list[0].parentid);
       dragDropDept(msg.list[0].id);
       dragDropStaff(msg.list[0].id);
      var zTree = $.fn.zTree.getZTreeObj("treeOrganization");
      zTree.expandAll(true);
      var nodes = zTree.getNodes();
      if (nodes.length>0) {
        zTree.selectNode(nodes[0]);
      }
    }
    function getFontCss(treeId, treeNode) {
//      return (!!treeNode.highlight) ? {color:"#A60000", "font-weight":"bold"} : {color:"#333", "font-weight":"normal"};
    }
    /* 刷新节点 */
    function refreshNode() {
      /*根据 treeId 获取 zTree 对象*/
      var zTree = $.fn.zTree.getZTreeObj("treeOrganization");
      zTree.reAsyncChildNodes(null, "refresh");
    }
    //异步加载返回的数据
    function ajaxDataFilter(treeId, parentNode, responseData) {
      return responseData.list;
    }
    $.fn.zTree.init($("#treeOrganization"), setting);
    /* 编辑右边弹出层 */
    $(document).on('click', '.tb-right-menu .c_ding_btn_primary, .tb-right-menu .c_ding_btn, .mark-layer', function() {
      $('.tb-right-menu').removeClass('right-menu-open');
      $(".mark-layer").remove();
    });
    $(document).on('click', '.c_ding_btn.contact_btn.edit-role-btn, .edit-department-info-btn, .add-children-department-info-btn, .add-contacts-info-btn, .add-role-group-name-btn, .add-role-name-btn', function() {

      $('.tb-right-menu').addClass('right-menu-open');
      if ($(this).hasClass("edit-department-info-btn")) {
        $(".tb-right-menu>.edit-department-info-container").removeClass("display-none").siblings().addClass("display-none");
        /* 编辑部门 */
        var id = $(this).siblings(".department-info-name").attr('data-id'), pid = $(this).siblings(".department-info-name").attr('data-pid'), name = $(this).siblings(".department-info-name").text(),
                editDepartmentInfoName = $(".edit-department-info input.edit-department-info-name"),
                editDepartmentInfoNameBtn = $(".c_side_modal .c_modal_foot .c_ding_btn_primary"),
                deleteDepartmentInfoNameBtn = $(".c_side_modal .c_modal_foot .c_ding_btn_error");
        editDepartmentInfoName.val(name);
        if (pid == "0") {
          deleteDepartmentInfoNameBtn.addClass("display-none")
        } else {
          deleteDepartmentInfoNameBtn.removeClass("display-none")
        }
        /* 编辑 */
        editDepartmentInfoNameBtn.unbind();
        editDepartmentInfoNameBtn.on("click", function () {
          if( validateForm() ){
            $('#validateForm').submit();
          }
          var pathListStr = [];
          $.each(pathList, function (i, item) {
            pathListStr.push(item.id);
          });
          $.ajax({
            async : false,
            cache:false,
            type: 'put',
            dataType : "json",
            contentType: "application/json",
            url: contextPath + "dingtalk_dept/",
            data: JSON.stringify({
              "name": editDepartmentInfoName.val(),
              "parentid": pid,
              "id": id,
              "path": pathListStr.join(",") || $(".department-info-name").attr("data-id")
            }),
            success:function(data){
              if (data.status == "200") {
                $('.tb-right-menu').removeClass('right-menu-open');
                refreshNode();
                alert(" 成功");
              }
            },
            error: function () {
              alert('请求失败');
            }
          });
        });
        /*  删除 */
        deleteDepartmentInfoNameBtn.unbind();
        deleteDepartmentInfoNameBtn.on("click", function () {
          $.ajax({
            async : false,
            cache:false,
            type: 'delete',
            dataType : "json",
            contentType: "application/json",
            url: contextPath + "dingtalk_dept/"+id,
            success:function(data){
              if (data.status == "200") {
                $('.tb-right-menu').removeClass('right-menu-open');
                refreshNode();
                alert(" 成功")
              }
            },
            error: function () {
              alert('请求失败');
            }
          });
        });
      }

      /* 添加子部门 */
      if ($(this).hasClass("add-children-department-info-btn")) {
        $(".tb-right-menu>.add-children-department-info-container").removeClass("display-none").siblings().addClass("display-none")
        $(".parent-department-name").text($(".department-info-name").text());
        var pathListStr = [];
        $.each(pathList, function (i, item) {
          pathListStr.push(item.id);
        });
        console.log(pathListStr.join(","));
        $(".add-children-department-info-primary").unbind();
        $(".add-children-department-info-primary").on("click", function () {
          $.ajax({
            async : false,
            cache:false,
            type: 'post',
            dataType : "json",
            contentType: "application/json",
            url: contextPath + "dingtalk_dept/",
            data: JSON.stringify({
              "name": $(".add-department-info-name").val(),
              "parentid": $(".department-info-name").attr("data-id"),
              "path": pathListStr.join(",") || $(".department-info-name").attr("data-id")
            }),
            success:function(data){
              if (data.status == "200") {
                $('.tb-right-menu').removeClass('right-menu-open');
                refreshNode();
                alert(" 成功");
              }
            },
            error: function () {
              alert('请求失败');
            }
          });
        });
      }

      /* 添加成员 */
      if ($(this).hasClass("add-contacts-info-btn")) {
        $(".tb-right-menu>.add-contacts-info-container").removeClass("display-none").siblings().addClass("display-none")
      }

      /* 添加角色组 */
      if ($(this).hasClass("add-role-group-name-btn")) {
        $(".tb-right-menu>.add-role-group-name-container").removeClass("display-none").siblings().addClass("display-none")
      }

      /* 添加角色 */
      if ($(this).hasClass("add-role-name-btn")) {
        $(".tb-right-menu>.add-role-name-container").removeClass("display-none").siblings().addClass("display-none")
//        $(".add-role-name-group").text($(".internal-contacts-role-container .role-name").text());
        //获取角色组列表
        $.ajax({
          async : false,
          cache:false,
          type: 'get',
          dataType : "json",
          contentType: "application/json",
          url: contextPath + "role/all",
          success:function(data){
            if (data.status == "200") {
              var dataList = data.list, selectGroupBox = $("#selectgroup"), selectGroupHtml = '';
              selectGroupBox.html("");
              $.each(dataList, function (i, item) {
                if (item.pid == "0") {
                  selectGroupHtml += '<option value='+ item.id +' data-id='+ item.id +'>'+ item.description +'</option>';
                }
              });
              selectGroupBox.append(selectGroupHtml)
            }
          },
          error: function () {
            alert('请求失败');
          }
        });

        //获取权限列表
        var settings = {
          async: {
            enable: true,
            dataType: "json",
            type: "get",
            url: contextPath+"sys/menu/all",
            dataFilter: ajaxDataFilterFn
          },
          data:{
            key: {
              name: "name"
            },
            simpleData : {
              enable : true,
              idKey: "id",
              pIdKey: "pid",
              rootPId: 0
            }
          },
          callback: {
            onAsyncSuccess:onAsyncSuccessFn,
            onCheck: zTreeOnCheckFn
          },
          view: {
            showLine: false
          },
          check: {
            enable: true,
            chkStyle: "checkbox"
          }
        };
        var ztreeMeanugroup = $("#ztreeMeanugroup"),
            inputContentBox = $("#ztreeMeanugroup").siblings(".input_content").find(".c_ding_input.c_ding_input_content"),
            inputContentHtml = "";
        ztreeMeanugroup.addClass("display-none");
        inputContentBox.on("click", function () {
          ztreeMeanugroup.removeClass("display-none")
        });
        function onAsyncSuccessFn(event, treeId, treeNode, msg) {
          inputContentBox.html('');
        };
        function zTreeOnCheckFn() {
          var treeObj = $.fn.zTree.getZTreeObj("ztreeMeanugroup"),
              nodes = treeObj.getCheckedNodes(true),
              checkedObj = [];
          $.each(nodes, function (i, item) {
            var checkedObjItem = {
              "id": item.id
            };
            checkedObj.push(checkedObjItem);
            inputContentHtml += '<span class="c_input_tag" style="display:inline-block;padding:2px 5px;">'+ item.name +'</span>';
          });
          inputContentBox.append(inputContentHtml)
          ztreeMeanugroup.attr("data-checkedObj", JSON.stringify(checkedObj))
        }
        function ajaxDataFilterFn(treeId, parentNode, responseData) {
          return responseData.list;

        }
        $.fn.zTree.init($("#ztreeMeanugroup"), settings);


      }

      /* 编辑角色组，角色 */
      if ($(this).hasClass("edit-role-btn")) {
        $(".tb-right-menu>.edit-role-container").removeClass("display-none").siblings().addClass("display-none");
        var editRoleId = $(this).siblings(".role-name").attr('data-id'),
            editRolePid = $(this).siblings(".role-name").attr('data-pid'),
            editRoleName = $(this).siblings(".role-name").text();
        $(".edit-role-name, .edit-role-group-name").val(editRoleName);
        console.log(editRoleId);
        if (editRolePid == "0") {
          $(".edit-role-container").addClass("display-none");
          $(".edit-role-group-name-container").removeClass("display-none");
          /* 编辑角色组 */
          $(".edit-role-group-name-container .c_ding_btn_primary").on("click", function () {
            $.ajax({
              async : false,
              cache:false,
              type: 'put',
              dataType : "json",
              contentType: "application/json",
              url: contextPath + "role/",
              data: JSON.stringify({
                "description": $(".edit-role-group-name").val(),
                "pid": "0",
                "id": $(".edit-role-btn").siblings(".role-name").attr('data-id'),
                "is_del": "0"
              }),
              success:function(data){
                if (data.status == "200") {
                  $('.tb-right-menu').removeClass('right-menu-open');
                  refreshNode();
                  alert(" 成功");
                }
              },
              error: function () {
                alert('请求失败');
              }
            });
          });
        } else {
          $(".edit-role-group-name-container").addClass("display-none");
          $(".edit-role-container").removeClass("display-none")
        }
      }
        $('.tb-right-menu').append('<span class="mark-layer" style="display: block !important;"></span>');



      /* validate */
      function validateForm() {
        return $("#validateForm").validate({
          errorPlacement: function(error, element) {
            $( element )
                    .closest( "form" )
                    .find( "label[for='" + element.attr( "id" ) + "']" )
                    .append( error );
          },
          errorElement: "span",
          messages: {
            editdepartmentname : {
              required: " (必需字段)",
              minlength: " (不能少于 3 个字母)"
            }
          }
        });
      }
    });
  })
</script>
</body>
</html>
