<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body layout:fragment="content">
<div class="page-header">
    <h1>
        添加设备
        <small>
            <!--<i class="ace-icon fa fa-angle-double-right"></i>-->
            <!--Static &amp; Dynamic Tables-->
        </small>
    </h1>
</div>
<div class="row" id="deviceAdd">
    <div class="col-xs-12">
        <div class="row">
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace"/>
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>生产编号</th>
                        <!--<th></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <td class=" center"><label class="pos-rel"><input type="checkbox" class="ace"><span class="lbl"></span> </label></td>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<script type="text/javascript" th:inline="javascript">
    jQuery(function($) {
        new Vue({
            el:"#deviceAdd",
            data:{
                content:{
                    "data":[
                        {
                            "name":"1235184531",
                            "position":"FGGD_1",
                            "office":"成都华西",
                            "Extn":"张三",
                            "Start":"李四",
                            "status":"在线",
                            "Salary":""
                        }
                    ]
                }

            },
            mounted:function(){
                var _this = this;
                var myTable =$('#dynamic-table').DataTable({
                        bAutoWidth: false,
                        "language": {
                            "url": contextPath+"ace/assets/js/zh_CN.json"
                        },
                        'order': [],
                        "ordering": true,
                        "processing": true,
                        'paging': true,
                        "serverSide": true,
                        'searching': false,
                        "ajax": function (data, callback, settings) {
                            var formData = $("#search-form").serialize();
                            var pageNum=data.start/data.length+1;
                            var pageSize=data.length;
                            var draw=data.draw;
                            var orderByClause="";
                            for(var i=0;i<data.order.length;i++){
                                var obj=data.order[i];
                                var col=obj.column;
                                var dir=obj.dir;
                                var pro = data.columns[col].data;
                                orderByClause+=pro+" "+dir+",";
                            }
                            orderByClause = orderByClause.substr(0,orderByClause.lastIndexOf(","));
                            var param="?pageNum="+pageNum+"&pageSize="+pageSize+"&"+formData+"&draw="+draw+"&od="+orderByClause;
                            $.ajax({
                                "url": contextPath+"api/device/page"+param,
                                // "url": _this.content.data,
                                "type": "get",
                                dataType:"json",
                                contentType:'application/json',
                                "success": function (json) {
                                    if (json.status == 200) {
                                        var data = {};

                                        data.recordsTotal = json.content.recordsTotal;
                                        data.recordsFiltered = json.content.recordsFiltered;
                                        data.data = json.content.data;
                                        callback(data);
                                    }
                                },
                                "error": function (XMLHttpRequest, textStatus, errorThrown) {
                                    console.log(errorThrown);
                                }
                            });
                        },
                        "columns": [
                            {"data": null},
                            {"data": "deviceProductionNum"}
                        ],
                        "columnDefs": [
                            {
                                "targets": 0,
                                'searchable': false,
                                'orderable': false,
                                "data": null,
                                "render": function (data, type, row) {
                                    return '<label class="pos-rel"><input type="checkbox" class="ace" /><span class="lbl"></span> </label>';
                                },
                                "className": "center"

                            },
                            {
                                "targets": 1,
                                "orderable": true,
                                "searchable": true,
                                "render": function (data, type, row) {
                                    return '<td>' + data + '</td>';
                                }
                            }
                        ],
                        select: {
                            style: 'multi'
                        }
                    });
            }
        });

    })
</script>
</body>
</html>