<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <style>
        .btn, .border-none {
            border: 1px solid #6FB3E0;
        }
    </style>
</head>
<body layout:fragment="content">
<div class="row">
    <div class="col-xs-12" id="editDevice">
        <div class="page-header">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <div class="float-left">
                        <span class="font-size-18 border-left-blue">编辑设备</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 text-align-right">
                    <button type="button" data-toggle="modal" @click="backList" class="btn btn-info">
                        <i class="ace-icon fa fa-reply icon-only"></i>
                        返回
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="form-horizontal" id="form" method="post">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right">所属项目:</label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="clearfix">
                            <!--<input type="text" name="deviceType" id="deviceType" class="col-xs-12 col-sm-6" />-->
                            <select class="form-control" name="projectName" v-model="selectProject">
                                <option :value="item1.projectId" v-for="item1 in projectName">{{item1.projectName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right">操作员:</label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="clearfix">
                            <!--<input type="text" name="manufacturerId" id="manufacturerId" class="col-xs-12 col-sm-6" />-->
                            <select class="form-control" name="operateUserName" v-model="selectOperate">
                                <option :value="item1.userid" v-for="item1 in userList">{{item1.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right">抄表员:</label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="clearfix">
                            <!--<input type="text" name="userName" id="userName" class="col-xs-12 col-sm-6" />-->
                            <select class="form-control" name="transcribeUserName" v-model="selectTranscribe">
                                <option :value="item1.userid" v-for="item1 in userList">{{item1.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right">指定中间商:</label>
                    <div class="col-xs-12 col-sm-9">
                        <div class="clearfix">
                            <!--<input type="text" name="deviceStatus" id="deviceStatus" class="col-xs-12 col-sm-6" />-->
                            <select class="form-control" name="intermediaryName"  v-model="selectIntermediary">
                                <option :value="item.intermediaryId" v-for="item in intermediaryName">{{item.intermediaryName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="deviceId"  id="deviceId">
                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit" id="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" @click="resetData">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<script type="text/javascript" th:inline="javascript">

    jQuery(function($) {
        var id=[[${id}]];
        new Vue({
            el:"#editDevice",
            data:{
                projectName:"",
                // operateUserName:"",
                userList:"",
                intermediaryName:"",
                selectProject:"",
                selectOperate:"",
                selectTranscribe:"",
                selectIntermediary:""
            },
            methods:{
                resetData:function(){
                    this.selectProject = "";
                    this.selectOperate = "";
                    this.selectTranscribe = "";
                    this.selectIntermediary = "";
                },
                backList:function(){
                    location.href=contextPath+"device/list";
                }
            },
            mounted:function(){
                var _this = this;
                //页面初始化查询数据
                $.ajax({
                    url: contextPath+"api/device/"+id+"",
                    method: "get",
                    success: function (data) {
                        _this.selectProject = data.content.project.projectId;
                        _this.selectOperate = data.content.operateUser.userid;
                        _this.selectTranscribe = data.content.transcribeUser.userid;
                        _this.selectIntermediary = data.content.intermediary.intermediaryId;
                    },
                    error: function (data) {
                        // console.log("查询数据出错！");
                    }
                });

                //    项目下拉
                $.ajax({
                    url:contextPath+"api/project/idNameList",
                    type:"get",
                    success:function (data) {
                        _this.projectName = data.content;
                        _this.operateUserName = data.content;
                        _this.transcribeUserName = data.content;
                    }
                });
                // 中间商下拉
                $.ajax({
                    url: contextPath+"api/intermediary/idNameList",
                    type:"get",
                    success:function (data) {
                        _this.intermediaryName = data.content;
                    }
                });

                //操作员，抄表员
                $.ajax({
                    url:contextPath+"api/dingtalkuser/idNameList",
                    type:"get",
                    success:function(data){
                        _this.userList = data.content
                    }
                });

                var $form = $('#form').validate({
                    errorElement: 'div',
                    errorClass: 'help-block',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                        projectName: {
                            required: true
                        },
                        operateUserName: {
                            required: true
                        },
                        transcribeUserName: {
                            required: true
                        },
                        intermediaryName: {
                            required: true
                        }
                    },
                    highlight: function (e) {
                        $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                    },
                    success: function (e) {
                        $(e).closest('.form-group').removeClass('has-error');
                        $(e).remove();
                    },
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    },
                    submitHandler: function (form) {
                        var data = {
                            deviceId:id,
                            operateUser:{
                                userid:_this.selectOperate
                            },
                            transcribeUser:{
                                userid:_this.selectTranscribe
                            },
                            project:{
                                projectId:_this.selectProject
                            },
                            intermediary:{
                                intermediaryId:_this.selectIntermediary
                            }
                        };
                        $.ajax({
                            url: contextPath+"api/device",
                            method: "put",
                            data : JSON.stringify(data),
                            contentType: "application/json",
                            dataType : "json",
                            success: function (data) {
                                if(data.status == 200){
                                    location.href=contextPath+"device/list";
                                }

                            },
                            error: function (data) {
                                // console.log(data);
                            }
                        })


                    },
                    invalidHandler: function (form) {

                    }
                });
            }
        });


    })
</script>
</body>
</html>