<!DOCTYPE html>
<html>
<div th:replace="import::hdr"></div>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor">
</div>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        设备管理
      </h1>
    </section>

    <!-- /.content -->
  </div>
</div>
<div th:replace="import::scipt"></div>
<script th:inline="javascript">
</script>
</body>
</html>
