<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body layout:fragment="content">
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <form class="form-horizontal" id="form" method="post">

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="locationY">locationY:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="locationY" id="locationY" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="msgType">msgType:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="msgType" id="msgType" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="fromUser">fromUser:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="fromUser" id="fromUser" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="locationX">locationX:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="locationX" id="locationX" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="format">format:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="format" id="format" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="thumbmediaId">thumbmediaId:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="thumbmediaId" id="thumbmediaId" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="scale">scale:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="scale" id="scale" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="description">description:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="description" id="description" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="msgId">msgId:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="msgId" id="msgId" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="label">label:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="label" id="label" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="mediaId">mediaId:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="mediaId" id="mediaId" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="title">title:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="title" id="title" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="content">content:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="content" id="content" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="url">url:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="url" id="url" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="toUser">toUser:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="toUser" id="toUser" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="picUrl">picUrl:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="picUrl" id="picUrl" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="createTime">createTime:</label>
            <div class="col-xs-12 col-sm-9">
                <div class="clearfix">
                    <input type="text" name="createTime" id="createTime" class="col-xs-12 col-sm-6" />
                </div>
            </div>
        </div>


    <input type="hidden" name="messageId"  id="messageId">


                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit" id="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<script type="text/javascript" th:inline="javascript">

    jQuery(function($) {
        var id=[[${id}]];
        $.ajax({
            url: contextPath+"api/wxmessage?id="+id,
            method: "get",
            success: function (data) {
                $('#form').autofill(data.content);
            },
            error: function (data) {
                console.log("查询数据出错！");
            }
        })




        var $form = $('#form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                locationY: {
                    required: true
                },
                msgType: {
                    required: true
                },
                fromUser: {
                    required: true
                },
                locationX: {
                    required: true
                },
                format: {
                    required: true
                },
                thumbmediaId: {
                    required: true
                },
                scale: {
                    required: true
                },
                description: {
                    required: true
                },
                msgId: {
                    required: true
                },
                label: {
                    required: true
                },
                mediaId: {
                    required: true
                },
                title: {
                    required: true
                },
                content: {
                    required: true
                },
                url: {
                    required: true
                },
                toUser: {
                    required: true
                },
                picUrl: {
                    required: true
                },
                createTime: {
                    required: true
                },
            },
            
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                 error.insertAfter(element.parent());
            },

            submitHandler: function (form) {

                var data = $(form).serializeObject();

                $.ajax({
                    url: contextPath+"api/wxmessage/",
                    method: "put",
                    data : JSON.stringify(data),
                    contentType: "application/json",
                    dataType : "json",
                    success: function (data) {
                        location.href=contextPath+"wxmessage/list";
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })


            },
            invalidHandler: function (form) {

            }
        });
    })
</script>
</body>
</html>