/* 人员管理 */
html,body {
    color: #333;
    background: #e7e8eb;
}

.c_title_1 {
    padding: 15px 0;
    font-size: 20px;
}

.c_title_1 .iconfont {
    font-size: 20px;
    margin-right: 8px;
}

.c_action_content {
    width: 100%;
    padding: 0px 15px;
    min-height: 38px;
    background: #eceff4;
    line-height: 38px;
}

.c_list_more {
    width: 100%;
    padding: 7px 35px;
    color: #38adff;
    font-size: 12px;
}

.c_list_more span {
    cursor: pointer;
}

.c_warning {
    font-size: 12px;
    text-align: center;
    width: 100%;
    background: #fffada;
    padding: 9px;
    color: #333;
}

.c_warning_box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.c_warning_item{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.c_error {
    font-size: 12px;
    text-align: center;
    width: 100%;
    background: #ffece7;
    padding: 9px;
    color: #333;
}

.c_warning_nobgc {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 9px;
    color: #929292;
}

.c_link {
    color: #38adff;
    padding: 0px 5px;
    cursor: pointer;
}

.c_link+.c_link {
    margin-left: 5px;
}

.c_hidden_mask {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #000;
    z-index: 999999;
}

.c_hidden_mask_over {
    position: relative;
    z-index: 9999999;
}

.c_right_box {
    width: 100%;
    background: #fff;
    float: left;
}

.c_left_box {
    width: 100%;
    background: #f4f6f8;
    float: left;
    border-right: 1px solid #dedede;
}

.c_box {
    width: 100%;
    margin: auto;
    /*display: flex;*/
    border-radius: 4px;
    /* overflow: hidden; */
    border: 1px solid #dedede;
}

.c_list_item {
    width: 100%;
    list-style: none;
    padding: 5px 5px;
    font-size: 14px;
    color: #363636;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.c_list_item:hover {
    background: #e7eaef;
}

.c_list_item .iconfont {
    color: #aee4fa;
}

.c_list_item .close {
    color: #797a7b;
    cursor: pointer;
}

.c_list_item .close:hover {
    color: #222;
}

.c_panel_box {
    padding: 20px 15px;
}


/*搜索输入框*/

.c_search_content {
    padding: 0 5px;
    width: 100%;
    position: relative;
}

.c_search_content .c_ding_input {
    padding: 6px 25px 6px 12px;
    padding-left: 33px;
    width: 100%;
}

.c_search_content .close {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}

.c_search_content .search {
    position: absolute;
    top: 2px;
    left: 11px;
    font-size: 20px;
    color: #949494;
}

.c_search_content .close:hover {
    color: #999;
}

.c_search_result {
    width: 100%;
}

.c_search_result .label {
    height: 37px;
    line-height: 37px;
    font-size: 14px;
    padding-left: 10px;
}

.alert_warning {
    font-size: 14px;
    width: 100%;
    background: #fffada;
    padding: 9px;
    color: #333;
    border: 1px solid #ede7c1;
    border-radius: 4px;
    font-family: ArialMT;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.alert_success {
    font-size: 14px;
    width: 100%;
    background: #38adff;
    padding: 9px;
    color: #ffffff;
    border: 1px solid #008cee;
    border-radius: 4px;
    font-family: ArialMT;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.alert_fail {
    font-size: 14px;
    width: 100%;
    background: #e7c3c3;
    padding: 9px;
    color: #a94442;
    border: 1px solid #dca7a7;
    border-radius: 4px;
    font-family: ArialMT;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.text-muted {
    color: #777;
}

.text-danger {
    color: #a94442;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #d5d5d5;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #d5d5d5;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #d5d5d5;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #d5d5d5;
}

.tips {
    display: inline;
    position: relative;
    cursor: help;
    top: -1px;
    margin-left: 1px;
    margin-right: 1px;
}

.tips:hover:after {
    content: attr(data-title);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    position: absolute;
    left: 12px;
    bottom: 12px;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
    line-height: 20px;
    padding: 7px;
    z-index: 999999999;
    width: 300px;
    white-space: pre-line;
}

.label_tree_item {
    line-height: 37px;
    padding: 0px 12px;
    overflow: hidden;
    font-size: 14px;
    display: block;
}

.label_tree_item:hover {
    background: #e7eaef;
    cursor: pointer;
}

.label_tree_item input {
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.label_tree_children .label_tree_item {
    padding-left: 32px;
}

.label_tree_item .iconfont {
    color: #7D8790;
    margin-right: 5px;
    position: relative;
    top: -1px;
    font-size: 14px;
}


/*进度条*/

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-striped,
.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-bar.active,
.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.c_dl {
    width: 100%;
    overflow: hidden;
}

.c_dt {
    width: 15%;
    float: left;
    text-align: right;
    padding: 15px 10px;
}

.c_dd {
    width: 85%;
    float: left;
    padding: 10px;
}

.c_dd .c_item {
    padding: 5px 8px;
    width: 25%;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.c_pull_left {
    float: left;
}

.c_pull_right {
    float: right;
}

.c_new_tag {
    color: #ff7474;
    position: absolute;
    top: -15px;
    line-height: 20px;
    right: -28px;
    font-size: 30px !important;
}

.c_new_point {
    position: relative;
}

.c_new_point:after {
    position: absolute;
    content: " ";
    top: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4141;
    z-index: 1000;
}

.c_hide {
    display: none;
}

.flex_box {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
}
.inline_flex_box {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
}


.c_ding_btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #c3c6ce;
    background: #ffffff;
    border-radius: 4px;
    min-width: 80px;
    color: #414141;
    position: relative;
}

.c_ding_btn:hover {
    border: 1px solid #a4a8b1;
    background: #fff;
    color: #767676;
}

.c_ding_btn_primary {
    color: #fff;
    background-color: #38adff;
    border-color: rgba(0, 140, 238, 0.72);
}

.c_ding_btn_primary:hover {
    color: #fff;
    border: 1px solid #38adff;
    background: #5abbff;
}

.c_ding_btn_error {
    color: #ff4141;
    background: #ffffff;
    border: 1px solid #ff4141;
}

.c_ding_btn_error:hover {
    color: #ff7474;
    background-color: #ffffff;
    border: 1px solid #ff7474;
}

.c_ding_btn_block {
    display: block;
    width: 100%;
}

.c_ding_btn_xs {
    padding: 3px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    min-width: 74px;
}

.c_ding_btn_xxs {
    padding: 3px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    min-width: 50px;
}

.c_ding_btn_circle {
    border-radius: 40px;
}

.c_ding_btn_primary_border {
    border-color: #38adff;
    color: #38adff;
    /*background-color: #e6f5ff;*/
}

.c_ding_btn_primary_border:hover {
    background: #f2f4f6;
    border-color: #1f9ef7;
    color: #1f9ef7;
}

.c_ding_btn_text_sm {
    font-size: 13px;
    padding: 8px 0px;
}

.c_ding_btn_block+.c_ding_btn_block {
    margin-top: 10px;
}

.c_ding_btn+.c_ding_btn {
    margin-left: 10px;
}

.c_ding_btn_inline_group {
    display: -webkit-flex;
    display: flex;
}

.c_ding_btn_inline_group .item {
    background: #e7eaef;
    text-align: center;
    padding: 8px 0px;
    flex-grow: 1;
    flex: 1;
    cursor: pointer;
}

.c_ding_btn_inline_group .item:hover {
    background: #ddd;
}

.c_ding_btn_inline_group .item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.c_ding_btn_inline_group .item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.c_ding_btn_inline_group .checked {
    background: #38adff;
    color: #fff;
}

.c_ding_btn_inline_group .checked:hover {
    background: #38adff;
    color: #fff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.c_dl {
    width: 100%;
    overflow: hidden;
}

.c_dt {
    width: 15%;
    float: left;
    text-align: right;
    padding: 15px 10px;
}

.c_dd {
    width: 85%;
    float: left;
    padding: 10px;
}

.c_dd .c_item {
    padding: 5px 8px;
    width: 25%;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.c_pull_left {
    float: left;
}

.c_pull_right {
    float: right;
}

.c_new_tag {
    color: #ff7474;
    position: absolute;
    top: -15px;
    line-height: 20px;
    right: -28px;
    font-size: 30px !important;
}

.c_new_point {
    position: relative;
}

.c_new_point:after {
    position: absolute;
    content: " ";
    top: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4141;
    z-index: 1000;
}

.c_hide {
    display: none;
}

.flex_box {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
}
.inline_flex_box {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
}
.c_dept_placeholder{
    background: rgba(255,255,255,0.4)
}
.dragDropDept .c_dept_ghost{
    border:1px dashed transparent;
    color: #fff;
    /*background: #ccc;*/
}
.angular-ui-tree-node, .angular-ui-tree-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}
.angular-ui-tree-node .area:hover{
    background:#e7eaef;
    color: #333333;
}
.dep-name {
    font-weight: normal;
    cursor: pointer;
    color: #555;
    text-decoration: none;
    padding: 8px 0px 8px 25px;
    display: block;
    transition: all 0.25s;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.dep-name .icon-dept {
    color: #aee4fa;
    font-size: 16px;
}
.dep-name-hl {
    background-color: #38adff;
    color: #fff;
}
.dep-tree-pos-btn {
    position: absolute;
    top: 0px;
    color: #999;
    left: 0px;
    display: block;
    width: 20px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    padding-top: 7px;
    -webkit-user-select: none;
}
/* 对bootstrap色调的改变 */

html,
body {
    margin: 0px;
    padding: 0px;
}

html body {
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    min-width: 1000px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: #e7e8eb;
}

@font-face {
    font-family: 'iconfont';  /* project id 3898 */
    src: url('//at.alicdn.com/t/font_0wm57q96msw9izfr.eot');
    src: url('//at.alicdn.com/t/font_0wm57q96msw9izfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_0wm57q96msw9izfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_0wm57q96msw9izfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_0wm57q96msw9izfr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

img {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}
.noty_title {
    /* border: 1px solid #DFDFDF; */
    text-align: left;
}
.tr_warning {
    background: #fffada;
    color: #333;
    border: 1px solid #ede7c1;
    border-radius: 4px;
}
.c_ding_btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #c3c6ce;
    background: #ffffff;
    border-radius: 4px;
    min-width: 80px;
    color: #414141;
    position: relative;
}

.c_ding_btn:hover {
    border: 1px solid #a4a8b1;
    background: #fff;
    color: #767676;
}

.c_ding_btn_primary {
    color: #fff;
    background-color: #38adff;
    border-color: rgba(0, 140, 238, 0.72);
}

.c_ding_btn_primary:hover {
    color: #fff;
    border: 1px solid #38adff;
    background: #5abbff;
}

.c_ding_btn_error {
    color: #ff4141;
    background: #ffffff;
    border: 1px solid #ff4141;
}

.c_ding_btn_error:hover {
    color: #ff7474;
    background-color: #ffffff;
    border: 1px solid #ff7474;
}

.c_ding_btn_block {
    display: block;
    width: 100%;
}

.c_ding_btn_xs {
    padding: 3px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    min-width: 74px;
}

.c_ding_btn_xxs {
    padding: 3px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    min-width: 50px;
}

.c_ding_btn_circle {
    border-radius: 40px;
}

.c_ding_btn_primary_border {
    border-color: #38adff;
    color: #38adff;
    /*background-color: #e6f5ff;*/
}

.c_ding_btn_primary_border:hover {
    background: #f2f4f6;
    border-color: #1f9ef7;
    color: #1f9ef7;
}

.c_ding_btn_text_sm {
    font-size: 13px;
    padding: 8px 0px;
}

.c_ding_btn_block+.c_ding_btn_block {
    margin-top: 10px;
}

.c_ding_btn+.c_ding_btn {
    margin-left: 10px;
}

.c_ding_btn_inline_group {
    display: -webkit-flex;
    display: flex;
}

.c_ding_btn_inline_group .item {
    background: #e7eaef;
    text-align: center;
    padding: 8px 0px;
    flex-grow: 1;
    flex: 1;
    cursor: pointer;
}

.c_ding_btn_inline_group .item:hover {
    background: #ddd;
}

.c_ding_btn_inline_group .item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.c_ding_btn_inline_group .item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.c_ding_btn_inline_group .checked {
    background: #38adff;
    color: #fff;
}

.c_ding_btn_inline_group .checked:hover {
    background: #38adff;
    color: #fff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.c_dl {
    width: 100%;
    overflow: hidden;
}

.c_dt {
    width: 15%;
    float: left;
    text-align: right;
    padding: 15px 10px;
}

.c_dd {
    width: 85%;
    float: left;
    padding: 10px;
}

.c_dd .c_item {
    padding: 5px 8px;
    width: 25%;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.c_pull_left {
    float: left;
}

.c_pull_right {
    float: right;
}

.c_new_tag {
    color: #ff7474;
    position: absolute;
    top: -15px;
    line-height: 20px;
    right: -28px;
    font-size: 30px !important;
}

.c_new_point {
    position: relative;
}

.c_new_point:after {
    position: absolute;
    content: " ";
    top: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4141;
    z-index: 1000;
}

.c_hide {
    display: none;
}

.flex_box {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
}
.inline_flex_box {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
}
.c_drag_drop_dept_item{
    width: 100%;
    padding: 10px 15px;
    font-size: 12px;
    border:1px solid transparent;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    background: #fff;
    cursor: pointer;
}
.c_drag_drop_dept_item .icon{
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
    color: #b8b8b8;
    font-size: 14px;
}
.c_drag_drop_dept_item .checkbox{
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -7px;
}
.c_drag_drop_dept_item .name{
    width: 100%;
    padding: 0px 70px 0px 20px;
}
.c_drag_drop_dept_item .number{
    position: absolute;
    right: 0px;
    width: 30px;
    text-align: left;
    top: 50%;
    margin-top: -8px;
}
.c_drag_drop_dept_item:hover{
    background: #f7f7f7;
}
.c_table{
    width: 100%;
    font-size: 12px;
    background: #fff;
}
.c_table_bc thead{
    background:#eceff4;
}
.c_table tr{
    height: 38px;
    border-bottom: 1px solid #ebebeb;
}

.c_table tbody tr{
    cursor: pointer;
}
.orgActive.c_table tbody tr{
    cursor: default;
}

.c_table tbody tr:hover{
    background: #f7f7f7;
}

.c_table_bc thead tr{
    border-bottom: 0px;
}
.c_table th{
    line-height: 16px;
}
.c_table th:before{
    content: "";
    height: 15px;
    width: 1px;
    background: #333;
    float: left;
    position: relative;
    top: 0px;
    margin-right: 10px;
    font-weight: normal;
}
.c_table th:first-child{
    padding-left: 10px;
}
.c_table th:first-child:before{
    display: none;
}
.c_table td{
    padding-left: 10px;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
}
.c_table td a.notificationBind{
    color: #38adff;
}
.user-usermanagement>div.col-md-4 {
    padding-right: 0;
}
.user-usermanagement>div.col-md-8 {
    padding-left: 0;
}

.contact_header .tag{
    position: relative;
    top: -3px;
    margin-left: 5px;
}
.contact_header .contact_btn{
    position: relative;
    top:-2px;
    margin-left: 5px;
}
.c_ding_tag{
    display: inline;
    padding: .3em .6em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.c_ding_tag_success{
    background: #f7cb27;
}
.c_ding_tag_new{
    background: #ff4141;
}
.c_ding_tag_sm{
    font-size: 12px;
}
.c_ding_tag_xs{
    font-size: 10px;
    font-weight: 100;
    padding: 1px 3px;
    border-radius: 2px;
}

.wi-L5rPO {
    color: #333
}

.wi-L5rPO * {
    box-sizing: border-box
}

.wi-1ujJ5 {
    line-height: 36px;
    text-align: center;
    background-color: #dbf0ff;
    color: #38adff;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word
}

.wi-36K0f:after {
    content: "";
    display: block;
    clear: both
}

.wi-36K0f {
    height: 62px;
    font-size: 16px;
    background-color: #fdfdfd
}

.wi-1XoYs, .wi-1ycfP {
    margin: 0 auto
}

.wi-1ycfP {
    width: 1080px;
    height: 100%
}

.wi-1Nmz5 {
    float: left;
    height: 62px;
    line-height: 62px;
    text-align: left;
    margin-right: 40px;
    cursor: pointer
}

.wi-3KzHg {
    height: 32px;
    width: 32px
}

.wi-3jCTO, .wi-3KzHg {
    vertical-align: middle
}

.wi-3jCTO {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    width: 154px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.wi-2dN4J {
    float: left;
    display: -ms-flexbox;
    display: flex;
    height: 62px;
    width: 800px
}

.wi-3D-_B {
    text-align: center;
    cursor: pointer;
    -ms-flex: 1;
    flex: 1
}

.wi-2Zy4e {
    height: 62px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.wi-C24ov {
    display: none;
    position: absolute;
    top: 22px;
    right: -5px;
    width: 32px;
    height: 18px
}

.wi-3LifW {
    color: #38adff;
    border-bottom: 3px solid #38adff
}

.wi-wzSuq {
    float: right;
    line-height: 62px;
    height: 62px
}

.wi-3xKUX {
    font-size: 12px;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer
}

.wi-27Tch {
    height: 40px;
    font-size: 14px;
    background-color: #f8f8f8;
    display: none
}

.wi-1XoYs {
    width: 830px;
    height: 40px;
    display: -ms-flexbox;
    display: flex
}

.wi-38JNQ {
    margin-top: 11px;
    -ms-flex: 1;
    flex: 1;
    height: 18px;
    text-align: center
}

.wi-lKxSM {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    cursor: pointer;
    position: relative
}

.wi-1o4_1 {
    color: #38adff
}


.wi-2HvXR {
    float: right
}

.wi-2xtnU {
    background-color: #38adff;
    border: 1px solid rgba(0, 140, 238, .72);
    border-radius: 4px;
    color: #fff;
    width: 110px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    margin-top: 14px;
    margin-right: 20px
}