<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body layout:fragment="content">
<section class="map-container">
    <div id="container"></div>
</section>



<script type="text/javascript" src='//webapi.amap.com/maps?v=1.4.6&key=bc060e817772642394bf876bedc8a8bc'></script>
<!-- UI组件库 1.0 -->
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script type="text/javascript" th:inline="javascript">
    //创建地图
    var map = new AMap.Map('container', {
        zoom: 4
    });

    $(function () {
        $("#container").css("height", $("body").height());
        /*var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});
        var objList = [
            {
                "lngLats": [116.397428, 39.90923],
                "device_sn": "12313422"
            }
        ];
        for(var i=0; i<objList; i++){
            var marker = new AMap.Marker({
                position: objList[i].lngLats,
                map: map
            });
            marker.content = '<ul class="contact-info-container">' +
                                '<li>设备编号:<span>'+ objList[i].device_sn +'</span></li>' +
                            '</ul>';
            marker.on('click', markerClick);
            marker.emit('click', {target: marker});
        }
        function markerClick(e) {
            infoWindow.setContent(e.target.content);
            infoWindow.open(map, e.target.getPosition());
        }
        map.setFitView();*/
        //加载SimpleMarker
        AMapUI.loadUI(['overlay/SimpleMarker'], function(SimpleMarker) {
            map.lnglatToPixel(map.getCenter());
            var iconTheme = 'default';
            //内置的样式
            var iconStyles = SimpleMarker.getBuiltInIconStyles(iconTheme);
            //经纬度
            var objList =  [
                {
                    "lngLats": [116.397428, 39.90923],
                    "device_sn": "12313422"
                },
                {
                    "lngLats": [106.397428, 39.90923],
                    "device_sn": "111112222"
                }
            ];
            for (var i = 0, len = objList.length; i < len; i++) {

                new SimpleMarker({
                    iconTheme: iconTheme,
                    //使用内置的iconStyle
                    iconStyle: iconStyles[i],

                    //图标文字
                    iconLabel: {
                        //A,B,C.....
                        innerHTML: String.fromCharCode('A'.charCodeAt(0) + i),
                        style: {
                            //颜色, #333, red等等，这里仅作示例，取iconStyle中首尾相对的颜色
                            color: iconStyles[len - 1 - i]
                        }
                    },

                    //显示定位点
                    //showPositionPoint:true,

                    map: map,
                    position: objList[i].lngLats,

                    //Marker的label(见http://lbs.amap.com/api/javascript-api/reference/overlay/#Marker)
                    label: {
                        content: objList[i].device_sn,
                        offset: new AMap.Pixel(27, 25)
                    }
                });
            }

        });


    });
</script>
</body>
</html>