<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/page.css}" />
    <style>
        #fileList{
            min-height: 110px;
            width: 110px;
            outline: 1px solid #ececec;
            background: #eee;
        }
        #fileList.active {
            outline: none;
            border:none!important;
        }
        .webuploader-pick {
            position: relative;
            /* display: none; */
            cursor: pointer;
            background: #428BCA !important;
            padding: 10px 15px;
            color: #fff;
            text-align: center;
            border-radius: 3px;
            overflow: hidden;
        }
        #filePicker input[type=file] {
            opacity: 0 !important;
        }
        #imgInter {
            max-width: 110px;
        }
    </style>
</head>
<body layout:fragment="content">

<div class="row">
    <div class="page-header">
        <h1>个人中心</h1>
    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="col-sm-6 active no-padding" id="user-info-tb-btn">
                <a data-toggle="tab" href="#user-info" aria-expanded="true">
                    <i class="green ace-icon fa fa-info bigger-120"></i>
                    个人信息
                </a>
            </li>
            <li class="col-sm-6 no-padding" id="change-password-tb-btn">
                <a data-toggle="tab" href="#change-password" aria-expanded="false">
                    <i class="green ace-icon fa fa-key bigger-120"></i>
                    修改密码
                </a>
            </li>
        </ul>
        <div class="tab-content border-none">
            <div id="user-info" class="tab-pane fade active in background-white">
                <form class="form-horizontal" role="form">
                    <div class="user-info-container">
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-username">姓名:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-username" name="username" placeholder="请输入姓名" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-departmentname">部门:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-departmentname" name="department" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-position">职位:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-position" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-role">角色:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-role" name="role" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-role">头像:</label>
                            <div class="col-sm-9" style="width: 140px;">
                                <input type="hidden" name="intermediaryLogoUrl"  id="responseUrl" value="" class="col-xs-12 col-sm-6">
                                <div id="fileList" class="uploader-list" name="intermediaryLogoUrl">
                                    <img src="" id="imgInter" alt="">
                                </div>
                                <div id="filePicker" class="margin-top-6">选择图片</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-jobnumber">工号:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-jobnumber" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-phone">手机号:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-phone" name="phone" placeholder="请输入手机号" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-tel">分机号:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-tel" placeholder="请输入分机号" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-email">邮箱:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-email" placeholder="请输入邮箱" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-workplace">办公地点:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-workplace" placeholder="请输入办公地点" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="add-department-staff-remark">备注:</label>
                            <div class="col-sm-9">
                                <input type="text" id="add-department-staff-remark" placeholder="请输入备注" class="form-control" readonly>
                            </div>
                        </div>
                        <p class="align-center">
                            <button type="button" id="change-user-info-btn" class="btn btn-primary btn-minier ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">保存</span></button>
                            <button type="button" id="cancel-btn" class="btn btn-minier ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">取消</span></button>
                        </p>
                    </div>
                </form>
            </div>

            <div id="change-password" class="tab-pane fade in background-white display-none">
                <form class="form-horizontal" role="form">
                    <div class="change-password-container">
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="change-password-password">密码:</label>
                            <div class="col-sm-9">
                                <input type="password" id="change-password-password" name="password" placeholder="请输入密码" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-12">
                            <label class="col-sm-2 control-label no-padding-right align-right" for="change-password-repassword">确认密码:</label>
                            <div class="col-sm-9">
                                <input type="password" id="change-password-repassword" name="confirm_password" placeholder="请输入备注" class="form-control">
                            </div>
                        </div>
                        <p class="align-center">
                            <button type="button" id="change-password-btn" class="btn btn-primary btn-minier ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">保存</span></button>
                            <button type="button" id="cancel-change-password-btn" class="btn btn-minier ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">取消</span></button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/webuploader.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        var userid = "", imgSrc = "";
        $.ajax({
            url: contextPath+"api/dingtalkuser/",
            type: "get",
            contentType: "application/json",
            dataType : "json",
            success: function (data) {
                console.log(data);
                var result = data.content, departmentnameArr = [], departmentname = "无", roleArr = [], role = "无";
                userid = result.userid;
                imgSrc = result.headPic;
                if (imgSrc) {
                    $("#imgInter").attr("src",imgPath+imgSrc);
                }
                if (result.depts.length) {
                    $.each(result.depts, function (i, item) {
                        departmentnameArr.push(item.name)
                    });
                    departmentname = departmentnameArr.join("、")
                }
                if (result.roles.length) {
                    $.each(result.roles, function (i, item) {
                        roleArr.push(item.roleName)
                    });
                    role = roleArr.join("、")
                }
                $("#add-department-staff-username").val(result.name);
                $("#add-department-staff-departmentname").val(departmentname);
                $("#add-department-staff-position").val(result.position || "无");
                $("#add-department-staff-role").val(role);
                $("#add-department-staff-jobnumber").val(result.jobnumber || "无");
                $("#add-department-staff-phone").val(result.mobile || "无");
                $("#add-department-staff-tel").val(result.tel || "无");
                $("#add-department-staff-email").val(result.email || "无");
                $("#add-department-staff-workplace").val(result.workplace || "无");
                $("#add-department-staff-remark").val(result.remark || "无");

            },
            error: function (data) {
                console.log(data);
            }
        });
        var headPic = null;
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: contextPath + '/dist/js/Uploader.swf',
            // 文件接收服务端。
            server: contextPath+'upload',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 只允许选择图片文件。
            /*accept: {
             title: 'Images',
             extensions: 'gif,jpg,jpeg,bmp,png',
             mimeTypes: 'image/!*'
             },*/
        });
        uploader.on( 'uploadSuccess', function( file,response ) {
            headPic = response.content.path;
            $("#responseUrl").val(response.content.path);
            $("#responseUrl").parent().next().remove();
            $("#responseUrl").parents(".form-group").removeClass("has-error")
        });
        uploader.on( 'fileQueued', function( file ) {
            uploader.makeThumb(file, function (error, src) {
                $("#imgInter").attr("src",src);
            });
        });

        var $formUserInfo = $('#user-info>form').validate({
            errorElement: 'span',
            errorClass: 'help-block col-sm-9 col-sm-offset-2 align-left control-label no-padding-right',
            focusInvalid: false,
            ignore: "",
            rules: {
                username: {
                    required: true
                },
                /*phone: {
                    required: true,
                    remote: function() {
                        var phone = $("#add-department-staff-phone").val();
                        var r = {
                            url: contextPath+"api/dingtalkuser/mobile",
                            type: "get",
                            data: "mobile="+phone
                        };
                        return r;
                    }
                },*/
            },
            messages: {
               /* phone:{
                    remote: "该电话已经存在"
                }*/
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },
            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },
            invalidHandler: function (form) {
            }
        });
        $("#user-info-tb-btn").on("click", function () {
            //validateResetForm($formUserInfo, $('#user-info>form'));
        });
        $("#change-user-info-btn").on("click", function () {
            var flag = $formUserInfo.form();
            if (flag) {
                var data = {
                    "name": $("#add-department-staff-username").val(),
//                    "phone": $("#add-department-staff-phone"),
                    "email": $("#add-department-staff-email").val(),
                    "headPic": headPic
                };
                $.ajax({
                    url: contextPath+"api/dingtalkuser/info/",
                    type: "put",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType : "json",
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        });
        $("#cancel-btn").on("click", function () {
            window.location.reload();
        });

        var $formChangePassword = $('#change-password>form').validate({
            errorElement: 'span',
            errorClass: 'help-block col-sm-9 col-sm-offset-2 align-left control-label no-padding-right',
            focusInvalid: false,
            ignore: "",
            rules: {
                password: {
                    required: true,
                    minlength: 6
                },
                confirm_password: {
                    required: true,
                    equalTo: "#change-password-password"
                }
            },
            messages: {
                password: {
                    minlength: "密码最少长度为6位"
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },
            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');
                $(e).remove();
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },
            invalidHandler: function (form) {
            }
        });
        $("#change-password-tb-btn").on("click", function () {
            validateResetForm($formChangePassword, $('#change-password>form'));
        });
        $("#change-password-btn").on("click", function () {
            var flag = $formChangePassword.form();
            if (flag) {
                $.ajax({
                    url: contextPath+"api/dingtalkuser/editPwd?id="+userid+"&pwd="+$("#change-password-password").val(),
                    type: "put",
                    contentType: "application/json",
                    dataType : "json",
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        });
        $("#cancel-change-password-btn").on("click", function () {
            window.location.reload();
        })


    });

</script>
</body>
</html>