<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body layout:fragment="content">
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="col-sm-6 active no-padding">
                    <a data-toggle="tab" href="#insidecontacts" aria-expanded="true">
                        <i class="green ace-icon fa fa-home bigger-120"></i>
                        内部通讯录管理
                    </a>
                </li>
                <li class="col-sm-6 no-padding">
                    <a data-toggle="tab" href="#outcontacts" aria-expanded="false">
                        <i class="green ace-icon fa fa-home bigger-120"></i>
                        外部联系人
                    </a>
                </li>
            </ul>

            <div class="tab-content border-none">
                <div id="insidecontacts" class="tab-pane fade active in background-white">
                    <div class="page-header">
                        <h1>通讯录管理</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control search-query" placeholder="输入关键字搜索">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-purple btn-sm">
                                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                        搜索
                                    </button>
                                </span>
                            </div>
                            <div class="tabbable">
                                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                                    <li class="active organization-menu">
                                        <a data-toggle="tab" href="#organization-menu" aria-expanded="true">组织架构</a>
                                    </li>
                                    <li class="role-menu">
                                        <a data-toggle="tab" href="#role-menu" aria-expanded="false">角色</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="organization-menu" class="tab-pane active">
                                        <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                                    </div>

                                    <div id="role-menu" class="tab-pane align-center">
                                        <p><button type="button" class="btn btn-white btn-default add-role-group">新增角色组</button><button type="button" class="btn btn-white btn-default add-role-person">新增角色</button></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="widget-box widget-main organization-container">
                                        <h3 class="header smaller lighter blue margin-top-0">
                                            飞创科技开发团队
                                            <small class="btn-warning padding-3">全员群</small>
                                            <button type="button" class="btn btn-white btn-sm btn-primary">设置</button>
                                        </h3>
                                        <div class="sub-department">
                                            <h4 class="pink">
                                                <i class="ace-icon fa fa-sitemap icon-animated-hand-pointer blue"></i>
                                                <a href="#modal-table" role="button" class="green" data-toggle="modal"> 下级部门</a>
                                            </h4>
                                            <div class="hr hr-18 dotted hr-double"></div>
                                            <div class="widget-header widget-header-flat">
                                                <h4 class="smaller">
                                                    <button class="btn btn-white btn-info btn-bold">
                                                        <i class="ace-icon glyphicon glyphicon-plus small bigger-120 blue"></i>
                                                        添加子部门
                                                    </button>
                                                    <button class="btn btn-white btn-info btn-bold sub-department-queue">
                                                        <i class="ace-icon fa fa-bars small bigger-120 blue"></i>
                                                        调整顺序
                                                    </button>
                                                    <span class="sub-department-queue-save-cancel display-none">
                                                        <button type="button" class="btn btn-white btn-default save">
                                                            <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>保存
                                                        </button>
                                                        <button type="button" class="btn btn-white btn-default cancel">
                                                            <i class="ace-icon fa fa-times red2"></i>取消
                                                        </button>
                                                    </span>
                                                </h4>
                                            </div>
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div  class="dd" id="sub-department">
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="1">
                                                                    <div class="dd-handle">
                                                                        <i></i>
                                                                        飞创科技技术调研组（3人）
                                                                    </div>
                                                                </li>
                                                                <li class="dd-item" data-id="2">
                                                                    <div class="dd-handle">
                                                                        <i></i>
                                                                        飞创科技技术研发组（13人）
                                                                    </div>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="department-staff">
                                            <h4 class="pink">
                                                <i class="ace-icon fa fa-users icon-animated-hand-pointer blue"></i>
                                                <a href="#modal-table" role="button" class="green" data-toggle="modal"> 部门成员</a>
                                            </h4>
                                            <div class="hr hr-18 dotted hr-double"></div>


                                            <div class="widget-header widget-header-flat">
                                                <h4 class="smaller">
                                                    <button class="btn btn-white btn-info btn-bold">
                                                        <i class="ace-icon glyphicon glyphicon-plus small bigger-120 blue"></i>
                                                        添加成员
                                                    </button>
                                                    <button class="btn btn-white btn-warning btn-bold">
                                                        <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                                                        批量删除
                                                    </button>
                                                </h4>
                                            </div>
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <table id="department-staff" class="table  table-bordered table-hover">
                                                            <thead class="department-staff-head">
                                                                <tr>
                                                                    <th class="center">
                                                                        <label class="pos-rel">
                                                                            <input type="checkbox" class="ace">
                                                                            <span class="lbl checkbox-all"></span>
                                                                        </label>
                                                                    </th>
                                                                    <th class="center">姓名</th>
                                                                    <th class="center">职位</th>
                                                                    <th class="center">工号</th>
                                                                    <th class="center">手机号</th>
                                                                    <th class="center">邮箱</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="department-staff-body center">
                                                                <tr>
                                                                    <td>
                                                                        <label class="pos-rel">
                                                                            <input type="checkbox" class="ace">
                                                                            <span class="lbl"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>彭松涛</td>
                                                                    <td>保洁大叔</td>
                                                                    <td>9527</td>
                                                                    <td>1878192830</td>
                                                                    <td>santoetch@qq.com</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label class="pos-rel">
                                                                            <input type="checkbox" class="ace">
                                                                            <span class="lbl"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>彭松涛</td>
                                                                    <td>保洁大叔</td>
                                                                    <td>9527</td>
                                                                    <td>1878192830</td>
                                                                    <td>santoetch@qq.com</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-box widget-main role-container display-none">
                                        <h3 class="header smaller lighter blue margin-top-0">
                                            主管理员
                                            <button type="button" class="btn btn-white btn-sm btn-primary">编辑</button>
                                        </h3>
                                        <div class="role-group-person-list">
                                            <div class="widget-header widget-header-flat">
                                                <h4 class="smaller">
                                                    <button class="btn btn-white btn-info btn-bold">
                                                        <i class="ace-icon glyphicon glyphicon-plus small bigger-120 blue"></i>
                                                        添加成员
                                                    </button>
                                                    <button class="btn btn-white btn-warning btn-bold">
                                                        <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                                                        批量删除
                                                    </button>
                                                </h4>
                                            </div>
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <table id="role-group-person-list" class="table  table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="center">
                                                                        <label class="pos-rel">
                                                                            <input type="checkbox" class="ace">
                                                                            <span class="lbl checkbox-all"></span>
                                                                        </label>
                                                                    </th>
                                                                    <th class="center">姓名</th>
                                                                    <th class="center">部门</th>
                                                                    <th class="center">工号</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="center">
                                                                    <td>
                                                                        <label class="pos-rel">
                                                                            <input type="checkbox" class="ace">
                                                                            <span class="lbl"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>彭松涛</td>
                                                                    <td>技术部</td>
                                                                    <td>9527</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div><!-- /.span -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="outcontacts" class="tab-pane fade background-white">
                    <div class="page-header">
                        <h1>通讯录管理</h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control search-query" placeholder="输入关键字搜索">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-purple btn-sm">
                                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                        搜索
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="widget-box widget-main">
                                        <div class="outcontacts-container">
                                            <h4 class="pink">
                                                <i class="ace-icon fa fa-users icon-animated-hand-pointer blue"></i>
                                                <a href="#modal-table" role="button" class="green" data-toggle="modal">外部联系人</a>
                                            </h4>
                                            <div class="hr hr-18 dotted hr-double"></div>
                                            <div class="widget-header widget-header-flat">
                                                <h4 class="smaller">
                                                    <button class="btn btn-white btn-info btn-bold">
                                                        <i class="ace-icon glyphicon glyphicon-plus small bigger-120 blue"></i>
                                                        添加成员
                                                    </button>
                                                    <button class="btn btn-white btn-warning btn-bold">
                                                        <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                                                        批量删除
                                                    </button>
                                                </h4>
                                            </div>
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <table id="outcontacts-list" class="table  table-bordered table-hover">
                                                            <thead class="department-staff-head">
                                                            <tr>
                                                                <th class="center">
                                                                    <label class="pos-rel">
                                                                        <input type="checkbox" class="ace">
                                                                        <span class="lbl checkbox-all"></span>
                                                                    </label>
                                                                </th>
                                                                <th class="center">姓名</th>
                                                                <th class="center">电话</th>
                                                                <th class="center">公司</th>
                                                                <th class="center">负责人</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="department-staff-body center">
                                                            <tr>
                                                                <td>
                                                                    <label class="pos-rel">
                                                                        <input type="checkbox" class="ace">
                                                                        <span class="lbl"></span>
                                                                    </label>
                                                                </td>
                                                                <td>彭松涛</td>
                                                                <td>1782232131</td>
                                                                <td>天马公司</td>
                                                                <td>天马</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label class="pos-rel">
                                                                        <input type="checkbox" class="ace">
                                                                        <span class="lbl"></span>
                                                                    </label>
                                                                </td>
                                                                <td>彭松涛</td>
                                                                <td>1782232131</td>
                                                                <td>天马公司</td>
                                                                <td>天马</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        //控制组织架构和角色内容展示
        var organizationContainer = $(".organization-container"), roleContainer = $(".role-container");
        $(".organization-menu").on("click", function () {
            organizationContainer.removeClass("display-none").siblings().removeClass("display-block").addClass("display-none");
        });
        $(".role-menu").on("click", function () {
            roleContainer.removeClass("display-none").siblings().removeClass("display-block").addClass("display-none");
        });


        /*$('#sub-department').nestable();
         $('.sub-department-handle a').on('mousedown', function(e){
         e.stopPropagation();
         });
         $('#sub-department').nestable().on('change', function(){
         var r = $('#sub-department').nestable('serialize');
         console.log(r);
         });*/
//        $('#sub-department').nestable().on('change', updateOutput);

        //下级部门调整顺序
        $(".sub-department-queue").on("click", function () {
            $('.dd').nestable();
            $('.dd-handle a').on('mousedown', function(e){
                e.stopPropagation();
            });

            $(".sub-department-queue-save-cancel").removeClass("display-none");
            $("#sub-department li i").addClass("ace-icon fa fa-bars blue small smaller-90")
        });
        $(".sub-department-queue-save-cancel .cancel").on("click", function () {
            $(".sub-department-queue-save-cancel").addClass("display-none");
            window.location.reload();
        });
        $(".sub-department-queue-save-cancel .save").on("click", function () {
            $(".sub-department-queue-save-cancel").addClass("display-none");
        });

        //选所以checkbox
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);
        $(".department-staff-head .checkbox-all").on("click", function () {
            var departmentStaffBodyTr = $(".department-staff-body tr");
            if (departmentStaffBodyTr.hasClass("active")) {
                departmentStaffBodyTr.removeClass("active");
                departmentStaffBodyTr.find("td input[type=checkbox]").prop('checked', false)
            } else {
                departmentStaffBodyTr.addClass("active");
                departmentStaffBodyTr.find("td input[type=checkbox]").prop('checked', true)
            }
        });
    });
</script>
</body>
</html>
