<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/common.css}">
    <link rel="stylesheet" th:href="@{/dist/css/club/detail.css}">
    <link rel="stylesheet" th:href="@{/dist/css/page.css}">
    <script type="text/javascript" th:src= "@{/dist/js/hand-paging.js}"></script>
    <style>
        .modal-dialog{
            margin-top: 70px;
        }
        #cke_editor1{
            width: 97%;
            margin: 0 auto;
        }
        .page-header{
            margin-bottom: 0;
        }
        .col-back-page-right{
            background: #eee;
            min-height: 110px;
        }
        .clue-table{
            width: 100%;
            text-align: center;
        }
        .clue-table tr{
            height: 30px;
        }
        .clue-table tr td {
            border: 1px solid #d1d1d1;
        }
        .clue-back{
            background: #f8f8f8;
            height: 30px;
        }
        .btn, .border-none {
            border: 1px solid #6FB3E0;
        }
        .clubs-list{
            border: 1px solid #D5D5D5;
            margin-bottom: 10px;
            background: white;
        }
    </style>
</head>
<body layout:fragment="content">
<div class="wrapper" id="clubsDetail">
    <div class="page-header">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="float-left">
                    <span class="font-size-18 border-left-blue">线索评论</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 text-align-right">
                <button type="button" data-toggle="modal" @click="backList" class="btn back-btn btn-info padding-right-15">返回
                </button>
            </div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-list overflow-hidden ">
            <div class="page-content margin-top-15 padding-bottom-10">
                <p class="bottom-font">线索简介</p>
                <div class="row">
                    <div class=" col-xs-9 border-left-blue">
                        <table class="clue-table">
                            <tr class="clue-back">
                                <td>负责人</td>
                                <td>业主联系电话</td>
                                <td>线索编号</td>
                            </tr>
                            <tr>
                                <td>{{clueComment.projectContactUser.name}}</td>
                                <td>{{clueComment.projectOwnerContactTel}}</td>
                                <td>{{clueComment.projectId}}</td>
                            </tr>
                            <tr class="clue-back">
                                <td>线索名称</td>
                                <td>业主名</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>{{clueComment.projectName}}</td>
                                <td>{{clueComment.projectOwnerContact}}</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class=" col-xs-3 col-back-page-right">
                        <img :src="clueComment.projectLogo"  alt="">
                    </div>
                </div>
            </div>
            <div class="clubs-comment margin-top-15">
                <div class="row ">
                    <div class=" col-xs-12">
                        <p class="padding-top-10 margin-left-10 bottom-font">线索评论</p>
                        <template v-for="item in projectComment">
                            <div class="clubs-list">
                                <div class="clubs-header back-f8">
                                    <div class="left-clubs float-left padding-left-6">
                                        <img src="../../dist/img/img-head.png" class="" alt="">
                                        <span>{{item.projectCommentsNickname}}</span>
                                    </div>
                                    <div class="right-clubs float-right padding-right-6">
                                        <span class="bd-r">第 <span>121</span>条留言</span>
                                        <span class="bd-r">{{item.projectCommentsCreateTime}}</span>
                                        <span class="bd-r color-b">删除</span>
                                        <span class="color-b" @click="compoment">评论</span>
                                    </div>
                                </div>
                                <div class="clubs-content-list">
                                    <div class="detail-list margin-left-10">
                                        <span class="font-weight padding-left-6">{{item.projectCommentsNickname}}:</span>
                                        <span class="content-topic display-inline-block" v-html="item.projectCommentsContent"></span>
                                    </div>
                                </div>
                                <template v-if="item.children.length>0" v-for = "list in item.children">
                                    <div class="clubs-content-list padding-bottom-10">
                                        <div class="detail-list margin-left-10">
                                            <span class="font-weight padding-left-6">{{list.projectCommentsNickname}}:</span>
                                            <span class="content-topic" v-html="list.projectCommentsContent"></span>
                                            <span class="color-gray bd-g">删除</span>
                                            <span class="color-gray bd-g">{{list.projectCommentsCreateTime}}</span>
                                            <span class="color-gray" @click="reply($event)">回复</span>
                                            <transition name="fade">
                                                <div class="input-group margin-top-6 margin-right-10" style="display: none">
                                                    <input type="text" class="form-control">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn border-none btn-info btn-flat">回复</button>
                                                    </span>
                                                </div>
                                            </transition>
                                        </div>
                                    </div>
                                </template>
                                <div class="input-group padding-bottom-10 margin-left-10 margin-right-10">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn border-none btn-info btn-flat" @click="replayComment(item.projectCommentsId,$event)">回复</button>
                                    </span>
                                </div>
                            </div>


                        </template>

                    </div>
                </div>
            </div>
            <div class="margin-top-15">
                <ul id="list"></ul>
                <div id="pagingTest"></div>
            </div>
            <div class="clubs-editor margin-top-15">
                <p class="padding-top-10 margin-left-10">发表线索评论</p>
                <textarea name="editor1"  id="editor1" rows="10" cols="80"></textarea>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" @click="submitComment" class="btn btn-info">
                        <i class="ace-icon fa fa-check bigger-110"></i>发表
                    </button>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade modalAll" id="errMsg">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body padding-top-15 text-align" style="padding-top: 15px">
                    验证失败？
                </div>
                <div class="modal-footer text-align">
                    <button type="button" class="btn btn-info search margin-right-4" @click="closeDelPop">确定</button>
                    <button type="button" class="btn reset-btn search" @click = "closeDelPop">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var clubslID  = [[${id}]];
    var Vm =  new Vue({
        el:"#clubsDetail",
        data:{
            show: false,
            clueComment:{
                projectContactUser:{ //负责人
                    name:""
                },
                projectOwnerContactTel:"",//业主联系电话
                projectOwnerContact:"",//业主
                projectName:"",
                projectId:"",
                projectLogo:""
            },
            projectComment:[]
        },
        methods:{
            backList:function(){
                location.href=contextPath+"clue/list";
            },
            compoment:function(){
                var editor = CKEDITOR.instances.editor1;
                editor.focus();
            },
            closeDelPop:function(){
                $(".modalAll").removeClass("in").css("display","none");
            },
            editorFun:function(){
                CKEDITOR.replace( 'editor1', {
                    customConfig: '',
                    filebrowserImageUploadUrl:"skins",
                    removeDialogTabs:"image:advanced;image:Link",
                    toolbarGroups: [
                        {"name":"basicstyles","groups":["basicstyles"]},
                        {"name":"links","groups":["links"]},
                        {"name":"paragraph","groups":["list","blocks"]},
                        // {"name":"document","groups":["mode"]},
                        {"name":"insert","groups":["insert"]},
//                {"name":"styles","groups":["styles"]},
                        {"name":"about","groups":["about"]}
                    ],
                    removePlugins:"elementspath"
//            removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
                });
            },
            closePop:function(){
                $("#modal-default").removeClass("in").css("display","none")
            },
            reply:function(event){
                // alert(1);
                var _this = this;
                var comment = $(event.currentTarget);
                // bus.$emit('change',msg ,_this.$refs.msg1);
                comment.next().toggle();
            },
            ajaxData:function(pageNo){
                var _this = this;
                var data = {
                    page:pageNo,
                    rows:10,
                    projectCommentsType:0,
                    projectCommentsStatus:0,
                    projectId:clubslID
                };
                $.ajax({
                    url:contextPath+"api/projectcomments/page?pageNum="+pageNo+"&pageSize=2&" +
                    "projectCommentsType=0&projectCommentsStatus=0&projectId="+clubslID,
                    type:"get",
                    contentType: "application/json",
                    dataType : "json",
                    success:function(data){
                        var dataList = data.content.list;
                        _this.projectComment = dataList;
                        // dataList.map(function(v){
                        //     // var li = "<li>"+v.name+"</li>";
                        //     // $("#list").append(li);
                        //     console.log(v);
                        // });
                        $("#pagingTest").paging1({
                            pageNo:pageNo,
                            totalPage:data.content.size
                        })
                    }
                });
            },
            submitComment:function(){
                var data = {
                    "projectCommentsParent":0,
                    "projectId":clubslID,
                    "projectCommentsContent":CKEDITOR.instances.editor1.getData(),
                    "projectTopCommentsId":0
                };
                $.ajax({
                    url:contextPath+"api/projectcomments",
                    type:"post",
                    contentType: "application/json",
                    data:JSON.stringify(data)
                })
            },
            replayComment:function(id,event){
                var comment = $(event.currentTarget);
                console.log(comment.parent().prev().val());
                var data = {
                    "projectCommentsParent":id,
                    "projectId":clubslID,
                    "projectCommentsContent": comment.parent().prev().val(),
                    "projectTopCommentsId":id
                };
                $.ajax({
                    url:contextPath+"api/projectcomments",
                    type:"post",
                    contentType: "application/json",
                    data:JSON.stringify(data)
                })
            }
        },
        mounted:function () {
            var _this = this;
            _this.editorFun(); //初始化生成编辑器
            // var clubslID  = location.search.substring(1).split("&")[1];
            //查询详情
            $.ajax({
                url:contextPath+"api/project?id="+clubslID,
                type:"get",
                success:function (data) {
                    _this.clueComment = data.content;
                }
            });

        //    查询评论
            _this.ajaxData(1);
            $(document).on("click","a",function () {
                var val = $("#page").val();
                ajaxData(val);
            });
        }
    });
    // var responseUrl;
    jQuery(function($) {})
</script>
</body>
</html>