<!DOCTYPE html>
<html>
<head>
    <div th:replace="import::hdr"></div>
    <title>线索管理</title>
</head>
<style>
    .modal-dialog{
        margin-top: 70px;
    }
</style>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor"></div>
<div class="wrapper" id="clubsDetail">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header change-content">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <div class="form-group float-left">
                        <span class="font-size-18 border-left-blue">线索详情</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 text-align-right">
                    <button type="button" class="btn btn-info padding-right-15"
                            data-toggle="modal" data-target="#modal-info" @click="backMediary">
                        返回
                    </button>
                </div>
            </div>
        </section>
        <section class="content-list">
            <div class="page-content">

            </div>
        </section>
    </div>
    <div class="modal fade modalAll" id="errMsg">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body padding-top-15 text-align" style="padding-top: 15px">
                    验证失败？
                </div>
                <div class="modal-footer text-align">
                    <button type="button" class="btn btn-info search margin-right-4" @click="closeDelPop">确定</button>
                    <button type="button" class="btn reset-btn search" @click = "closeDelPop">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="import::scipt"></div>
<script>
    var Vm =  new Vue({
        el:"#clubsDetail",
        data:{
            show: false
        },
        methods:{
            closeDelPop:function(){
                $(".modalAll").removeClass("in").css("display","none");
            },
            editorFun:function(){
                CKEDITOR.replace( 'editor1', {
                    customConfig: '',
                    filebrowserImageUploadUrl:"skins",
                    removeDialogTabs:"image:advanced;image:Link",
                    toolbarGroups: [
                        {"name":"basicstyles","groups":["basicstyles"]},
                        {"name":"links","groups":["links"]},
                        {"name":"paragraph","groups":["list","blocks"]},
                        // {"name":"document","groups":["mode"]},
                        {"name":"insert","groups":["insert"]},
//                {"name":"styles","groups":["styles"]},
                        {"name":"about","groups":["about"]}
                    ],
                    removePlugins:"elementspath"
//            removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
                });
            },
            closePop:function(){
                $("#modal-default").removeClass("in").css("display","none")
            },

            backMediary:function(){
                location.reload();
            }

        },
        mounted:function () {
            var _this = this;
            _this.editorFun(); //初始化生成编辑器
            var clubslID  = location.search.substring(1).split("&")[1];


        }
    })
</script>
</body>
</html>
