<!DOCTYPE html>
<html>
<head>
  <div th:replace="import::hdr"></div>
  <title>线索管理</title>

</head>
<style>
  .modal-dialog{
    margin-top: 70px;
  }
  .tree-div-contain{
    position: absolute;
    width: 60%;
    z-index: 3;
    left: 159px;
    max-height: 300px;
    overflow: auto;
    background: #ddd;
  }
  .search-list{
    margin: 0;
    list-style: none;
    padding: 0;
    padding-left: 10px;
  }
  .img-div{
    width: 100px;
    height: 100px;
    border: 1px dotted grey;
    display: inline-block;
    margin-left: 30px;
  }
  #picker{
    margin-left: 20px;
    /* margin-top: 50px; */
    position: relative;
    top: 31px;
  }
  .webuploader-pick{
    border-radius: 5px;
    padding: 2px 7px;
    color: white;
  }
</style>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor">
</div>
<div class="wrapper" id="myClues">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header change-content">
      <span class="font-size-18">线索列表</span>
      <div class="row margin-top-6">
        <div class="col-md-9 col-sm-9">
          <div class="form-group float-left">
            <select name=""  id="limitSelect" class="sel-option height-34">
              <option value="1">线索名称</option>
              <option value="2">负责人</option>
              <option value="3">业主名</option>
              <option value="4">业务联系电话</option>
            </select>
          </div>
          <div class="input-group">

            <span class="input-group-addon ">
               <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control" v-model="inputLimit">
            <button type="button" class="btn btn-block btn-info search" @click="searchLimit">搜索</button>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 text-align-right">
          <!--<button type="button" class="btn btn-block btn-info">添加设备</button>-->
          <button type="button" class="btn btn-info padding-right-15"
                  data-toggle="modal" data-target="#modal-info" @click="addDevice">
            新增线索
          </button>
        </div>
      </div>
    </section>
    <section class="content-list display-none">
      <div class="row">
        <div class="col-md-12">
          <table id="deviceForm" class="display table table-bordered table-hover dataTable" style="width:100%">
            <thead>
            <tr>
              <th>线索编号</th>
              <th>线索名称</th>
              <th>负责人</th>
              <th>业主名</th>
              <th>业主联系电话</th>
              <th>功能</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </section>
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" @click="closePop">×</span></button>
            <h4 class="modal-title text-align">{{deviceName}}</h4>
          </div>
          <form action="" id="deviceSubmit">
            <div class="modal-body text-align">

              <div class="pop-box">
                <div class="img-div">
                  <img src="" id="imgInter" alt="" width="100%">
                </div>
                <div id="picker" class="display-block">选择文件</div>
              </div>
              <div class="pop-box margin-top-15">
                <label for="" class="label-pop-style">
                  <span class="color-red margin-right-4">*</span>线索名称:</label>
                 <input type="text" id="interName" class="form-control form-style-pop" required="required" v-model="editList.projectName">
              </div>
              <div class="pop-box positon-relative margin-top-15">
                <label for="" class="label-pop-style">
                  <span class="color-red margin-right-4">*</span>所属地区:</label>
                <!--<span class="label-pop-style text-align-right">所属地区:</span>-->
                <input type="text" class="form-control form-style-pop" id="address" readonly="readonly" required="required" onclick="showMenu()" v-bind:data-id="editList.area.id" v-model="editList.area.name" >
                <div class="tree-div-contain">
                  <div class="margin-left-10 margin-top-6">
                    <input type="text" class="form-control form-style-pop limit-style" v-model="searchVal">
                    <button  type="button" class="btn btn-info padding-right-15" @click="searchZtree">搜索</button>
                  </div>
                  <div class="menu-list margin-left-10">
                    <ul id="treeDemo" class="ztree"></ul>
                    <ul class="search-list">

                    </ul>
                  </div>
                </div>
              </div>
              <div class="pop-box margin-top-15">
                <label for="" class="label-pop-style">
                  <span class="color-red margin-right-4">*</span>负责人:</label>
                  <select name="" class="form-style-pop form-control" v-model="editList.projectContactUser.id" required="required">
                    <option value="1">已处理</option>
                    <option value="2">正在处理</option>
                  </select>
              </div>
              <div class="pop-box margin-top-15">
                <label for="" class="label-pop-style">
                  <span class="color-red margin-right-4">*</span>业主名:</label>
                  <input type="text" class="form-style-pop form-control" required="required" v-model="editList.projectOwnerContact">
              </div>
              <div class="pop-box margin-top-15">
                <label for="" class="label-pop-style">
                  <span class="color-red margin-right-4">*</span>业主联系电话:</label>
                  <input type="TEL" class="form-style-pop form-control" required="required" v-model="editList.projectOwnerContactTel">
              </div>
              <div class="pop-box margin-top-15">
                <label for="" class="label-pop-style">
                  <span class="color-red margin-right-4">*</span>线索状态:</label>
                 <select name="" class="form-style-pop form-control" v-model="editList.projectTopicStatus">
                   <option value="0">已处理</option>
                   <option value="1">正在处理</option>
                 </select>
              </div>

          </div>
            <div class="modal-footer text-align">
            <!--<input type="submit" value="确定">-->
            <!--<button>取消</button>-->
            <button type="submit" class="btn btn-info search">确定</button>
            <button type="button" @click="closePop" class="btn btn-info search">取消</button>
            <!--<button type="button" class="btn btn-info search">重置</button>-->
            <!--<input type="reset" value="重置">-->
          </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.content -->
  </div>

  <div class="modal fade modalAll" id="errorMsg">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body padding-top-15 text-align" v-text="delErrorMsg"></div>
        <div class="modal-footer text-align">
          <button type="button" class="btn btn-info search margin-right-4" @click="closeDelPop">确定</button>
          <button type="button" class="btn reset-btn search" @click="closeDelPop">取消</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>

<div th:replace="import::scipt"></div>
<script type="text/javascript"  th:src="@{/dist/js/jquery-html5Validate.js}"></script>
<script type="text/javascript" th:src="@{/js/webuploader.js}"></script>
<script th:inline="javascript"></script>
<script type="text/javascript" th:src="@{/js/clues/clues.js}"></script>
</body>
</html>
