<!DOCTYPE html>
<html>
<head>
  <div th:replace="import::hdr"></div>
  <link rel="stylesheet" th:href="@{/css/webuploader.css}">
</head>
<style>
  .modal-dialog{
    margin-top: 70px;
  }
  #mediaryAddEdit{
    display: none;
  }
  .modal-body .label-pop-style {
      position: relative;
      width: 74px;
      margin-right: 4px;
  }
  .modal-body {
      position: relative;
      /*outline: 1px solid #ececec;*/
      margin-right: 2px;
      margin-left: -2px;
  }
  #fileList{
    width: 55%;
    min-height: 110px;
    outline: 1px solid #ececec;
    background: #eee;

  }
  #fileList img{
    width: 70%;
  }
  #fileList.active {
    outline: none;
    border:none!important;
  }
  #treeDemo{
    position: absolute;
    width: 60%;
    left: 82px;
    background: #fff;
    outline: 1px solid #3c8dbc;
    z-index: 3;
    max-height: 300px;
    overflow: auto;
  }
  #editor1{
    resize: none;
  }
  .modal-body .col-md-6{
    padding: 0!important;
  }
</style>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="import::bdy-befor">
</div>
<div class="wrapper" id="myMediary">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="mediaryList">
    <!-- Content Header (Page header) -->
    <section class="content-header change-content">
      <span class="font-size-18">中间商列表</span>
      <div class="row margin-top-6">
        <div class="col-md-9 col-sm-9">
          <div class="form-group float-left">
            <select name="" id="" class="sel-option height-34">
              <option value="1">中间商</option>
              <option value="2">地区</option>
              <option value="3">联系人</option>
              <option value="4">联系方式</option>
            </select>
          </div>
          <div class="input-group">

            <span class="input-group-addon ">
               <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control">
            <button type="button" class="btn btn-block btn-info search">搜索</button>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 text-align-right">
          <button type="button" class="btn btn-info padding-right-15"
                  data-toggle="modal" data-target="#modal-info" @click="redirectMediary">添加中间商</button>
        </div>
      </div>
    </section>
    <section class="content-list display-none">
      <div class="row">
        <div class="col-md-12">
          <table id="deviceForm" class="display table table-bordered table-hover dataTable" style="width:100%">
            <thead>
            <tr>
              <th>中间商</th>
              <th>地区</th>
              <th>联系人</th>
              <th>联系方式</th>
              <th>平台对接人</th>
              <th>联系方式</th>
              <th>功能</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>

  <div class="content-wrapper" id="mediaryAddEdit">
    <section class="content-header change-content">
      <div class="row">
        <div class="col-md-9 col-sm-9">
          <div class="form-group float-left">
            <span class="font-size-18" v-text="companyName">新增中间商</span>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 text-align-right">
          <button type="button" class="btn btn-info padding-right-15"
                  data-toggle="modal" data-target="#modal-info" @click="backMediary">返回
          </button>
        </div>
      </div>
    </section>
    <section class="content-list">
      <form action="">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div id="uploader-demo">
              <!--用来存放item-->
              <div id="fileList" class="uploader-list display-block"></div>
              <div id="filePicker" class="margin-top-6 display-block backgroud-purple margin-left-10">选择图片</div>
            </div>
          </div>
        </div>
        <div class="row modal-body margin-top-15">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="pop-box margin-top-15">
              <label for="" class="label-pop-style text-align-right">中间商名称:</label>
              <input type="text" class="form-control form-style-pop" v-model="intermediaryName">
            </div>
            <div class="pop-box margin-top-15">
              <label for="" class="label-pop-style text-align-right">联系人:</label>
              <input type="text" class="form-control form-style-pop" v-model = "intermediaryContact">
            </div>
            <div class="pop-box margin-top-15">
              <label for="" class="label-pop-style text-align-right">联系电话:</label>
              <input type="text" class="form-control form-style-pop" v-model = "intermediaryContactTel">
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="pop-box margin-top-15 positon-relative">
              <label for="" class="label-pop-style text-align-right">所属地区:</label>
              <input type="text" class="form-control form-style-pop" id="address" v-bind:data-id="addRessId" v-model="address"  @blur="treeHide"  @focus="treeShow">
              <ul id="treeDemo" class="ztree"  v-show="treeIsShow"></ul>
            </div>
            <div class="pop-box margin-top-15">
              <label for="" class="label-pop-style text-align-right">平台对接人:</label>
              <input type="text" class="form-control form-style-pop" v-model="broker">
            </div>
            <div class="pop-box margin-top-15">
              <label for="" class="label-pop-style text-align-right">联系方式:</label>
              <input type="text" class="form-control form-style-pop" v-model="brokerPhone">
            </div>
          </div>
        </div>
        <div class="row margin-top-15">
          <div class="col-md-12">
            <form>
              <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
            </form>
          </div>
        </div>
        <div class="text-align padding-18">
          <button type="button" @click="sureSubmit" class="btn btn-info search margin-right-4">确定</button>
          <button type="reset" class="btn reset-btn search">重置</button>
        </div>
      </form>
    </section>
  </div>

  <div class="modal fade" id="canDelate">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-align" v-text="delErrorMsg">
          是否删除当前信息？
        </div>
        <div class="modal-footer text-align">
          <button type="button" class="btn btn-info search margin-right-4" @click="sureDel">确定</button>
          <button type="button" class="btn reset-btn search" @click = "closeDelPop">取消</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>

<div th:replace="import::scipt"></div>
<script type="text/javascript" th:src="@{/js/webuploader.js}"></script>
<script th:inline="javascript"></script>
<script type="text/javascript" th:src="@{/js/intermediary.js}"></script>
<script type="text/javascript">


</script>
</body>
</html>
