<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/webuploader.css}">
    <!--<link rel="stylesheet" th:href="@{/dist/css/common.css}">-->
    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <style>
        .direct-chat-img{
            border-radius: 50%;
            float: left;
            width: 40px;
            height: 40px;
        }
        .page-content>.row .col-md-12{
            float: none;
        }
        .col-md-12>.direct-chat-msg:nth-of-type(1){
            margin-top: 0;
        }
        /*.msg-comment-list{*/
            /*width: 98%;*/
            /*padding-left: 10px;*/
        /*}*/
        .comment-list{
            width: calc(100% - 15px);
            margin: 0 auto;
            /*display: inline-block;*/
            float: none;
        }
        .btn, .border-none {
            border: 1px solid #6FB3E0;
        }
        .page-content{
            background: #f1f2f7!important;
        }
        .none-border tr td {
            border-left: none;
        }
        .detail-table tr td:nth-of-type(1){
            width: 30%;
        }
        .detail-table tr td:nth-of-type(2){
            width: 70%;
        }
        .relation .font{
            color: #2b7dbc;font-size: 14px;margin-top: 18px
        }
        .relation table{
            width: 100%;
            text-align: center;
            border: 1px solid #d3d7df;
            height: 50px;
        }
        .relation table thead{
            background: #f4f4f4;
        }
        .relation table tr td{
            height: 50px;
            border: 1px solid #d3d7df;
        }
        .relation table .bj td{
            background: #fff;
        }
        .relation .introduction{
            width: 100%;
            height: 415px;
            margin-top: 14px;
            border: 1px solid #d3d7df;
            overflow: auto;
        }
    </style>
</head>

<body layout:fragment="content">
<div class="wrapper" id="company" v-cloak>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="page-header" style="padding-bottom: 0;margin-bottom: 6px">
            <div class="row">
                <div class="col-md-9 col-sm-9" style="padding-left: 0;">
                    <span class="font-size-18 border-left-blue">中间商的详情</span>
                </div>
                <div class="col-md-3 col-sm-3 text-align-right" style="padding-right: 0">
                    <button type="button" class="btn btn-info padding-right-15"
                            data-toggle="modal" data-target="#modal-info" @click="backMediary">
                        <i class="ace-icon fa fa-reply icon-only"></i>
                        返回
                    </button>
                </div>
            </div>
        </div>
        <section class="content-list" style="padding: 0">
            <!--<div class="page-content">-->
                <!---->
            <!--</div>-->
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" style="padding-left: 0;
                padding-bottom: 10px;">
                    <div class="logo-detail paading-top-0 back-white padding-10">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 15px 0 0 15px;">
                                <table class="detail-table">
                                    <tr class="row-ji">
                                        <td style="height: 115px;">中间商Logo</td>
                                        <td>
                                            <div style="width: 100%;height: 115px;overflow:  hidden;">
                                                <img v-bind:src="dataList.intermediaryLogoUrl" style="width: 100%">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="row-ji">
                                        <td>中间商名称</td>
                                        <td>
                                            <span v-text="dataList.intermediaryName"></span>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>所属地区</td>
                                        <td>
                                            <span v-text="dataList.area.name"></span>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>企业代码</td>
                                        <td>
                                            <span  v-text="dataList.eCode"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 15px 15px 0 0;">
                                <table class="detail-table none-border">
                                    <tr class="row-ji">
                                        <td style="height: 289x;">企业营业执照</td>
                                        <td>
                                            <div style="width: 100%;height: 347px;overflow:  hidden;">
                                                <img v-bind:src="dataList.intermediaryLogoUrl" style="width: 100%">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <!--<div class="common-title">-->
                                    <!--中间商Logo-->
                                <!--</div>-->
                                <!--<div class="logo-img-contain">-->
                                    <!--<img v-bind:src="dataList.intermediaryLogoUrl" style="width: 100%">-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="row relation">
                            <div class="col-md-12" style="padding: 0 15px 0px 15px;">
                                <div class="font">联系人</div>
                                <div style="background: #f4f4f4; padding: 14px 0;">
                                    <table>
                                        <thead>
                                        <tr>
                                            <td>姓名</td>
                                            <td>职位</td>
                                            <td>工号</td>
                                            <td>手机号</td>
                                            <td>邮箱</td>
                                        </tr>
                                        </thead>
                                        <tr v-for="item in myUser" class="bj">
                                            <td>{{item.name}}</td>
                                            <td>{{item.position}}</td>
                                            <td>{{item.jobnumber}}</td>
                                            <td>{{item.mobile}}</td>
                                            <td>{{item.email}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row relation">
                            <div class="col-md-12" style="padding: 0 15px 0px 15px;">
                                <div class="font">平台对接人</div>
                                <div style="background: #f4f4f4; padding: 14px 0;">
                                    <table>
                                        <thead>
                                        <tr>
                                            <td>姓名</td>
                                            <td>职位</td>
                                            <td>工号</td>
                                            <td>手机号</td>
                                            <td>邮箱</td>
                                        </tr>
                                        </thead>
                                        <tr v-for="item in fcUser" class="bj">
                                            <td>{{item.name}}</td>
                                            <td>{{item.position}}</td>
                                            <td>{{item.jobnumber}}</td>
                                            <td>{{item.mobile}}</td>
                                            <td>{{item.email}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row relation">
                            <div class="col-md-12" style="padding: 0 15px 0px 15px;">
                                <div class="font">中间商简介</div>
                                <div class="introduction"  ref="intermediaryIntroduction">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 back-white col-xs-12 padding-left-15
                 padding-bottom-10 company-right-content">
                    <div class="border-left-black">
                        <div class="row head">
                            <div class="col-md-7 circle-msg  height-35 col-xs-7 padding-left-15">
                                <div class="direct-chat-text flow-msg">
                                    跟进信息
                                </div>
                            </div>
                            <div class="col-md-5 col-xs-5 text-right padding-right-15">
                                <button type="button" class="btn purple-btn btn-default" @click="addGJ" sec:authorize="hasAuthority('topic:add')">新增改进</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <comment-list v-for = "item in commentList" v-bind:comment="item"></comment-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" @click="closePop">×</span></button>
                        <h4 class="modal-title text-align">新增改进</h4>
                    </div>
                    <div class="modal-body text-align">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="pop-box text-align-left">
                                        <label for="">项目状态: </label>
                                        <select name="" id="dealWith" class="form-style-pop form-control">
                                            <option value="0">已处理</option>
                                            <option value="1">正在处理</option>
                                        </select>
                                    </div>
                                    <textarea name="editor1"  id="editor1" rows="10" cols="80"></textarea>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-align">
                        <button type="submit" class="btn btn-info search" @click="sureAdd">确定</button>
                        <button type="button" @click="closePop" class="btn btn-info search">取消</button>
                        <button type="button" class="btn btn-info search">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modalAll" id="errMsg">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body padding-top-15 text-align" style="padding-top: 15px">
                    验证失败？
                </div>
                <div class="modal-footer text-align">
                    <button type="button" class="btn btn-info search margin-right-4" @click="closeDelPop">确定</button>
                    <button type="button" class="btn reset-btn search" @click = "closeDelPop">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/webuploader.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script th:inline="javascript">
    var bus = new Vue();
    var detail = new Vue();
    var msgList = Vue.extend({
        props:["content"],
        template:'<div class="msg-comment-list" v-bind:dataId="content.user.id">' +
        '<div class="comment-msg margin-top-6">\n' +
        '<div class="msg-user font-weight margin-top-6">{{content.user.name}}</div>\n' +
        '<div class="msg-content margin-top-3">{{content.topicCommentsContent}}</div>' +
        '<div class="comment-time margin-top-3">跟进时间 <span>{{content.topicCommentsCreateTime}}</span>' +
        '</div>' +
        '</div></div>',
        mounted:function(){

        }
    });
    Vue.component('comment-list', {
        props:['comment'],
        template:'<div class="direct-chat-msg margin-top-15">' +
        '<div class="direct-chat-text"><div class="margin-top-6 margin-left-10">\n' +
        '<img class="direct-chat-img" src="../../dist/img/user1-128x128.jpg" alt="message user image">\n' +
        '<span class="comment-user">{{comment.user.name}}</span></div>' +
        '<div class="comment-content margin-left-10"  escape="false" ref = "item"></div>' +
        '<div class="comment-status margin-top-6 margin-left-10">' +
        '跟进状态: <span ref="status"></span></div>' +
        '<div class="comment-btn-time margin-top-6">' +
        '<div class="comment-time float-left margin-left-10">' +
        '跟进时间: <span>{{comment.topicCreateTime}}</span></div>'+

                [# sec:authorize="hasAuthority('topiccomments:add')"]
    '<div class="comment-btn float-right margin-right-10" @click="commentClick(comment.topicId,$event)">' +
        '<i class="icon-color-9c fa fa-fw  fa-commenting"></i>' +
        '评论({{comment.commentsCount}})</div>'+
    [/]
        '</div>' +
        '<transition name="fade">' +
        '<div class="comment-list">' +
        '<div class="input-group margin-top-6">' +
        '<input type="text" class="form-control" ref="commentMsg"  v-model="commentMsg">' +
        '<span class="input-group-btn">' +
        '<button type="button" class="btn btn-info btn-flat border-none" @click="commentAdd(comment.topicId,$event)">评论</button>' +
        '</span>' +
        '</div><div class="padding-left-10 margin-top-6" ref="msg1"></div>' +
        ' <msg1 v-for = "item in comment.commentContent" :key="item.id" v-bind:content="item">' +
        '</msg1></div></transition></div></div>',
        data(){
            return{
                commentMsg:""
            }
        },
        methods:{
            commentClick:function (msg,event) {
                var _this = this;
                var comment = $(event.currentTarget);
                bus.$emit('change',msg ,_this.$refs.msg1);
                comment.parent().next().toggle();
            },
            commentAdd:function(msg,event){
                var _this = this;
                var comment = $(event.currentTarget);
                var userId = comment.parent().parent().next().next().attr("dataId");
                var postData = {
                    topicId:msg,
                    topicCommentsContent:_this.commentMsg
                };
                $.axspost(contextPath + "api/topiccomments","post",JSON.stringify(postData),function(data){
                    if( data.status == 200){
                        bus.$emit('change',msg,_this.$refs.msg1);
                        _this.commentMsg = "";
                    }else{
                        $("#errMsg").addClass("in").css("display","block")
                    }
                },function(data){});
            }
        },
        components:{
            "msg1":msgList
        },
        mounted:function(){
            var _this = this;
            $(this.$refs.item).html(_this.comment.topicContent);
            // {{comment.topicStatus}}
            if(_this.comment.topicStatus == 0){
                $(this.$refs.status).html("已处理")
            }else{
                $(this.$refs.status).html("正在处理")
            }
        }
    });

    var detailID  = [[${id}]];

    var Vm =  new Vue({
        el:"#company",
        data:{
            show: false,
            dataList:{
                area:{
                    name:"",
                    id:""
                },
                company: null,
                createTime: "",
                id: 1,
                contacts:[],
                intermediaryContact: "5555",
                intermediaryContactTel: "",
                intermediaryIntroduction: "5545454",
                intermediaryLogoUrl: "",
                intermediaryName: "",
                isPlat: 1,
                updateTime: "",
                user:{
                    admin:"",
                    id: 1,
                    platformAdmin: "",
                    position: "",
                    name: "",
                    // mobile: ""
                }
            },
            contacts:[],
            commentList:[]
        },
        computed:{
            myUser:function () {
                var _this = this;
                return _this.contacts.filter(function(v){
                    return v.status == 1
                })
            },
            fcUser:function () {
                var _this = this;
                return _this.contacts.filter(function(v){
                    return v.status == 0
                })
            }
        },
        methods:{
            closeDelPop:function(){
                $(".modalAll").removeClass("in").css("display","none");
            },
            addGJ:function(){
                $("#modal-default").addClass("in").css("display","block")
            },
            closePop:function(){
                $("#modal-default").removeClass("in").css("display","none")
            },
            editorFun:function(){
                CKEDITOR.replace( 'editor1', {
                    filebrowserImageUploadUrl:'/editoUpload'
                });
            },
            backMediary:function(){
                location.href=contextPath+"intermediary/list";
            },
            sureAdd:function () {  //    新增跟进
                // var intermediaryId  = location.search.substring(1).split("&")[1];
                var postData = {
                    intermediary:{
                        intermediaryId:detailID
                    },
                    topicContent:CKEDITOR.instances.editor1.getData(),
                    topicStatus: $("#dealWith").val()
                };
                $.axspost(contextPath + "api/topic","post",JSON.stringify(postData),function(data){
                    if( data.status == 200){
                        window.location.reload();
                    }else{
                        $(".modalAll").addClass("in").css("display","block");
                    }
                },function(data){});
            }
        },
        mounted:function () {
            var _this = this;
            _this.editorFun(); //初始化生成编辑器

            $.axspost(contextPath + "api/intermediary/"+detailID+"","get","",function(data){
                // console.log(data.content);
                _this.dataList = data.content;
                _this.contacts = data.content.contacts;
                _this.dataList.intermediaryLogoUrl = imgPath + data.content.intermediaryLogoUrl
                $(_this.$refs.intermediaryIntroduction).html(data.content.intermediaryIntroduction);
                //
                // $(".intermediaryIntroduction").html()
            },function(data){});

            $.axspost(contextPath + "api/topic/intermediaryId/"+detailID+"","get","",function(data){
                _this.commentList = data.content;
                // $(".comment-content").html(data.topicContent);
            },function(data){});

            bus.$on('change', function (id,msg) {
                // console.log(msg);
                $.axspost(contextPath+"api/topiccomments/topic/"+id+"","get","",function(data){
                    if(data.content.length == 0){
                        $(msg).html("")
                    }else{
                        $(msg).html("评论消息")
                    }
                    _this.commentList.forEach(function(item,i){
                        if( _this.commentList[i].topicId == id){
                            Vue.set(Vm.commentList[i],'commentContent',data.content);
                        }
                    });
                },function (data) {

                });
            });


        }
    })
</script>
</body>
</html>
