<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/common.css}">
    <style>
        #fileList{
            width: 55%;
            min-height: 110px;
            outline: 1px solid #ececec;
            background: #eee;
        }
        #fileList.active {
            outline: none;
            border:none!important;
        }
        #treeDemo{
            width: 60%;
            background: #fff;
            /*outline: 1px solid #3c8dbc;*/
        }
        #editor1{
            resize: none;
        }
        .intermediary-title{
            height: 40px;
            line-height: 40px;
            background: rgb(228,228,228);
            padding-left: 10px;
        }
        .img-div{
            /*width: 40%;*/
            /*height: 150px;*/
            min-height: 150px;
            border: 1px dotted black;
            margin-top: 5px;
        }
        .img-div>img{
            width: 110px;
        }
        .inter-img input[type=file]{
            width: 100%;
        }
        .tree-div-contain{
            display: none;
            position: absolute;
            width: 96.5%;
            z-index: 3;
            overflow: auto;
            background: white;
            top: 38px;
            left: 11px;
            outline: 1px solid darkgreen;
        }
        .search-list{
            margin: 0;
            list-style: none;
            padding: 0;
            padding-left: 10px;
        }
        .search-list li{
            height: 30px;
            line-height: 30px;
        }
        .webuploader-pick {
            position: relative;
            display: none;
            cursor: pointer;
            background: #00b7ee;
            padding: 10px 15px;
            color: #fff;
            text-align: center;
            border-radius: 3px;
            overflow: hidden;
        }
        .search-btn-list{
            height: 34px;
            line-height: 7px;
            margin-left: 10px;
        }
        .menu-list{
            max-height: 300px;
        }
        .btn, .border-none {
            border: 1px solid #6FB3E0;
        }
    </style>
</head>
<body layout:fragment="content">
<div id="myMediary">
    <div class="page-header">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="float-left">
                    <span class="font-size-18 border-left-blue">编辑中间商</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 text-align-right">
                <button type="button" data-toggle="modal" @click="backList"
                        class="btn btn-info padding-right-15">
                    <i class="ace-icon fa fa-reply icon-only"></i>
                    返回
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <form class="form-horizontal" id="validation-form">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="intermediaryName">中间商名称:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="intermediaryName" id="intermediaryName" v-model="editList.intermediaryName" class="col-xs-12 col-sm-6" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="areaId">地区:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <!--<input type="text" name="areaId" id="areaId" class="col-xs-12 col-sm-6" />-->
                                <input type="text" name="areaId" class="col-xs-12 col-sm-6" id="areaId" readonly="readonly" required="required" onclick="showMenu()" v-bind:data-id="editList.area.id" v-model="editList.area.name" >
                                <div class="tree-div-contain">
                                    <div class="margin-left-10 margin-top-6">
                                        <input type="text" class="col-xs-8 col-sm-6 limit-style" v-model="searchVal">
                                        <button  type="button" class="btn btn-info padding-right-15 search-btn-list" @click="searchZtree">搜索</button>
                                    </div>
                                    <div class="menu-list margin-left-10">
                                        <ul id="treeDemo" class="ztree"></ul>
                                        <ul class="search-list">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="intermediaryContact">联系人:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="intermediaryContact" id="intermediaryContact" v-model="editList.intermediaryContact" class="col-xs-12 col-sm-6" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="intermediaryContactTel">联系人电话:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="intermediaryContactTel" id="intermediaryContactTel" v-model="editList.intermediaryContactTel" class="col-xs-12 col-sm-6" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">LOGO:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="hidden" name="intermediaryLogoUrl"  id="responseUrl" value="" class="col-xs-12 col-sm-6">
                                <div id="fileList" class="uploader-list" name="intermediaryLogoUrl">
                                    <img src="" id="imgInter" alt="">
                                </div>
                                <div id="filePicker" class="margin-top-6">选择图片</div>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="userId">平台联系人:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="" id="userId" class="col-xs-12 col-sm-6" v-model="editList.user.name"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="userId">平台联系方式:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="userId"  class="col-xs-12 col-sm-6" v-model="editList.user.mobile"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="intermediaryIntroduction">中间简介:</label>
                        <div class="col-xs-12 col-sm-9 introduction">
                            <div class="clearfix">
                                <input type="hidden" name="intermediaryIntroduction" id="intermediaryIntroduction" class="col-xs-12 col-sm-6" />
                                <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit" id="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                提交
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
</div>
<script th:src="@{/js/webuploader.js}"></script>
<script type="text/javascript" th:inline="javascript">
    function showMenu() {
        $(".tree-div-contain").show();
        $("body").unbind("mousedown", onBodyDown);
    }
    function hideMenu() {
        $(".tree-div-contain").hide();
        $("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
        if (!(event.target.id == "areaId"  || event.target.className == "tree-div-contain" || $(event.target).parents(".tree-div-contain").length>0)) {
            hideMenu();
        }
    }
    $(document).bind("click",function(e){
        onBodyDown(e) ;
    });
    jQuery(function($) {
        var id=[[${id}]];

        new Vue({
            el:"#myMediary",
            data:{
                searchVal:"",
                editList:{
                    area:{
                        name:"",
                        id:""
                    },
                    company: null,
                    createTime: "",
                    id: 1,
                    intermediaryContact: "",
                    intermediaryContactTel: "",
                    intermediaryIntroduction: "",
                    intermediaryLogoUrl: "",
                    intermediaryName: "",
                    isPlat: 1,
                    updateTime: "",
                    user:{
                        id: 1,
                        name: "",
                        mobile: ""
                    }
                }
            },
            methods:{
                backList:function(){
                    location.href=contextPath+"intermediary/list";
                },
                zTreeInit:function(){
                    var _this = this;
                    return {
                        useTree : function(ele,zNodes,inputEle){
                            var setting = {
                                async: {
                                    enable: true,
                                    url: getUrl,
                                    type: "get",
                                    dataFilter: ajaxDataFilter
                                },
                                data: {
                                    simpleData: {
                                        enable: true
                                    }
                                },
                                callback: {
                                    onClick:zTreeOnclick,
                                    beforeExpand: beforeExpand,
                                    onAsyncSuccess:onAsyncSuccess
                                },
                                view: {
                                    fontCss: getFontCss,
                                    showLine: false
                                    // showIcon:false
                                }
                            };
                            function getFontCss(treeId, treeNode) {
                                return (!!treeNode.highlight) ? {color:"#A60000", "font-weight":"bold"} : {color:"#333", "font-weight":"normal"};
                            }
                            //异步加载返回的数据
                            function ajaxDataFilter(treeId, parentNode, responseData) {
                                console.log(responseData.content +"=======================");
                                return responseData.content;
                            }
                            function zTreeOnclick(event, treeId, treeNode) {
                                _this.editList.area.name = treeNode.name;
                                _this.editList.area.id = treeNode.id;
                                $(".tree-div-contain").hide();
                                _this.searchVal = "";
                                $("#areaId").parent().next().remove();
                                $("#areaId").parents(".form-group").removeClass("has-error")
                            }
                            function getUrl(treeId, treeNode){
                                return contextPath +"api/area/condition?level="+parseInt(treeNode.level+2)+"&parent="+treeNode.id;
                            }
                            function beforeExpand(treeId, treeNode) {
                                if (!treeNode.isAjaxing) {
                                    return true;
                                } else {
                                    alert("zTree 正在下载数据中，请稍后展开节点。。。");
                                    return false;
                                }
                            }
                            function onAsyncSuccess(event, treeId, treeNode, msg) {
                                var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
                                treeObj.updateNode(treeNode);
                            }
                            $.fn.zTree.init(ele, setting, zNodes);
                        }
                    }

                },
                editorFun:function(){ //文本框编辑
                    this.editor = CKEDITOR.replace( 'editor1', {
                        customConfig: '',
                        filebrowserImageUploadUrl:contextPath + 'intermediary/upload',
                        removeDialogTabs:"image:advanced;image:Link",
                        toolbarGroups: [
                            {"name":"basicstyles","groups":["basicstyles"]},
                            {"name":"links","groups":["links"]},
                            {"name":"paragraph","groups":["list","blocks"]},
                            // {"name":"document","groups":["mode"]},
                            {"name":"insert","groups":["insert"]},
                            {"name":"styles","groups":["styles"]},
                            {"name":"about","groups":["about"]}
                        ],
                        removePlugins:"elementspath"
//            removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
                    });
                },
                searchZtree:function(){
                    var searchVal = this.searchVal;
                    if(searchVal.length != 0){
                        $.axspost(contextPath + "api/area/?shortName="+searchVal,"get","",function (data) {
                            var getData = data.content;
                            $(".search-list").html("");
                            if(getData.length != 0){
                                getData.forEach(function(item,i){
                                    var li = "<li data-id="+getData[i].id+">"+getData[i].name+"</li>";
                                    $(".search-list").append(li).show();
                                    $("#treeDemo").hide();
                                })
                            }
                        },function (data) {

                        });
                    }else{
                        $("#treeDemo").show();
                        $(".search-list").hide();
                    }
                },
                sureSubmit:function () {
                    var _this = this;
                    var data = {
                        intermediaryName:_this.editList.intermediaryName, //中间商名称
                        intermediaryContact:_this.editList.intermediaryContact,//中间商联系人
                        intermediaryContactTel:_this.editList.intermediaryContactTel, //中间商联系方式
                        intermediaryLogoUrl:   $("#responseUrl").val(),
                        intermediaryIntroduction: CKEDITOR.instances.editor1.getData(),
                        user:{
                            name:_this.editList.user.name,
                            mobile:_this.editList.user.mobile,
                            userid:1
                        },
                        area:{
                            id:_this.editList.area.id
                        },
                        intermediaryId:id
                    };
                    $.ajax({
                        url: contextPath+"api/intermediary",
                        method: "put",
                        data : JSON.stringify(data),
                        contentType: "application/json",
                        dataType : "json",
                        success: function (data) {
                            // alert(1);
                            location.href=contextPath+"intermediary/list";
                        },
                        error: function (data) {
                            // alert(2);
                            // console.log(data);
                        }
                    })
                }
            },
            mounted:function () {
                var _this = this;
                //查询中间商详情
                $.axspost(contextPath + "api/intermediary/"+id+"","get","",function(data){
                    _this.editList = data.content;
                    $("#imgInter").attr("src",imgPath+data.content.intermediaryLogoUrl);
                    $("#responseUrl").val(data.content.intermediaryLogoUrl);
                    responseUrl = data.content.intermediaryLogoUrl;
                    CKEDITOR.instances.editor1.setData(data.content.intermediaryIntroduction);
                    $("#intermediaryIntroduction").val(data.content.intermediaryIntroduction);
                },function(data){});
                _this.editorFun(); //初始化生成编辑器
                // _this.uploaderFun();  //上传图片
                jQuery.validator.addMethod("isMobile", function(value, element) {
                    var length = value.length;
                    var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
                    return this.optional(element) || (length == 11 && mobile.test(value));
                }, "请正确填写您的手机号码");

                //所属区域
                $.axspost(contextPath + "api/area/condition?level=1","get","",function(data){
                    // _this.facList = data.content;
                    data.content.forEach(function(item,i){
                        data.content[i].isParent  = true;
                        _this.facList = data.content;
                    });
                    _this.zTreeInit().useTree($("#treeDemo"),_this.facList,"#address");//初始化生成树
                },function (data) {});
                var $form = $('#validation-form').validate({
                    errorElement: 'div',
                    errorClass: 'help-block',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                        intermediaryName: {
                            required: true,
                            maxlength:64
                        },
                        areaId: {
                            required: true
                        },
                        intermediaryContact: {
                            required: true,
                            maxlength:16
                        },
                        intermediaryLogoUrl: {
                            required: true
                        },

                        intermediaryIntroduction: {
                            required: true
                        },
                        intermediaryContactTel: {
                            required: true,
                            isMobile:true
                        },
                        userId: {
                            required: true,
                            isMobile:true
                        }
                    },

                    highlight: function (e) {
                        $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                    },

                    success: function (e) {
                        $(e).closest('.form-group').removeClass('has-error');
                        $(e).remove();
                    },

                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    },

                    submitHandler: function (form) {

                        // var data = $(form).serializeObject();
                        _this.sureSubmit();

                    },
                    invalidHandler: function (form) {

                    }
                });

                CKEDITOR.instances.editor1.on('change', function() {
                    var data = CKEDITOR.instances.editor1.getData();
                    $("#intermediaryIntroduction").val(data);
                    if(data.length == 0){
                        $("#intermediaryIntroduction-error").remove();
                        var div = "<div id=\"intermediaryIntroduction-error\" class=\"help-block\">必选字段</div>" ;
                        $("#intermediaryIntroduction").parents(".introduction").append(div);
                        $("#intermediaryIntroduction").parents(".form-group").addClass("has-error");
                    }else{

                        $("#intermediaryIntroduction").parents(".form-group").removeClass("has-error");
                        $("#intermediaryIntroduction-error").remove();
                    }

                });
            }
        });
        $(document).on("click",".search-list >li",function(){
            $(".tree-div-contain").hide();
            $("#areaId").val($(this).text()).attr("data-id",
                $(this).attr("data-id"));
            $("#treeDemo").show();
            $(".search-list").hide();
            var text = $(this).text();
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            var nodes = treeObj.transformToArray(treeObj.getNodes());
            $(".limit-style").val("");
            $("#areaId").parent().next().remove();
            $("#areaId").parents(".form-group").removeClass("has-error");
            nodes.forEach(function(item,i){
                if(nodes[i].name == text){
                    treeObj.selectNode(nodes[i]);
                }
            });
        });
        $("button[type=reset]").click(function(){
            $("#responseUrl").val("");
            $("#imgInter").attr("src","");
            CKEDITOR.instances.editor1.setData("");
        });

        setTimeout(function(){
            $(".webuploader-pick").css("display","inline-block");
            $(".webuploader-pick").next().css({
                position: "absolute",
                top: "121px",
                left: "15px",
                width: "85px",
                height: "40px",
                overflow: "hidden",
                opacity: 0
            });
        }, 30);


        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: contextPath + '/dist/js/Uploader.swf',
            // 文件接收服务端。
            server: contextPath+'upload',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker'
            // 只允许选择图片文件。
            /*accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/!*'
            },*/


        });

        uploader.on( 'uploadSuccess', function( file,response ) {
            $("#responseUrl").val(response.content.path);
            $("#responseUrl").parent().next().remove();
            $("#responseUrl").parents(".form-group").removeClass("has-error")
        });

        uploader.on( 'fileQueued', function( file ) {
            // var $li = $('<img src="" id="imgInter">');
            // $("#fileList").html($li);
            uploader.makeThumb(file, function (error, src) {
                $("#imgInter").attr("src",src);
            });
        });
    })
</script>
</body>
</html>