<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" th:href="@{/dist/css/common.css}">
    <style>
        #fileList{
            /*width: 55%;*/
            min-height: 110px;
            outline: 1px solid #ececec;
            background: #eee;
        }
        #fileList.active {
            outline: none;
            border:none!important;
        }
        #companyZz{
            width: 370px;
            height: 325px;
            overflow: hidden;
            outline: 1px solid #ececec;
            background: #eee;
        }
        #treeDemo{
            width: 60%;
            background: #fff;
            /*outline: 1px solid #3c8dbc;*/
        }
        #editor1{
            resize: none;
        }
        .intermediary-title{
            height: 40px;
            line-height: 40px;
            background: rgb(228,228,228);
            padding-left: 10px;
        }
        .img-div{
            /*width: 40%;*/
            /*height: 150px;*/
            min-height: 150px;
            border: 1px dotted black;
            margin-top: 5px;
        }
        .img-div>img{
            width: 110px;
        }
        .inter-img input[type=file]{
            width: 100%;
        }
        .tree-div-contain{
            display: none;
            position: absolute;
            width: 64%;
            z-index: 3;
            overflow: auto;
            background: white;
            top: 38px;
            left: 11px;
            outline: 1px solid #D5D5D5;
        }
        .search-list{
            margin: 0;
            list-style: none;
            padding: 0;
            padding-left: 10px;
        }
        .search-list li{
            height: 30px;
            line-height: 30px;
        }
        .webuploader-pick {
            position: relative;
            display: none;
            cursor: pointer;
            background: #00b7ee;
            padding: 10px 15px;
            color: #fff;
            text-align: center;
            border-radius: 3px;
            overflow: hidden;
        }
        .search-btn-list{
            height: 34px;
            line-height: 7px;
            margin-left: 10px;
        }
        .menu-list{
            max-height: 300px;
        }
        .btn, .border-none {
            border: 1px solid #6FB3E0;
        }
        #areaId{
            background: #F5F5F5 url('../../images/areaArrow.png') no-repeat center right!important;
        }
    </style>
</head>

<body layout:fragment="content">
<div id="myMediary" v-cloak>
    <div class="page-header">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="float-left">
                    <span class="font-size-18 border-left-blue">添加中间商</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 text-align-right">
                <button type="button" data-toggle="modal" @click="backList"
                        class="btn btn-info padding-right-15">
                    <i class="ace-icon fa fa-reply icon-only"></i>
                    返回
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <form class="form-horizontal" id="validation-form">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="intermediaryName">中间商名称:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="intermediaryName"
                                       id="intermediaryName" v-model="editList.intermediaryName"
                                       class="col-xs-12 col-sm-8" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="areaId">地区:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <!--<input type="text" name="areaId" id="areaId" class="col-xs-12 col-sm-6" />-->
                                <input type="text" name="areaId" class="col-xs-12 col-sm-8" id="areaId" readonly="readonly" required="required" onclick="showMenu()" v-bind:data-id="editList.area.id" v-model="editList.area.name" >
                                <div class="tree-div-contain">
                                    <div class="margin-left-10 margin-top-6">
                                        <input type="text" class="col-xs-8 col-sm-6 limit-style" v-model="searchVal">
                                        <button  type="button" class="btn btn-info padding-right-15 search-btn-list" @click="searchZtree">搜索</button>
                                    </div>
                                    <div class="menu-list margin-left-10">
                                        <ul id="treeDemo" class="ztree"></ul>
                                        <ul class="search-list">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="intermediaryContact">联系人:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="intermediaryContact"
                                       id="intermediaryContact" v-model="editList.intermediaryContact"
                                       class="col-xs-12 col-sm-8" :id="editList.intermediaryContact"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="intermediaryContactTel">联系人电话:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="intermediaryContactTel"
                                       id="intermediaryContactTel" v-model="editList.intermediaryContactTel"
                                       class="col-xs-12 col-sm-8" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">LOGO:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="hidden" name="intermediaryLogoUrl"  id="responseUrl" value="" class="col-xs-12 col-sm-6">
                                <div id="fileList" class="uploader-list col-xs-12 col-sm-8"
                                     name="intermediaryLogoUrl" style="float: none">
                                    <!--<img src="" id="imgInter" alt="">-->
                                </div>
                                <div id="filePicker" class="margin-top-6 select-img">选择图片</div>
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">平台联系人:</label>
                        <ztree-list :list = "zTreeList"
                                    :nodes="zNodes"
                                    :listshow="ztreeFlag"
                                    @showcontain="handleAdd"
                                    @ztreeclick="handleClick"
                                    @del="delCurrent"
                        >
                        </ztree-list>
                        <label class="col-xs-12 col-sm-3 no-padding-right"></label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="hidden" name="userName" id="rttt"
                                       class="col-xs-12 col-sm-8"
                                       v-model="ptrelation"/>
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-xs-12 col-sm-3 no-padding-right">平台联系方式:</label>-->
                        <!--<div class="col-xs-12 col-sm-9">-->
                            <!--<div class="clearfix">-->
                                <!--<input type="text" name="userId"  class="col-xs-12 col-sm-8" v-model="editList.user.mobile"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="userId">企业代码:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="eCode"  class="col-xs-12 col-sm-8" v-model="editList.eCode"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">企业营运执照:</label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="clearfix">
                                <input type="hidden" name="companyBussniess"  id="companyBussniess" value="" class="col-xs-12 col-sm-8">
                                <div id="companyZz" class="uploader-list col-xs-12 col-sm-8"
                                     name="intermediaryLogoUrl" style="float: none">
                                    <img src="" id="imgCompany" alt="" style="width: 100%">
                                </div>
                                <div id="companyYy" class="margin-top-6 select-img">选择图片</div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="intermediaryIntroduction">中间简介:</label>
                        <div class="col-xs-12 col-sm-9 introduction">
                            <div class="clearfix">
                                <input type="hidden" name="intermediaryIntroduction" id="intermediaryIntroduction" class="col-xs-12 col-sm-6" />
                                <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit" id="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                提交
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
</div>
<script th:src="@{/js/webuploader.js}"></script>
<script type="text/javascript" th:inline="javascript">
    function showMenu() {
        $(".tree-div-contain").show();
        $("body").unbind("mousedown", onBodyDown);
    }
    function hideMenu() {
        $(".tree-div-contain").hide();
        $("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
        if (!(event.target.id == "areaId"  || event.target.className == "tree-div-contain" || $(event.target).parents(".tree-div-contain").length>0)) {
            hideMenu();
        }
    }


    Vue.component('ztreeList',{
        props:['list','nodes','listshow'],
        data() {
            return {
                nodesArr:this.nodes
            }
        },
        template:'<div class="col-xs-12 col-sm-9">' +
        '<div class="ztree-page ztree-box col-xs-12 col-sm-8"> ' +
        '<span v-for="item in list" data-id="item.id"  class="ztreeName" ' +
        '@click="delCurrent(item.id)">{{item.name}}</span> ' +
        '<span class="add" id="add" @click="handleAdd">+</span> ' +
        '</div>' +
        '<div class="ztreeContain col-xs-12 col-sm-8" id="ztreeContain" v-show="listshow">' +
        ' <ul id="treeDemoCheck" class="ztree"></ul> ' +
        '</div></div>',
        methods:{
            delCurrent:function(id){
                var _this = this;
                var treeObj =  $.fn.zTree.getZTreeObj("treeDemoCheck");
                var nodes = treeObj.getNodes();
                var treeNode = treeObj.transformToArray(treeObj.getNodes());
                for(var i=0;i<treeNode.length;i++){
                    var v = treeNode[i];
                    if(v.id == id && v.type == 'person'){
                        treeObj.checkNode(v, false, true);
                    }
                }
                console.log(id);
                _this.$emit('del',id)
            },
            handleAdd: function(){
                this.$emit('showcontain')
            },
            zTreeOnCheck: function(){
                this.$emit('ztreeclick')
            },
            setting : function(){
                return settingCheck = {
                    check: {
                        enable: true
                    },
                    data: {
                        // simpleData: {
                        //     enable: true,
                        //     idKey: "id",
                        //     pIdKey: "parentId",
                        //     rootPId: 0
                        // }
                    },
                    callback:{
                        onCheck: this.zTreeOnCheck
                    },
                    view: {
                        showLine: false
                    }
                };
            }
        },
        watch:{
            nodes: function () {
                var _this = this;
                _this.nodes[0].open = true;
                $.fn.zTree.init($("#treeDemoCheck"), _this.setting(),
                    _this.nodes);
                var treeObj =  $.fn.zTree.getZTreeObj("treeDemoCheck");
                var treeNode = treeObj.transformToArray(treeObj.getNodes());
                treeNode.map(function(v){
                    if(v.type == 'person'){
                        v.icon = contextPath +'images/person.png'
                    }else {
                        v.icon = contextPath +'images/company.png'
                    }
                });
                treeObj.refresh();
            }
        },
        mounted: function(){

        }
    });

    // var responseUrl;
    jQuery(function($) {
        var vue1 =   new Vue({
            el:"#myMediary",
            data:{
                ztreeFlag:false,
                zNodes:[],
                zTreeList:[],
                searchVal:"",
                editList:{
                    area:{
                        name:"",
                        id:""
                    },
                    company: null,
                    createTime: "",
                    id: 1,
                    intermediaryContact: "",
                    intermediaryContactTel: "",
                    intermediaryIntroduction: "",
                    intermediaryLogoUrl: "",
                    intermediaryName: "",
                    isPlat: 1,
                    eCode:"",
                    businessLicense:"",
                    updateTime: "",
                    user:{
                        id: 1,
                        name: "",
                        mobile: ""
                    }
                }
            },
            computed:{
                ptrelation: function(){
                    if(this.zTreeList.length == 0){
                        return null
                    }else {
                        return 'string'
                    }
                }
            },
            // watch:{
            //     zTreeList: function(){
            //         if(this.zTreeList.length == 0){
            //             this.ptrelation = '';
            //             // this.keyChange();
            //         }else {
            //             this.ptrelation = 'string';
            //             // this.keyChange();
            //         }
            //     }
            // },
            methods:{
                handleAdd:function(){
                    this.ztreeFlag = true;
                },
                delCurrent: function(id){
                    var _this = this;
                    for(var i=0;i<_this.zTreeList.length;i++){
                        if(_this.zTreeList[i].id == id){
                            _this.zTreeList.splice(i,1)
                        }
                    }
                },
                handleClick: function(treeNode) {
                    var _this = this;
                    var treeObj = $.fn.zTree.getZTreeObj("treeDemoCheck");
                    var checkTrue = treeObj.getCheckedNodes(true);
                    _this.zTreeList = checkTrue.filter(function(v){
                        return v.type == 'person'
                    });
                },
                zTreeInit:function(){
                    var _this = this;
                    return {
                        useTree : function(ele,zNodes,inputEle){
                            var setting = {
                                async: {
                                    enable: true,
                                    url: getUrl,
                                    type: "get",
                                    dataFilter: ajaxDataFilter
                                },
                                data: {
                                    simpleData: {
                                        enable: true
                                    }
                                },
                                callback: {
                                    onClick:zTreeOnclick,
                                    beforeExpand: beforeExpand,
                                    onAsyncSuccess:onAsyncSuccess
                                },
                                view: {
                                    fontCss: getFontCss,
                                    showLine: false
                                    // showIcon:false
                                }
                            };
                            function getFontCss(treeId, treeNode) {
                                return (!!treeNode.highlight) ? {color:"#A60000", "font-weight":"bold"} : {color:"#333", "font-weight":"normal"};
                            }
                            //异步加载返回的数据
                            function ajaxDataFilter(treeId, parentNode, responseData) {
                                // console.log(responseData.content +"=======================");
                                responseData.content.map(function(v){
                                    v.icon = contextPath +'images/commonZtree.png'
                                });
                                return responseData.content;
                            }
                            function zTreeOnclick(event, treeId, treeNode) {
                                _this.editList.area.name = treeNode.name;
                                _this.editList.area.id = treeNode.id;
                                $(".tree-div-contain").hide();
                                _this.searchVal = "";
                                $("#areaId").parent().next().remove();
                                $("#areaId").parents(".form-group").removeClass("has-error")
                            }
                            function getUrl(treeId, treeNode){
                                return contextPath +"api/area/condition?level="+parseInt(treeNode.level+2)+"&parent="+treeNode.id;
                            }
                            function beforeExpand(treeId, treeNode) {
                                if (!treeNode.isAjaxing) {
                                    return true;
                                } else {
                                    alert("zTree 正在下载数据中，请稍后展开节点。。。");
                                    return false;
                                }
                            }
                            function onAsyncSuccess(event, treeId, treeNode, msg) {
                                var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
                                treeObj.updateNode(treeNode);
                            }
                            $.fn.zTree.init(ele, setting, zNodes);
                        }
                    }

                },
                editorFun:function(){ //文本框编辑
                    this.editor = CKEDITOR.replace( 'editor1', {
                        filebrowserImageUploadUrl:"/editoUpload"
                    });
                },
                searchZtree:function(){
                    var searchVal = this.searchVal;
                    if(searchVal.length != 0){
                        $.axspost(contextPath + "api/area/?shortName="+searchVal,"get","",function (data) {
                            var getData = data.content;
                            $(".search-list").html("");
                            if(getData.length != 0){
                                getData.forEach(function(item,i){
                                    var li = "<li data-id="+getData[i].id+">"+getData[i].name+"</li>";
                                    $(".search-list").append(li).show();
                                    $("#treeDemo").hide();
                                })
                            }
                        },function (data) {

                        });
                    }else{
                        $("#treeDemo").show();
                        $(".search-list").hide();
                    }
                },
                sureSubmit:function () {
                    var _this = this;
                    var listId = [];
                    _this.zTreeList.map(function (v) {
                        // console.log(v.id);
                        listId.push(v.id);
                    });
                    var data = {
                        intermediaryName:_this.editList.intermediaryName, //中间商名称
                        intermediaryContact:_this.editList.intermediaryContact,//中间商联系人
                        intermediaryContactTel:_this.editList.intermediaryContactTel, //中间商联系方式
                        intermediaryLogoUrl:   $("#responseUrl").val(),
                        businessLicense:   $("#companyBussniess").val(),
                        eCode:   _this.editList.eCode,
                        intermediaryIntroduction: CKEDITOR.instances.editor1.getData(),
                        area:{
                            id:_this.editList.area.id
                        },
                        fcUser:listId.join(",")
                    };

                    $.ajax({
                        url: contextPath+"api/intermediary",
                        method: "post",
                        data : JSON.stringify(data),
                        contentType: "application/json",
                        dataType : "json",
                        success: function (data) {
                            // alert(1);
                            location.href=contextPath+"intermediary/list";
                        },
                        error: function (data) {
                            // alert(2);
                            // console.log(data);
                        }
                    })
                },
                backList:function(){
                    location.href=contextPath+"intermediary/list";
                },
                keyChange:function() {
                    if(this.zTreeList.length == 0){
                        this.ptrelation = '';
                        $("#rttt").val('').focus()
                    }else {
                        this.ptrelation = 'string';
                        $("#rttt").val('string').focus()
                    }
                }
            },
            mounted:function () {
                var _this = this;
                _this.editorFun(); //初始化生成编辑器

                $.axspost(contextPath+'api/dingtalkuser/deptUser?iId=1','get','',function (data) {
                    _this.zNodes = data.content;
                },function(data){});


                // _this.uploaderFun();  //上传图片
                jQuery.validator.addMethod("isMobile", function(value, element) {
                    var length = value.length;
                    var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
                    return this.optional(element) || (length == 11 && mobile.test(value));
                }, "请正确填写您的手机号码");

                jQuery.validator.addMethod("isExistence", function(value, element) {
                    var length = value.length;
                    var flag = '';
                    var msg;
                    $.ajax({
                        url:contextPath + "api/dingtalkuser/mobile?mobile="+value,
                        type: 'get',
                        async: false,
                        success:function(data){
                            msg =  data;
                        }
                    });
                    return msg;
                }, "该号码已存在");

                //所属区域
                $.axspost(contextPath + "api/area/condition?level=1","get","",function(data){
                    data.content.forEach(function(item,i){
                        data.content[i].isParent  = true;
                        data.content[i].icon = contextPath +'images/commonZtree.png'
                        _this.facList = data.content;
                    });
                    _this.zTreeInit().useTree($("#treeDemo"),_this.facList,"#address");//初始化生成树
                },function (data) {});
                var $form = $('#validation-form').validate({
                    errorElement: 'div',
                    errorClass: 'help-block',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                        intermediaryName: {
                            required: true,
                            maxlength:64
                        },
                        areaId: {
                            required: true
                        },
                        userName: {
                            required: true
                        },
                        intermediaryContact: {
                            required: true,
                            maxlength:16
                        },
                        intermediaryLogoUrl: {
                            required: true
                        },
                        companyBussniess: {
                            required: true
                        },
                        eCode: {
                            required: true
                        },
                        businessLicense: {
                            required: true
                        },
                        intermediaryIntroduction: {
                            required: true
                        },
                        intermediaryContactTel: {
                            required: true,
                            isMobile:true,
                            isExistence:true
                        },
                        userId: {
                            required: true,
                            isMobile:true
                        }
                    },

                    highlight: function (e) {
                        $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                    },

                    success: function (e) {
                        $(e).closest('.form-group').removeClass('has-error');
                        $(e).remove();
                    },

                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    },

                    submitHandler: function (form) {

                        // var data = $(form).serializeObject();
                        _this.sureSubmit();

                    },
                    invalidHandler: function (form) {

                    }
                });


                CKEDITOR.instances.editor1.on('change', function() {
                    var data = CKEDITOR.instances.editor1.getData();
                    $("#intermediaryIntroduction").val(data);
                    if(data.length == 0){
                        $("#intermediaryIntroduction-error").remove();
                        var div = "<div id=\"intermediaryIntroduction-error\" class=\"help-block\">必选字段</div>" ;
                        $("#intermediaryIntroduction").parents(".introduction").append(div);
                        $("#intermediaryIntroduction").parents(".form-group").addClass("has-error");
                    }else{

                        $("#intermediaryIntroduction").parents(".form-group").removeClass("has-error");
                        $("#intermediaryIntroduction-error").remove();
                    }

                });



            }
        });
        $(document).bind("click",function(e){
            onBodyDown(e) ;
            if(!(e.target.id == 'add' || e.target.id =='ztreeContain' || e.target.className == 'ztreeName' ||
                $(event.target).parents("#ztreeContain").length>0)){
                vue1.$data.ztreeFlag = false
            }
        });
        $(document).on("click",".search-list >li",function(){
            $(".tree-div-contain").hide();
            $("#areaId").val($(this).text()).attr("data-id",
                $(this).attr("data-id"));
            $("#treeDemo").show();
            $(".search-list").hide();
            var text = $(this).text();
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            var nodes = treeObj.transformToArray(treeObj.getNodes());
            $(".limit-style").val("");
            $("#areaId").parent().next().remove();
            $("#areaId").parents(".form-group").removeClass("has-error");
            nodes.forEach(function(item,i){
                if(nodes[i].name == text){
                    treeObj.selectNode(nodes[i]);
                }
            });
        });
        $("button[type=reset]").click(function(){
            $("#responseUrl,#companyBussniess").val("");
            $("#imgInter,#imgCompany").attr("src","");
            CKEDITOR.instances.editor1.setData("");
        });

        setTimeout(function(){
            $(".webuploader-pick").css("display","inline-block");
            $(".select-img").css({
                position:"relative"
            });
            $(".select-img").find(".webuploader-pick").next().css({
                position: "absolute",
                left:0,
                top:0,
                opacity: 0
            })
        }, 30);


        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: contextPath + '/dist/js/Uploader.swf',

            // 文件接收服务端。
            server: contextPath+'upload',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            /*accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/!*'
            },*/


        });

        uploader.on( 'uploadSuccess', function( file,response ) {
            console.log(response.content.path);
            $("#responseUrl").val(response.content.path);
            $("#responseUrl").parent().next().remove();
            $("#responseUrl").parents(".form-group").removeClass("has-error")
        });

        uploader.on( 'fileQueued', function( file ) {
            var $li = $('<img src="" id="imgInter" style="width: 100%">');
            $("#fileList").html($li);
            uploader.makeThumb(file, function (error, src) {
                $("#imgInter").attr("src",src);
            });
        });

        var uploader1 = WebUploader.create({
            auto: true,
            swf: contextPath + '/dist/js/Uploader.swf',
            server: contextPath+'upload',
            pick: '#companyYy'
        });
        uploader1.on( 'uploadSuccess', function( file,response ) {
            $("#companyBussniess").val(response.content.path);
            $("#companyBussniess").parent().next().remove();
            $("#companyBussniess").parents(".form-group").removeClass("has-error")
        });
        uploader1.on( 'fileQueued', function( file ) {
            uploader1.makeThumb(file, function (error, src) {
                $("#imgCompany").attr("src",src);
            });
        });
    })
</script>
</body>
</html>