<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.fc.deviceLog.dao.DeviceLogMapper" >
  <resultMap id="BaseResultMap" type="com.we.fc.deviceLog.entity.DeviceLog" >
    <id column="device_log_id" property="id" jdbcType="INTEGER" />
    <result column="device_production_num" property="deviceProductionNum" jdbcType="VARCHAR" />
    <result column="operate_command" property="operateCommand" jdbcType="VARCHAR" />
    <result column="operate_command_desc" property="operateCommandDesc" jdbcType="VARCHAR" />
    <result column="device_log_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="device_log_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <association property="user" javaType="com.we.fc.user.entity.DingtalkUser">
      <id property="id" column="userid"></id>
      <result property="name" column="name"></result>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from device_log
    where device_log_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fc.deviceLog.entity.DeviceLog" >
    insert into device_log (device_production_num,
      operate_command, operate_command_desc, user_id
      )
    values (
    #{deviceProductionNum,jdbcType=VARCHAR},
      #{operateCommand,jdbcType=VARCHAR},
      #{operateCommandDesc,jdbcType=VARCHAR},
      #{user.id,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.we.fc.deviceLog.entity.DeviceLog" >
    update device_log
    set device_production_num = #{deviceProductionNum,jdbcType=VARCHAR},
      operate_command = #{operateCommand,jdbcType=VARCHAR},
      operate_command_desc = #{operateCommandDesc,jdbcType=VARCHAR},
      user_id = #{user.id,jdbcType=INTEGER}
    where device_log_id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select d.*,u.userid,u.name
    from device_log d
    LEFT JOIN dingtalk_user u
    ON d.user_id = u.userid
    where device_log_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select d.*,u.userid,u.name
    from device_log d
    LEFT JOIN dingtalk_user u
    ON d.user_id = u.userid
    WHERE DATE_FORMAT(d.device_log_create_time,'%Y-%m-%d') = #{createTimeStr}
  </select>
</mapper>