<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.fc.dept.dao.DingtalkDeptMapper" >
  <resultMap id="BaseResultMap" type="com.we.fc.dept.entity.DingtalkDept" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="createDeptGroup" property="createdeptgroup" jdbcType="BIT" />
    <result column="deptHiding" property="depthiding" jdbcType="BIT" />
    <result column="deptPerimits" property="deptperimits" jdbcType="VARCHAR" />
    <result column="userPerimits" property="userperimits" jdbcType="VARCHAR" />
    <result column="outerDept" property="outerdept" jdbcType="BIT" />
    <result column="outerPermitUsers" property="outerpermitusers" jdbcType="VARCHAR" />
    <result column="sourceIdentifier" property="sourceidentifier" jdbcType="VARCHAR" />
    <result column="intermediary_id" property="intermediaryId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dingtalk_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fc.dept.entity.DingtalkDept" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dingtalk_dept (`name`, parentid, `order`, 
      createDeptGroup, deptHiding, deptPerimits, 
      userPerimits, outerDept, outerPermitUsers, 
      sourceIdentifier, intermediary_id)
    values (#{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, #{order,jdbcType=INTEGER}, 
      #{createdeptgroup,jdbcType=BIT}, #{depthiding,jdbcType=BIT}, #{deptperimits,jdbcType=VARCHAR}, 
      #{userperimits,jdbcType=VARCHAR}, #{outerdept,jdbcType=BIT}, #{outerpermitusers,jdbcType=VARCHAR}, 
      #{sourceidentifier,jdbcType=VARCHAR}, #{intermediaryId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.we.fc.dept.entity.DingtalkDept" >
    update dingtalk_dept
    set `name` = #{name,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      `order` = #{order,jdbcType=INTEGER},
      createDeptGroup = #{createdeptgroup,jdbcType=BIT},
      deptHiding = #{depthiding,jdbcType=BIT},
      deptPerimits = #{deptperimits,jdbcType=VARCHAR},
      userPerimits = #{userperimits,jdbcType=VARCHAR},
      outerDept = #{outerdept,jdbcType=BIT},
      outerPermitUsers = #{outerpermitusers,jdbcType=VARCHAR},
      sourceIdentifier = #{sourceidentifier,jdbcType=VARCHAR},
      intermediary_id = #{intermediaryId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, `name`, parentid, `order`, createDeptGroup, deptHiding, deptPerimits, 
    userPerimits, outerDept, outerPermitUsers, sourceIdentifier, intermediary_id, create_time, 
    update_time
    from dingtalk_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `name`, parentid, `order`, createDeptGroup, deptHiding, deptPerimits, 
    userPerimits, outerDept, outerPermitUsers, sourceIdentifier, intermediary_id, create_time, 
    update_time
    from dingtalk_dept
  </select>

  <select id="findByParentId" resultMap="BaseResultMap" >
    select id, `name`, parentid, `order`, createDeptGroup, deptHiding, deptPerimits,
    userPerimits, outerDept, outerPermitUsers, sourceIdentifier, intermediary_id, create_time,
    update_time
    from dingtalk_dept WHERE parentid=#{id,jdbcType=INTEGER}
  </select>
</mapper>