<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianpanmao.sys.dao.DingtalkDeptMapper">
  <resultMap id="BaseResultMap" type="com.jianpanmao.sys.entity.DingtalkDept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="createDeptGroup" jdbcType="BIT" property="createdeptgroup" />
    <result column="deptHiding" jdbcType="BIT" property="depthiding" />
    <result column="deptPerimits" jdbcType="VARCHAR" property="deptperimits" />
    <result column="userPerimits" jdbcType="VARCHAR" property="userperimits" />
    <result column="outerDept" jdbcType="BIT" property="outerdept" />
    <result column="outerPermitUsers" jdbcType="VARCHAR" property="outerpermitusers" />
    <result column="sourceIdentifier" jdbcType="VARCHAR" property="sourceidentifier" />
    <result column="intermediary_id" jdbcType="INTEGER" property="intermediaryId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `name`, parentid, `order`, createDeptGroup, deptHiding, deptPerimits, userPerimits, 
    outerDept, outerPermitUsers, sourceIdentifier, intermediary_id, create_time, update_time, 
    `path`
  </sql>
  <select id="selectByExample" parameterType="com.jianpanmao.sys.entity.DingtalkDeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dingtalk_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dingtalk_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dingtalk_dept
    where id =#{id,jdbcType=INTEGER} or path LIKE concat('%',#{id,jdbcType=INTEGER},'%');
  </delete>
  <delete id="deleteByExample" parameterType="com.jianpanmao.sys.entity.DingtalkDeptExample">
    delete from dingtalk_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jianpanmao.sys.entity.DingtalkDept">
    insert into dingtalk_dept (id, `name`, parentid, createDeptGroup, deptHiding,
      deptPerimits, userPerimits, outerDept, 
      outerPermitUsers, sourceIdentifier, intermediary_id, `path`
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, #{createdeptgroup,jdbcType=BIT}, #{depthiding,jdbcType=BIT},
      #{deptperimits,jdbcType=VARCHAR}, #{userperimits,jdbcType=VARCHAR}, #{outerdept,jdbcType=BIT}, 
      #{outerpermitusers,jdbcType=VARCHAR}, #{sourceidentifier,jdbcType=VARCHAR}, #{intermediaryId,jdbcType=INTEGER},#{path,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jianpanmao.sys.entity.DingtalkDept">
    insert into dingtalk_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="order != null">
        `order`,
      </if>
      <if test="createdeptgroup != null">
        createDeptGroup,
      </if>
      <if test="depthiding != null">
        deptHiding,
      </if>
      <if test="deptperimits != null">
        deptPerimits,
      </if>
      <if test="userperimits != null">
        userPerimits,
      </if>
      <if test="outerdept != null">
        outerDept,
      </if>
      <if test="outerpermitusers != null">
        outerPermitUsers,
      </if>
      <if test="sourceidentifier != null">
        sourceIdentifier,
      </if>
      <if test="intermediaryId != null">
        intermediary_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="path != null">
        `path`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="createdeptgroup != null">
        #{createdeptgroup,jdbcType=BIT},
      </if>
      <if test="depthiding != null">
        #{depthiding,jdbcType=BIT},
      </if>
      <if test="deptperimits != null">
        #{deptperimits,jdbcType=VARCHAR},
      </if>
      <if test="userperimits != null">
        #{userperimits,jdbcType=VARCHAR},
      </if>
      <if test="outerdept != null">
        #{outerdept,jdbcType=BIT},
      </if>
      <if test="outerpermitusers != null">
        #{outerpermitusers,jdbcType=VARCHAR},
      </if>
      <if test="sourceidentifier != null">
        #{sourceidentifier,jdbcType=VARCHAR},
      </if>
      <if test="intermediaryId != null">
        #{intermediaryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jianpanmao.sys.entity.DingtalkDeptExample" resultType="java.lang.Long">
    select count(*) from dingtalk_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dingtalk_dept
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null">
        parentid = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.order != null">
        `order` = #{record.order,jdbcType=INTEGER},
      </if>
      <if test="record.createdeptgroup != null">
        createDeptGroup = #{record.createdeptgroup,jdbcType=BIT},
      </if>
      <if test="record.depthiding != null">
        deptHiding = #{record.depthiding,jdbcType=BIT},
      </if>
      <if test="record.deptperimits != null">
        deptPerimits = #{record.deptperimits,jdbcType=VARCHAR},
      </if>
      <if test="record.userperimits != null">
        userPerimits = #{record.userperimits,jdbcType=VARCHAR},
      </if>
      <if test="record.outerdept != null">
        outerDept = #{record.outerdept,jdbcType=BIT},
      </if>
      <if test="record.outerpermitusers != null">
        outerPermitUsers = #{record.outerpermitusers,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceidentifier != null">
        sourceIdentifier = #{record.sourceidentifier,jdbcType=VARCHAR},
      </if>
      <if test="record.intermediaryId != null">
        intermediary_id = #{record.intermediaryId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.path != null">
        `path` = #{record.path,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dingtalk_dept
    set id = #{record.id,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      parentid = #{record.parentid,jdbcType=INTEGER},
      `order` = #{record.order,jdbcType=INTEGER},
      createDeptGroup = #{record.createdeptgroup,jdbcType=BIT},
      deptHiding = #{record.depthiding,jdbcType=BIT},
      deptPerimits = #{record.deptperimits,jdbcType=VARCHAR},
      userPerimits = #{record.userperimits,jdbcType=VARCHAR},
      outerDept = #{record.outerdept,jdbcType=BIT},
      outerPermitUsers = #{record.outerpermitusers,jdbcType=VARCHAR},
      sourceIdentifier = #{record.sourceidentifier,jdbcType=VARCHAR},
      intermediary_id = #{record.intermediaryId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      `path` = #{record.path,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianpanmao.sys.entity.DingtalkDept">
    update dingtalk_dept
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        `order` = #{order,jdbcType=INTEGER},
      </if>
      <if test="createdeptgroup != null">
        createDeptGroup = #{createdeptgroup,jdbcType=BIT},
      </if>
      <if test="depthiding != null">
        deptHiding = #{depthiding,jdbcType=BIT},
      </if>
      <if test="deptperimits != null">
        deptPerimits = #{deptperimits,jdbcType=VARCHAR},
      </if>
      <if test="userperimits != null">
        userPerimits = #{userperimits,jdbcType=VARCHAR},
      </if>
      <if test="outerdept != null">
        outerDept = #{outerdept,jdbcType=BIT},
      </if>
      <if test="outerpermitusers != null">
        outerPermitUsers = #{outerpermitusers,jdbcType=VARCHAR},
      </if>
      <if test="sourceidentifier != null">
        sourceIdentifier = #{sourceidentifier,jdbcType=VARCHAR},
      </if>
      <if test="intermediaryId != null">
        intermediary_id = #{intermediaryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianpanmao.sys.entity.DingtalkDept">
    update dingtalk_dept
    set `name` = #{name,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      createDeptGroup = #{createdeptgroup,jdbcType=BIT},
      deptHiding = #{depthiding,jdbcType=BIT},
      deptPerimits = #{deptperimits,jdbcType=VARCHAR},
      userPerimits = #{userperimits,jdbcType=VARCHAR},
      outerDept = #{outerdept,jdbcType=BIT},
      outerPermitUsers = #{outerpermitusers,jdbcType=VARCHAR},
      sourceIdentifier = #{sourceidentifier,jdbcType=VARCHAR},
      intermediary_id = #{intermediaryId,jdbcType=INTEGER},
      `path` = #{path,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" parameterType="com.jianpanmao.sys.entity.DingtalkDept" resultMap="BaseResultMap">
    select * from dingtalk_dept WHERE intermediary_id=#{intermediaryId}
  </select>
  <delete id="deleteBatch" parameterType="java.util.ArrayList">
    delete from dingtalk_dept
    where id in
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
              #{item}
    </foreach>
  </delete>
  <select id="selectByDto" parameterType="com.jianpanmao.sys.dto.DingtalkDeptDto" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from dingtalk_dept where 1=1
    <if test="id!=null">
      and id=#{id}
    </if>
    <if test="name!=null and '' neq name">
      and name=#{name}
    </if>
    <if test="parentid!=null">
      and parentid=#{parentid}
    </if>
    <if test="order!=null">
      and order=#{order}
    </if>
    <if test="createdeptgroup!=null">
      and createDeptGroup=#{createdeptgroup}
    </if>
    <if test="depthiding!=null">
      and deptHiding=#{depthiding}
    </if>
    <if test="deptperimits!=null and '' neq deptperimits">
      and deptPerimits=#{deptperimits}
    </if>
    <if test="userperimits!=null and '' neq userperimits">
      and userPerimits=#{userperimits}
    </if>
    <if test="outerdept!=null">
      and outerDept=#{outerdept}
    </if>
    <if test="outerpermitusers!=null and '' neq outerpermitusers">
      and outerPermitUsers=#{outerpermitusers}
    </if>
    <if test="sourceidentifier!=null and '' neq sourceidentifier">
      and sourceIdentifier=#{sourceidentifier}
    </if>
    <if test="intermediaryId!=null">
      and intermediary_id=#{intermediaryId}
    </if>
    <if test="createTime!=null">
      and create_time=#{createTime}
    </if>
    <if test="updateTime!=null">
      and update_time=#{updateTime}
    </if>
    <if test="path!=null and '' neq path">
      and path=#{path}
    </if>
    <if test="od!=null and od neq ''">
      order by ${od}
    </if>
  </select>


  <select id="selectByPath" parameterType="com.jianpanmao.sys.entity.DingtalkDept" resultMap="BaseResultMap">
    SELECT * FROM dingtalk_dept m where m.path LIKE concat('%',#{path},'%')
  </select>


  <update id="updatePath">
    UPDATE dingtalk_dept SET
    path = #{path}
    WHERE id = #{id}
  </update>


</mapper>