<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianpanmao.notice.dao.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.jianpanmao.notice.entity.Notice">
    <id column="notice_id" jdbcType="INTEGER" property="noticeId" />
    <result column="notice_ischeck" jdbcType="INTEGER" property="noticeIscheck" />
    <result column="notice_createTime" jdbcType="TIMESTAMP" property="noticeCreateTime" />
    <result column="notice_updateTime" jdbcType="TIMESTAMP" property="noticeUpdateTime" />
    <association property="noticeBeUser" javaType="com.jianpanmao.sys.entity.DingtalkUser">
      <id property="userid" column="notice_be_userid"></id>
      <result property="name" column="bename"></result>
    </association>
    <association property="noticeUser" javaType="com.jianpanmao.sys.entity.DingtalkUser">
      <id property="userid" column="notice_userid"></id>
      <result property="name" column="name"></result>
    </association>
    <association property="noticeBeComments" javaType="com.jianpanmao.projectComments.entity.ProjectComments">
      <id property="projectCommentsId" column="notice_be_comments"></id>
      <result property="projectCommentsContent" column="be_commentsContent"></result>
    </association>
    <association property="noticeComments" javaType="com.jianpanmao.projectComments.entity.ProjectComments">
      <id property="projectCommentsId" column="notice_comments"></id>
      <result property="projectCommentsContent" column="commentsContent"></result>
    </association>
    <association property="project" javaType="com.jianpanmao.project.entity.Project">
      <id property="projectId" column="notice_be_project"></id>
      <result property="projectName" column="project_name"></result>
    </association>
</resultMap>

  <insert id="add" parameterType="com.jianpanmao.notice.entity.Notice">
     insert into notice (
     notice_be_userid,
     notice_userid,
     notice_be_comments,
     notice_be_project,
     notice_comments,
     notice_ischeck)
    values (
    #{noticeBeUser.userid,jdbcType=INTEGER},
    #{noticeUser.userid,jdbcType=INTEGER},
    #{noticeBeComments.projectCommentsId,jdbcType=INTEGER},
    #{project.projectId,jdbcType=INTEGER},
    #{noticeComments.projectCommentsId,jdbcType=INTEGER},
    #{noticeIscheck,jdbcType=INTEGER}
   )
  </insert>

  <select id="select" resultMap="BaseResultMap">
    SELECT n.* ,noticeUser.name,noticeComments.project_comments_content commentsContent
    FROM notice n LEFT JOIN dingtalk_user noticeUser
    ON n.notice_userid = noticeUser.userid
    LEFT JOIN project_comments noticeComments
    ON n.notice_comments = noticeComments.project_comments_id
     WHERE n.notice_be_userid = #{0} and n.notice_ischeck = 0
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM notice n
     WHERE n.notice_be_userid = #{0} and n.notice_ischeck = 0
  </select>

  <update id="check">
UPDATE notice SET notice_ischeck = 1 WHERE notice_id = #{0}
  </update>
</mapper>