<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianpanmao.project.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.jianpanmao.project.entity.Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_owner_contact" property="projectOwnerContact" jdbcType="VARCHAR" />
    <result column="project_owner_contact_tel" property="projectOwnerContactTel" jdbcType="VARCHAR" />
    <result column="project_status" property="projectStatus" jdbcType="TINYINT" />
    <result column="project_create_time" property="projectCreateTime" jdbcType="TIMESTAMP" />
    <result column="project_update_time" property="projectUpdateTime" jdbcType="TIMESTAMP" />
    <result column="project_logo" property="projectLogo" jdbcType="VARCHAR"/>
    <result column="project_topic_status" property="projectTopicStatus" jdbcType="TINYINT"/>
    <association property="area" javaType="com.jianpanmao.area.entity.Area">
      <id column="id" property="id"></id>
      <result column="aname" property="name"></result>
    </association>
    <association property="projectContactUser" javaType="com.jianpanmao.sys.entity.DingtalkUser">
      <id column="contactuserid" property="userid"></id>
      <result column="contactname" property="name"></result>
    </association>
    <association property="projectCreateUser" javaType="com.jianpanmao.sys.entity.DingtalkUser">
      <id column="createuserid" property="userid"></id>
      <result column="createusername" property="name"></result>
    </association>
  </resultMap>


  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    project_id, project_name, area_id, project_contact_user_id, project_create_user_id, 
    project_owner_contact, project_owner_contact_tel, project_status, project_create_time, 
    project_update_time, project_logo, project_topic_status
  </sql>
  <select id="selectByExample" parameterType="com.jianpanmao.project.entity.ProjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jianpanmao.project.entity.ProjectExample">
    delete from project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jianpanmao.project.entity.Project">
    insert into project ( project_name,
      area_id,
      project_contact_user_id,
      project_create_user_id,
      project_owner_contact,
      project_owner_contact_tel,
      project_status,
      project_topic_status,
      project_logo
      )
    values (
      #{projectName,jdbcType=VARCHAR},
      #{area.id,jdbcType=INTEGER},
      #{projectContactUser.userid,jdbcType=INTEGER},
      #{projectCreateUser.userid,jdbcType=INTEGER},
      #{projectOwnerContact,jdbcType=VARCHAR},
      #{projectOwnerContactTel,jdbcType=VARCHAR},
      #{projectStatus,jdbcType=TINYINT},
    #{projectTopicStatus,jdbcType=TINYINT},
    #{projectLogo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jianpanmao.project.entity.Project">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="projectContactUserId != null">
        project_contact_user_id,
      </if>
      <if test="projectCreateUserId != null">
        project_create_user_id,
      </if>
      <if test="projectOwnerContact != null">
        project_owner_contact,
      </if>
      <if test="projectOwnerContactTel != null">
        project_owner_contact_tel,
      </if>
      <if test="projectStatus != null">
        project_status,
      </if>
      <if test="projectCreateTime != null">
        project_create_time,
      </if>
      <if test="projectUpdateTime != null">
        project_update_time,
      </if>
      <if test="projectLogo != null">
        project_logo,
      </if>
      <if test="projectTopicStatus != null">
        project_topic_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="projectContactUserId != null">
        #{projectContactUserId,jdbcType=INTEGER},
      </if>
      <if test="projectCreateUserId != null">
        #{projectCreateUserId,jdbcType=INTEGER},
      </if>
      <if test="projectOwnerContact != null">
        #{projectOwnerContact,jdbcType=VARCHAR},
      </if>
      <if test="projectOwnerContactTel != null">
        #{projectOwnerContactTel,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null">
        #{projectStatus,jdbcType=TINYINT},
      </if>
      <if test="projectCreateTime != null">
        #{projectCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectUpdateTime != null">
        #{projectUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectLogo != null">
        #{projectLogo,jdbcType=VARCHAR},
      </if>
      <if test="projectTopicStatus != null">
        #{projectTopicStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jianpanmao.project.entity.ProjectExample" resultType="java.lang.Long">
    select count(*) from project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update project
    <set>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.projectName != null">
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null">
        area_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.projectContactUserId != null">
        project_contact_user_id = #{record.projectContactUserId,jdbcType=INTEGER},
      </if>
      <if test="record.projectCreateUserId != null">
        project_create_user_id = #{record.projectCreateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.projectOwnerContact != null">
        project_owner_contact = #{record.projectOwnerContact,jdbcType=VARCHAR},
      </if>
      <if test="record.projectOwnerContactTel != null">
        project_owner_contact_tel = #{record.projectOwnerContactTel,jdbcType=VARCHAR},
      </if>
      <if test="record.projectStatus != null">
        project_status = #{record.projectStatus,jdbcType=TINYINT},
      </if>
      <if test="record.projectCreateTime != null">
        project_create_time = #{record.projectCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.projectUpdateTime != null">
        project_update_time = #{record.projectUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.projectLogo != null">
        project_logo = #{record.projectLogo,jdbcType=VARCHAR},
      </if>
      <if test="record.projectTopicStatus != null">
        project_topic_status = #{record.projectTopicStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update project
    set project_id = #{record.projectId,jdbcType=INTEGER},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      area_id = #{record.areaId,jdbcType=INTEGER},
      project_contact_user_id = #{record.projectContactUserId,jdbcType=INTEGER},
      project_create_user_id = #{record.projectCreateUserId,jdbcType=INTEGER},
      project_owner_contact = #{record.projectOwnerContact,jdbcType=VARCHAR},
      project_owner_contact_tel = #{record.projectOwnerContactTel,jdbcType=VARCHAR},
      project_status = #{record.projectStatus,jdbcType=TINYINT},
      project_create_time = #{record.projectCreateTime,jdbcType=TIMESTAMP},
      project_update_time = #{record.projectUpdateTime,jdbcType=TIMESTAMP},
      project_logo = #{record.projectLogo,jdbcType=VARCHAR},
      project_topic_status = #{record.projectTopicStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianpanmao.project.entity.Project">
    update project
    <set>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="projectContactUserId != null">
        project_contact_user_id = #{projectContactUserId,jdbcType=INTEGER},
      </if>
      <if test="projectCreateUserId != null">
        project_create_user_id = #{projectCreateUserId,jdbcType=INTEGER},
      </if>
      <if test="projectOwnerContact != null">
        project_owner_contact = #{projectOwnerContact,jdbcType=VARCHAR},
      </if>
      <if test="projectOwnerContactTel != null">
        project_owner_contact_tel = #{projectOwnerContactTel,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null">
        project_status = #{projectStatus,jdbcType=TINYINT},
      </if>
      <if test="projectCreateTime != null">
        project_create_time = #{projectCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectUpdateTime != null">
        project_update_time = #{projectUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectLogo != null">
        project_logo = #{projectLogo,jdbcType=VARCHAR},
      </if>
      <if test="projectTopicStatus != null">
        project_topic_status = #{projectTopicStatus,jdbcType=TINYINT},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianpanmao.project.entity.Project">
    update project
    set project_name = #{projectName,jdbcType=VARCHAR},
      area_id = #{area.id,jdbcType=INTEGER},
      project_contact_user_id = #{projectContactUser.userid,jdbcType=INTEGER},
      project_owner_contact = #{projectOwnerContact,jdbcType=VARCHAR},
      project_owner_contact_tel = #{projectOwnerContactTel,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" parameterType="com.jianpanmao.project.entity.Project" resultMap="BaseResultMap">
    select * from project
  </select>
  <delete id="deleteBatch" parameterType="java.util.ArrayList">
    delete from project
    where project_id in
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
              #{item}
    </foreach>
  </delete>
  <select id="selectByDto" parameterType="com.jianpanmao.project.dto.ProjectDto" resultMap="BaseResultMap">
    select
    p.*,area.ID,area.NAME aname,
    projectContactUser.userid contactuserid,projectContactUser.name contactname,
    projectCreateUser.userid createuserid,projectCreateUser.name createusername
    from project p
    LEFT JOIN area area ON p.area_id = area.ID
    LEFT JOIN dingtalk_user projectContactUser ON p.project_contact_user_id = projectContactUser.userid
    LEFT JOIN dingtalk_user projectCreateUser ON p.project_create_user_id = projectCreateUser.userid
    WHERE p.project_status = #{projectStatus}
    <if test="projectName != null"> and p.project_name  LIKE CONCAT('%',#{projectName},'%')</if>
    <if test="projectContactUser !=null and projectContactUser.name!=null"> and projectContactUser.name LIKE  CONCAT('%',#{projectContactUser.name},'%')</if>
    <if test="projectOwnerContact!=null and projectOwnerContact!=null"> and p.project_owner_contact LIKE CONCAT('%',#{projectOwnerContact},'%')</if>
    <if test="projectOwnerContactTel!=null and projectOwnerContactTel!=null"> and p.project_owner_contact_tel LIKE CONCAT('%',#{projectOwnerContactTel},'%')</if>
  </select>

  <select id="selectByIdStatus" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    p.*,area.ID,area.NAME aname,
    projectContactUser.userid contactuserid,projectContactUser.name contactname,
    projectCreateUser.userid createuserid,projectCreateUser.name createusername
    from project p
    LEFT JOIN area area ON p.area_id = area.ID
    LEFT JOIN dingtalk_user projectContactUser ON p.project_contact_user_id = projectContactUser.userid
    LEFT JOIN dingtalk_user projectCreateUser ON p.project_create_user_id = projectCreateUser.userid
    where p.project_id = #{id,jdbcType=INTEGER}
    and p.project_status = #{statusId,jdbcType=TINYINT}
  </select>
</mapper>