<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.fc.projectComments.dao.ProjectCommentsMapper" >
  <resultMap id="BaseResultMap" type="com.we.fc.projectComments.entity.ProjectComments" >
    <id column="project_comments_id" property="id" jdbcType="INTEGER" />
    <result column="project_comments_parent" property="projectCommentsParent" jdbcType="INTEGER" />
    <result column="project_comments_nickname" property="projectCommentsNickname" jdbcType="VARCHAR" />
    <result column="project_comments_type" property="projectCommentsType" jdbcType="TINYINT" />
    <result column="project_comments_status" property="projectCommentsStatus" jdbcType="TINYINT" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="project_comments_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="project_comments_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="project_comments_content" property="projectCommentsContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_comments
    where project_comments_id = #{projectCommentsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fc.projectComments.entity.ProjectComments" >
    insert into project_comments (project_comments_id, project_comments_parent, 
      project_comments_nickname, project_comments_type, 
      project_comments_status, project_id, project_comments_create_time, 
      project_comments_update_time, project_comments_content
      )
    values (#{projectCommentsId,jdbcType=INTEGER}, #{projectCommentsParent,jdbcType=INTEGER}, 
      #{projectCommentsNickname,jdbcType=VARCHAR}, #{projectCommentsType,jdbcType=TINYINT}, 
      #{projectCommentsStatus,jdbcType=TINYINT}, #{projectId,jdbcType=INTEGER}, #{projectCommentsCreateTime,jdbcType=TIMESTAMP}, 
      #{projectCommentsUpdateTime,jdbcType=TIMESTAMP}, #{projectCommentsContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.we.fc.projectComments.entity.ProjectComments" >
    update project_comments
    set project_comments_parent = #{projectCommentsParent,jdbcType=INTEGER},
      project_comments_nickname = #{projectCommentsNickname,jdbcType=VARCHAR},
      project_comments_type = #{projectCommentsType,jdbcType=TINYINT},
      project_comments_status = #{projectCommentsStatus,jdbcType=TINYINT},
      project_id = #{projectId,jdbcType=INTEGER},
      project_comments_create_time = #{projectCommentsCreateTime,jdbcType=TIMESTAMP},
      project_comments_update_time = #{projectCommentsUpdateTime,jdbcType=TIMESTAMP},
      project_comments_content = #{projectCommentsContent,jdbcType=LONGVARCHAR}
    where project_comments_id = #{projectCommentsId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select project_comments_id, project_comments_parent, project_comments_nickname, project_comments_type, 
    project_comments_status, project_id, project_comments_create_time, project_comments_update_time, 
    project_comments_content
    from project_comments
    where project_comments_id = #{projectCommentsId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select project_comments_id, project_comments_parent, project_comments_nickname, project_comments_type, 
    project_comments_status, project_id, project_comments_create_time, project_comments_update_time, 
    project_comments_content
    from project_comments
  </select>
</mapper>