<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianpanmao.wxmaterial.dao.WxMaterialMapper">
  <resultMap id="BaseResultMap" type="com.jianpanmao.wxmaterial.entity.WxMaterial">
    <id column="material_id" jdbcType="INTEGER" property="materialId" />
    <result column="material_media_id" jdbcType="VARCHAR" property="materialMediaId" />
    <result column="material_type" jdbcType="VARCHAR" property="materialType" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="material_update_time" jdbcType="TIMESTAMP" property="materialUpdateTime" />
    <result column="material_url" jdbcType="VARCHAR" property="materialUrl" />
    <result column="material_title" jdbcType="VARCHAR" property="materialTitle" />
    <result column="material_author" jdbcType="VARCHAR" property="materialAuthor" />
    <result column="material_content_source_url" jdbcType="VARCHAR" property="materialContentSourceUrl" />
    <result column="material_thumb_media_id" jdbcType="VARCHAR" property="materialThumbMediaId" />
    <result column="material_show_cover_pic" jdbcType="INTEGER" property="materialShowCoverPic" />
    <result column="material_thumb_url" jdbcType="VARCHAR" property="materialThumbUrl" />
    <result column="material_need_open_comment" jdbcType="INTEGER" property="materialNeedOpenComment" />
    <result column="material_only_fans_can_comment" jdbcType="INTEGER" property="materialOnlyFansCanComment" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jianpanmao.wxmaterial.entity.WxMaterial">
    <result column="material_digest" jdbcType="LONGVARCHAR" property="materialDigest" />
    <result column="material_content" jdbcType="LONGVARCHAR" property="materialContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    material_id, material_media_id, material_type, material_name, material_update_time, 
    material_url, material_title, material_author, material_content_source_url, material_thumb_media_id, 
    material_show_cover_pic, material_thumb_url, material_need_open_comment, material_only_fans_can_comment
  </sql>
  <sql id="Blob_Column_List">
    material_digest, material_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterialExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterialExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_material
    where material_id = #{materialId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wx_material
    where material_id = #{materialId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterialExample">
    delete from wx_material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterial">
    insert into wx_material (material_id, material_media_id, material_type, 
      material_name, material_update_time, material_url, 
      material_title, material_author, material_content_source_url, 
      material_thumb_media_id, material_show_cover_pic, 
      material_thumb_url, material_need_open_comment, 
      material_only_fans_can_comment, material_digest, 
      material_content)
    values (#{materialId,jdbcType=INTEGER}, #{materialMediaId,jdbcType=VARCHAR}, #{materialType,jdbcType=VARCHAR}, 
      #{materialName,jdbcType=VARCHAR}, #{materialUpdateTime,jdbcType=TIMESTAMP}, #{materialUrl,jdbcType=VARCHAR}, 
      #{materialTitle,jdbcType=VARCHAR}, #{materialAuthor,jdbcType=VARCHAR}, #{materialContentSourceUrl,jdbcType=VARCHAR}, 
      #{materialThumbMediaId,jdbcType=VARCHAR}, #{materialShowCoverPic,jdbcType=INTEGER}, 
      #{materialThumbUrl,jdbcType=VARCHAR}, #{materialNeedOpenComment,jdbcType=INTEGER}, 
      #{materialOnlyFansCanComment,jdbcType=INTEGER}, #{materialDigest,jdbcType=LONGVARCHAR}, 
      #{materialContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterial">
    insert into wx_material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="materialId != null">
        material_id,
      </if>
      <if test="materialMediaId != null">
        material_media_id,
      </if>
      <if test="materialType != null">
        material_type,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialUpdateTime != null">
        material_update_time,
      </if>
      <if test="materialUrl != null">
        material_url,
      </if>
      <if test="materialTitle != null">
        material_title,
      </if>
      <if test="materialAuthor != null">
        material_author,
      </if>
      <if test="materialContentSourceUrl != null">
        material_content_source_url,
      </if>
      <if test="materialThumbMediaId != null">
        material_thumb_media_id,
      </if>
      <if test="materialShowCoverPic != null">
        material_show_cover_pic,
      </if>
      <if test="materialThumbUrl != null">
        material_thumb_url,
      </if>
      <if test="materialNeedOpenComment != null">
        material_need_open_comment,
      </if>
      <if test="materialOnlyFansCanComment != null">
        material_only_fans_can_comment,
      </if>
      <if test="materialDigest != null">
        material_digest,
      </if>
      <if test="materialContent != null">
        material_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="materialId != null">
        #{materialId,jdbcType=INTEGER},
      </if>
      <if test="materialMediaId != null">
        #{materialMediaId,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialUpdateTime != null">
        #{materialUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="materialUrl != null">
        #{materialUrl,jdbcType=VARCHAR},
      </if>
      <if test="materialTitle != null">
        #{materialTitle,jdbcType=VARCHAR},
      </if>
      <if test="materialAuthor != null">
        #{materialAuthor,jdbcType=VARCHAR},
      </if>
      <if test="materialContentSourceUrl != null">
        #{materialContentSourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="materialThumbMediaId != null">
        #{materialThumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="materialShowCoverPic != null">
        #{materialShowCoverPic,jdbcType=INTEGER},
      </if>
      <if test="materialThumbUrl != null">
        #{materialThumbUrl,jdbcType=VARCHAR},
      </if>
      <if test="materialNeedOpenComment != null">
        #{materialNeedOpenComment,jdbcType=INTEGER},
      </if>
      <if test="materialOnlyFansCanComment != null">
        #{materialOnlyFansCanComment,jdbcType=INTEGER},
      </if>
      <if test="materialDigest != null">
        #{materialDigest,jdbcType=LONGVARCHAR},
      </if>
      <if test="materialContent != null">
        #{materialContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterialExample" resultType="java.lang.Long">
    select count(*) from wx_material
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wx_material
    <set>
      <if test="record.materialId != null">
        material_id = #{record.materialId,jdbcType=INTEGER},
      </if>
      <if test="record.materialMediaId != null">
        material_media_id = #{record.materialMediaId,jdbcType=VARCHAR},
      </if>
      <if test="record.materialType != null">
        material_type = #{record.materialType,jdbcType=VARCHAR},
      </if>
      <if test="record.materialName != null">
        material_name = #{record.materialName,jdbcType=VARCHAR},
      </if>
      <if test="record.materialUpdateTime != null">
        material_update_time = #{record.materialUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.materialUrl != null">
        material_url = #{record.materialUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.materialTitle != null">
        material_title = #{record.materialTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.materialAuthor != null">
        material_author = #{record.materialAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.materialContentSourceUrl != null">
        material_content_source_url = #{record.materialContentSourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.materialThumbMediaId != null">
        material_thumb_media_id = #{record.materialThumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="record.materialShowCoverPic != null">
        material_show_cover_pic = #{record.materialShowCoverPic,jdbcType=INTEGER},
      </if>
      <if test="record.materialThumbUrl != null">
        material_thumb_url = #{record.materialThumbUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.materialNeedOpenComment != null">
        material_need_open_comment = #{record.materialNeedOpenComment,jdbcType=INTEGER},
      </if>
      <if test="record.materialOnlyFansCanComment != null">
        material_only_fans_can_comment = #{record.materialOnlyFansCanComment,jdbcType=INTEGER},
      </if>
      <if test="record.materialDigest != null">
        material_digest = #{record.materialDigest,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.materialContent != null">
        material_content = #{record.materialContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update wx_material
    set material_id = #{record.materialId,jdbcType=INTEGER},
      material_media_id = #{record.materialMediaId,jdbcType=VARCHAR},
      material_type = #{record.materialType,jdbcType=VARCHAR},
      material_name = #{record.materialName,jdbcType=VARCHAR},
      material_update_time = #{record.materialUpdateTime,jdbcType=TIMESTAMP},
      material_url = #{record.materialUrl,jdbcType=VARCHAR},
      material_title = #{record.materialTitle,jdbcType=VARCHAR},
      material_author = #{record.materialAuthor,jdbcType=VARCHAR},
      material_content_source_url = #{record.materialContentSourceUrl,jdbcType=VARCHAR},
      material_thumb_media_id = #{record.materialThumbMediaId,jdbcType=VARCHAR},
      material_show_cover_pic = #{record.materialShowCoverPic,jdbcType=INTEGER},
      material_thumb_url = #{record.materialThumbUrl,jdbcType=VARCHAR},
      material_need_open_comment = #{record.materialNeedOpenComment,jdbcType=INTEGER},
      material_only_fans_can_comment = #{record.materialOnlyFansCanComment,jdbcType=INTEGER},
      material_digest = #{record.materialDigest,jdbcType=LONGVARCHAR},
      material_content = #{record.materialContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wx_material
    set material_id = #{record.materialId,jdbcType=INTEGER},
      material_media_id = #{record.materialMediaId,jdbcType=VARCHAR},
      material_type = #{record.materialType,jdbcType=VARCHAR},
      material_name = #{record.materialName,jdbcType=VARCHAR},
      material_update_time = #{record.materialUpdateTime,jdbcType=TIMESTAMP},
      material_url = #{record.materialUrl,jdbcType=VARCHAR},
      material_title = #{record.materialTitle,jdbcType=VARCHAR},
      material_author = #{record.materialAuthor,jdbcType=VARCHAR},
      material_content_source_url = #{record.materialContentSourceUrl,jdbcType=VARCHAR},
      material_thumb_media_id = #{record.materialThumbMediaId,jdbcType=VARCHAR},
      material_show_cover_pic = #{record.materialShowCoverPic,jdbcType=INTEGER},
      material_thumb_url = #{record.materialThumbUrl,jdbcType=VARCHAR},
      material_need_open_comment = #{record.materialNeedOpenComment,jdbcType=INTEGER},
      material_only_fans_can_comment = #{record.materialOnlyFansCanComment,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterial">
    update wx_material
    <set>
      <if test="materialMediaId != null">
        material_media_id = #{materialMediaId,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null">
        material_type = #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialUpdateTime != null">
        material_update_time = #{materialUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="materialUrl != null">
        material_url = #{materialUrl,jdbcType=VARCHAR},
      </if>
      <if test="materialTitle != null">
        material_title = #{materialTitle,jdbcType=VARCHAR},
      </if>
      <if test="materialAuthor != null">
        material_author = #{materialAuthor,jdbcType=VARCHAR},
      </if>
      <if test="materialContentSourceUrl != null">
        material_content_source_url = #{materialContentSourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="materialThumbMediaId != null">
        material_thumb_media_id = #{materialThumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="materialShowCoverPic != null">
        material_show_cover_pic = #{materialShowCoverPic,jdbcType=INTEGER},
      </if>
      <if test="materialThumbUrl != null">
        material_thumb_url = #{materialThumbUrl,jdbcType=VARCHAR},
      </if>
      <if test="materialNeedOpenComment != null">
        material_need_open_comment = #{materialNeedOpenComment,jdbcType=INTEGER},
      </if>
      <if test="materialOnlyFansCanComment != null">
        material_only_fans_can_comment = #{materialOnlyFansCanComment,jdbcType=INTEGER},
      </if>
      <if test="materialDigest != null">
        material_digest = #{materialDigest,jdbcType=LONGVARCHAR},
      </if>
      <if test="materialContent != null">
        material_content = #{materialContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where material_id = #{materialId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterial">
    update wx_material
    set material_media_id = #{materialMediaId,jdbcType=VARCHAR},
      material_type = #{materialType,jdbcType=VARCHAR},
      material_name = #{materialName,jdbcType=VARCHAR},
      material_update_time = #{materialUpdateTime,jdbcType=TIMESTAMP},
      material_url = #{materialUrl,jdbcType=VARCHAR},
      material_title = #{materialTitle,jdbcType=VARCHAR},
      material_author = #{materialAuthor,jdbcType=VARCHAR},
      material_content_source_url = #{materialContentSourceUrl,jdbcType=VARCHAR},
      material_thumb_media_id = #{materialThumbMediaId,jdbcType=VARCHAR},
      material_show_cover_pic = #{materialShowCoverPic,jdbcType=INTEGER},
      material_thumb_url = #{materialThumbUrl,jdbcType=VARCHAR},
      material_need_open_comment = #{materialNeedOpenComment,jdbcType=INTEGER},
      material_only_fans_can_comment = #{materialOnlyFansCanComment,jdbcType=INTEGER},
      material_digest = #{materialDigest,jdbcType=LONGVARCHAR},
      material_content = #{materialContent,jdbcType=LONGVARCHAR}
    where material_id = #{materialId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterial">
    update wx_material
    set material_media_id = #{materialMediaId,jdbcType=VARCHAR},
      material_type = #{materialType,jdbcType=VARCHAR},
      material_name = #{materialName,jdbcType=VARCHAR},
      material_update_time = #{materialUpdateTime,jdbcType=TIMESTAMP},
      material_url = #{materialUrl,jdbcType=VARCHAR},
      material_title = #{materialTitle,jdbcType=VARCHAR},
      material_author = #{materialAuthor,jdbcType=VARCHAR},
      material_content_source_url = #{materialContentSourceUrl,jdbcType=VARCHAR},
      material_thumb_media_id = #{materialThumbMediaId,jdbcType=VARCHAR},
      material_show_cover_pic = #{materialShowCoverPic,jdbcType=INTEGER},
      material_thumb_url = #{materialThumbUrl,jdbcType=VARCHAR},
      material_need_open_comment = #{materialNeedOpenComment,jdbcType=INTEGER},
      material_only_fans_can_comment = #{materialOnlyFansCanComment,jdbcType=INTEGER}
    where material_id = #{materialId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" parameterType="com.jianpanmao.wxmaterial.entity.WxMaterial" resultMap="BaseResultMap">
    select * from wx_material
  </select>
  <delete id="deleteBatch" parameterType="java.util.ArrayList">
    delete from wx_material
    where material_id in
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
              #{item}
    </foreach>
  </delete>
  <select id="selectByDto" parameterType="com.jianpanmao.wxmaterial.dto.WxMaterialDto" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from wx_material where 1=1
    <if test="materialId!=null">
      and material_id=#{materialId}
    </if>
    <if test="materialMediaId!=null and '' neq materialMediaId">
      and material_media_id=#{materialMediaId}
    </if>
    <if test="materialType!=null and '' neq materialType">
      and material_type=#{materialType}
    </if>
    <if test="materialName!=null and '' neq materialName">
      and material_name=#{materialName}
    </if>
    <if test="materialUpdateTime!=null">
      and material_update_time=#{materialUpdateTime}
    </if>
    <if test="materialUrl!=null and '' neq materialUrl">
      and material_url=#{materialUrl}
    </if>
    <if test="materialTitle!=null and '' neq materialTitle">
      and material_title=#{materialTitle}
    </if>
    <if test="materialAuthor!=null and '' neq materialAuthor">
      and material_author=#{materialAuthor}
    </if>
    <if test="materialContentSourceUrl!=null and '' neq materialContentSourceUrl">
      and material_content_source_url=#{materialContentSourceUrl}
    </if>
    <if test="materialThumbMediaId!=null and '' neq materialThumbMediaId">
      and material_thumb_media_id=#{materialThumbMediaId}
    </if>
    <if test="materialShowCoverPic!=null">
      and material_show_cover_pic=#{materialShowCoverPic}
    </if>
    <if test="materialThumbUrl!=null and '' neq materialThumbUrl">
      and material_thumb_url=#{materialThumbUrl}
    </if>
    <if test="materialNeedOpenComment!=null">
      and material_need_open_comment=#{materialNeedOpenComment}
    </if>
    <if test="materialOnlyFansCanComment!=null">
      and material_only_fans_can_comment=#{materialOnlyFansCanComment}
    </if>
    <if test="materialDigest!=null and '' neq materialDigest">
      and material_digest=#{materialDigest}
    </if>
    <if test="materialContent!=null and '' neq materialContent">
      and material_content=#{materialContent}
    </if>
    <if test="od!=null and od neq ''">
      order by ${od}
    </if>
  </select>
</mapper>