<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianpanmao.wxmessage.dao.WxMessageMapper">
  <resultMap id="BaseResultMap" type="com.jianpanmao.wxmessage.entity.WxMessage">
    <id column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="from_user" jdbcType="VARCHAR" property="fromUser" />
    <result column="to_user" jdbcType="VARCHAR" property="toUser" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="msg_type" jdbcType="VARCHAR" property="msgType" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="media_id" jdbcType="VARCHAR" property="mediaId" />
    <result column="format_" jdbcType="VARCHAR" property="format" />
    <result column="thumbMedia_id" jdbcType="VARCHAR" property="thumbmediaId" />
    <result column="location_x" jdbcType="VARCHAR" property="locationX" />
    <result column="location_y" jdbcType="VARCHAR" property="locationY" />
    <result column="scale" jdbcType="INTEGER" property="scale" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="msg_id" jdbcType="BIGINT" property="msgId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    message_id, from_user, to_user, create_time, msg_type, content, pic_url, media_id, 
    format_, thumbMedia_id, location_x, location_y, `scale`, `label`, title, description, 
    url, msg_id
  </sql>
  <select id="selectByExample" parameterType="com.jianpanmao.wxmessage.entity.WxMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_message
    where message_id = #{messageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wx_message
    where message_id = #{messageId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jianpanmao.wxmessage.entity.WxMessageExample">
    delete from wx_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jianpanmao.wxmessage.entity.WxMessage">
    insert into wx_message (message_id, from_user, to_user, 
      create_time, msg_type, content, 
      pic_url, media_id, format_, 
      thumbMedia_id, location_x, location_y, 
      `scale`, `label`, title, 
      description, url, msg_id
      )
    values (#{messageId,jdbcType=INTEGER}, #{fromUser,jdbcType=VARCHAR}, #{toUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{msgType,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{picUrl,jdbcType=VARCHAR}, #{mediaId,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, 
      #{thumbmediaId,jdbcType=VARCHAR}, #{locationX,jdbcType=VARCHAR}, #{locationY,jdbcType=VARCHAR}, 
      #{scale,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{msgId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jianpanmao.wxmessage.entity.WxMessage">
    insert into wx_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        message_id,
      </if>
      <if test="fromUser != null">
        from_user,
      </if>
      <if test="toUser != null">
        to_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="format != null">
        format_,
      </if>
      <if test="thumbmediaId != null">
        thumbMedia_id,
      </if>
      <if test="locationX != null">
        location_x,
      </if>
      <if test="locationY != null">
        location_y,
      </if>
      <if test="scale != null">
        `scale`,
      </if>
      <if test="label != null">
        `label`,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="msgId != null">
        msg_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="fromUser != null">
        #{fromUser,jdbcType=VARCHAR},
      </if>
      <if test="toUser != null">
        #{toUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null">
        #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="thumbmediaId != null">
        #{thumbmediaId,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        #{locationX,jdbcType=VARCHAR},
      </if>
      <if test="locationY != null">
        #{locationY,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jianpanmao.wxmessage.entity.WxMessageExample" resultType="java.lang.Long">
    select count(*) from wx_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wx_message
    <set>
      <if test="record.messageId != null">
        message_id = #{record.messageId,jdbcType=INTEGER},
      </if>
      <if test="record.fromUser != null">
        from_user = #{record.fromUser,jdbcType=VARCHAR},
      </if>
      <if test="record.toUser != null">
        to_user = #{record.toUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.msgType != null">
        msg_type = #{record.msgType,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null">
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaId != null">
        media_id = #{record.mediaId,jdbcType=VARCHAR},
      </if>
      <if test="record.format != null">
        format_ = #{record.format,jdbcType=VARCHAR},
      </if>
      <if test="record.thumbmediaId != null">
        thumbMedia_id = #{record.thumbmediaId,jdbcType=VARCHAR},
      </if>
      <if test="record.locationX != null">
        location_x = #{record.locationX,jdbcType=VARCHAR},
      </if>
      <if test="record.locationY != null">
        location_y = #{record.locationY,jdbcType=VARCHAR},
      </if>
      <if test="record.scale != null">
        `scale` = #{record.scale,jdbcType=INTEGER},
      </if>
      <if test="record.label != null">
        `label` = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.msgId != null">
        msg_id = #{record.msgId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wx_message
    set message_id = #{record.messageId,jdbcType=INTEGER},
      from_user = #{record.fromUser,jdbcType=VARCHAR},
      to_user = #{record.toUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      msg_type = #{record.msgType,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      media_id = #{record.mediaId,jdbcType=VARCHAR},
      format_ = #{record.format,jdbcType=VARCHAR},
      thumbMedia_id = #{record.thumbmediaId,jdbcType=VARCHAR},
      location_x = #{record.locationX,jdbcType=VARCHAR},
      location_y = #{record.locationY,jdbcType=VARCHAR},
      `scale` = #{record.scale,jdbcType=INTEGER},
      `label` = #{record.label,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      msg_id = #{record.msgId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jianpanmao.wxmessage.entity.WxMessage">
    update wx_message
    <set>
      <if test="fromUser != null">
        from_user = #{fromUser,jdbcType=VARCHAR},
      </if>
      <if test="toUser != null">
        to_user = #{toUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="msgType != null">
        msg_type = #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null">
        media_id = #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        format_ = #{format,jdbcType=VARCHAR},
      </if>
      <if test="thumbmediaId != null">
        thumbMedia_id = #{thumbmediaId,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        location_x = #{locationX,jdbcType=VARCHAR},
      </if>
      <if test="locationY != null">
        location_y = #{locationY,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        `scale` = #{scale,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        `label` = #{label,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null">
        msg_id = #{msgId,jdbcType=BIGINT},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jianpanmao.wxmessage.entity.WxMessage">
    update wx_message
    set from_user = #{fromUser,jdbcType=VARCHAR},
      to_user = #{toUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      msg_type = #{msgType,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      media_id = #{mediaId,jdbcType=VARCHAR},
      format_ = #{format,jdbcType=VARCHAR},
      thumbMedia_id = #{thumbmediaId,jdbcType=VARCHAR},
      location_x = #{locationX,jdbcType=VARCHAR},
      location_y = #{locationY,jdbcType=VARCHAR},
      `scale` = #{scale,jdbcType=INTEGER},
      `label` = #{label,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      msg_id = #{msgId,jdbcType=BIGINT}
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" parameterType="com.jianpanmao.wxmessage.entity.WxMessage" resultMap="BaseResultMap">
    select * from wx_message
  </select>
  <delete id="deleteBatch" parameterType="java.util.ArrayList">
    delete from wx_message
    where message_id in
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
              #{item}
    </foreach>
  </delete>
  <select id="selectByDto" parameterType="com.jianpanmao.wxmessage.dto.WxMessageDto" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from wx_message where 1=1
    <if test="messageId!=null">
      and message_id=#{messageId}
    </if>
    <if test="fromUser!=null and '' neq fromUser">
      and from_user=#{fromUser}
    </if>
    <if test="toUser!=null and '' neq toUser">
      and to_user=#{toUser}
    </if>
    <if test="createTime!=null">
      and create_time=#{createTime}
    </if>
    <if test="msgType!=null and '' neq msgType">
      and msg_type=#{msgType}
    </if>
    <if test="content!=null and '' neq content">
      and content=#{content}
    </if>
    <if test="picUrl!=null and '' neq picUrl">
      and pic_url=#{picUrl}
    </if>
    <if test="mediaId!=null and '' neq mediaId">
      and media_id=#{mediaId}
    </if>
    <if test="format!=null and '' neq format">
      and format_=#{format}
    </if>
    <if test="thumbmediaId!=null and '' neq thumbmediaId">
      and thumbMedia_id=#{thumbmediaId}
    </if>
    <if test="locationX!=null and '' neq locationX">
      and location_x=#{locationX}
    </if>
    <if test="locationY!=null and '' neq locationY">
      and location_y=#{locationY}
    </if>
    <if test="scale!=null">
      and scale=#{scale}
    </if>
    <if test="label!=null and '' neq label">
      and label=#{label}
    </if>
    <if test="title!=null and '' neq title">
      and title=#{title}
    </if>
    <if test="description!=null and '' neq description">
      and description=#{description}
    </if>
    <if test="url!=null and '' neq url">
      and url=#{url}
    </if>
    <if test="msgId!=null">
      and msg_id=#{msgId}
    </if>
    <if test="od!=null and od neq ''">
      order by ${od}
    </if>
  </select>
</mapper>