<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianpanmao.wxpublic.dao.WxPublicMapper">
    <resultMap id="BaseResultMap" type="com.jianpanmao.wxpublic.entity.WxPublic">
        <id column="public_id" jdbcType="INTEGER" property="publicId"/>
        <result column="public_name" jdbcType="VARCHAR" property="publicName"/>
        <result column="source_id" jdbcType="VARCHAR" property="sourceId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="public_email" jdbcType="VARCHAR" property="publicEmail"/>
        <result column="intermediary_id" jdbcType="INTEGER" property="intermediaryId"/>
        <result column="wx_public_create_time" jdbcType="TIMESTAMP" property="wxPublicCreateTime"/>
        <result column="wx_public_update_time" jdbcType="TIMESTAMP" property="wxPublicUpdateTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    public_id, public_name, source_id, app_id, app_secret, public_email, intermediary_id, 
    wx_public_create_time, wx_public_update_time
  </sql>
    <select id="selectByExample" parameterType="com.jianpanmao.wxpublic.entity.WxPublicExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from wx_public
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wx_public
        where public_id = #{publicId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wx_public
    where public_id = #{publicId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.jianpanmao.wxpublic.entity.WxPublicExample">
        delete from wx_public
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.jianpanmao.wxpublic.entity.WxPublic">
    insert into wx_public (public_name, source_id,
      app_id, app_secret, public_email, 
      intermediary_id
      )
    values (#{publicName,jdbcType=VARCHAR}, #{sourceId,jdbcType=VARCHAR},
      #{appId,jdbcType=VARCHAR}, #{appSecret,jdbcType=VARCHAR}, #{publicEmail,jdbcType=VARCHAR}, 
      #{intermediary.intermediaryId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.jianpanmao.wxpublic.entity.WxPublic">
        insert into wx_public
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="publicId != null">
                public_id,
            </if>
            <if test="publicName != null">
                public_name,
            </if>
            <if test="sourceId != null">
                source_id,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="appSecret != null">
                app_secret,
            </if>
            <if test="publicEmail != null">
                public_email,
            </if>
            <if test="intermediaryId != null">
                intermediary_id,
            </if>
            <if test="wxPublicCreateTime != null">
                wx_public_create_time,
            </if>
            <if test="wxPublicUpdateTime != null">
                wx_public_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="publicId != null">
                #{publicId,jdbcType=INTEGER},
            </if>
            <if test="publicName != null">
                #{publicName,jdbcType=VARCHAR},
            </if>
            <if test="sourceId != null">
                #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="appSecret != null">
                #{appSecret,jdbcType=VARCHAR},
            </if>
            <if test="publicEmail != null">
                #{publicEmail,jdbcType=VARCHAR},
            </if>
            <if test="intermediaryId != null">
                #{intermediaryId,jdbcType=INTEGER},
            </if>
            <if test="wxPublicCreateTime != null">
                #{wxPublicCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="wxPublicUpdateTime != null">
                #{wxPublicUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.jianpanmao.wxpublic.entity.WxPublicExample"
            resultType="java.lang.Long">
        select count(*) from wx_public
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update wx_public
        <set>
            <if test="record.publicId != null">
                public_id = #{record.publicId,jdbcType=INTEGER},
            </if>
            <if test="record.publicName != null">
                public_name = #{record.publicName,jdbcType=VARCHAR},
            </if>
            <if test="record.sourceId != null">
                source_id = #{record.sourceId,jdbcType=VARCHAR},
            </if>
            <if test="record.appId != null">
                app_id = #{record.appId,jdbcType=VARCHAR},
            </if>
            <if test="record.appSecret != null">
                app_secret = #{record.appSecret,jdbcType=VARCHAR},
            </if>
            <if test="record.publicEmail != null">
                public_email = #{record.publicEmail,jdbcType=VARCHAR},
            </if>
            <if test="record.intermediaryId != null">
                intermediary_id = #{record.intermediaryId,jdbcType=INTEGER},
            </if>
            <if test="record.wxPublicCreateTime != null">
                wx_public_create_time = #{record.wxPublicCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.wxPublicUpdateTime != null">
                wx_public_update_time = #{record.wxPublicUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update wx_public
        set public_id = #{record.publicId,jdbcType=INTEGER},
        public_name = #{record.publicName,jdbcType=VARCHAR},
        source_id = #{record.sourceId,jdbcType=VARCHAR},
        app_id = #{record.appId,jdbcType=VARCHAR},
        app_secret = #{record.appSecret,jdbcType=VARCHAR},
        public_email = #{record.publicEmail,jdbcType=VARCHAR},
        intermediary_id = #{record.intermediaryId,jdbcType=INTEGER},
        wx_public_create_time = #{record.wxPublicCreateTime,jdbcType=TIMESTAMP},
        wx_public_update_time = #{record.wxPublicUpdateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.jianpanmao.wxpublic.entity.WxPublic">
        update wx_public
        <set>
            <if test="publicName != null">
                public_name = #{publicName,jdbcType=VARCHAR},
            </if>
            <if test="sourceId != null">
                source_id = #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="appId != null">
                app_id = #{appId,jdbcType=VARCHAR},
            </if>
            <if test="appSecret != null">
                app_secret = #{appSecret,jdbcType=VARCHAR},
            </if>
            <if test="publicEmail != null">
                public_email = #{publicEmail,jdbcType=VARCHAR},
            </if>
            <if test="intermediaryId != null">
                intermediary_id = #{intermediaryId,jdbcType=INTEGER},
            </if>
            <if test="wxPublicCreateTime != null">
                wx_public_create_time = #{wxPublicCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="wxPublicUpdateTime != null">
                wx_public_update_time = #{wxPublicUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where public_id = #{publicId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jianpanmao.wxpublic.entity.WxPublic">
    update wx_public
    set public_name = #{publicName,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      public_email = #{publicEmail,jdbcType=VARCHAR},
      intermediary_id = #{intermediaryId,jdbcType=INTEGER},
      wx_public_create_time = #{wxPublicCreateTime,jdbcType=TIMESTAMP},
      wx_public_update_time = #{wxPublicUpdateTime,jdbcType=TIMESTAMP}
    where public_id = #{publicId,jdbcType=INTEGER}
  </update>
    <select id="selectAll" parameterType="com.jianpanmao.wxpublic.entity.WxPublic" resultMap="BaseResultMap">
    select * from wx_public
  </select>
    <delete id="deleteBatch" parameterType="java.util.ArrayList">
        delete from wx_public
        where public_id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <select id="selectByDto" parameterType="com.jianpanmao.wxpublic.dto.WxPublicDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wx_public where 1=1
        <if test="publicId!=null">
            and public_id=#{publicId}
        </if>
        <if test="publicName!=null and '' neq publicName">
            and public_name=#{publicName}
        </if>
        <if test="sourceId!=null and '' neq sourceId">
            and source_id=#{sourceId}
        </if>
        <if test="appId!=null and '' neq appId">
            and app_id=#{appId}
        </if>
        <if test="appSecret!=null and '' neq appSecret">
            and app_secret=#{appSecret}
        </if>
        <if test="publicEmail!=null and '' neq publicEmail">
            and public_email=#{publicEmail}
        </if>
        <if test="intermediaryId!=null">
            and intermediary_id=#{intermediaryId}
        </if>
        <if test="wxPublicCreateTime!=null">
            and wx_public_create_time=#{wxPublicCreateTime}
        </if>
        <if test="wxPublicUpdateTime!=null">
            and wx_public_update_time=#{wxPublicUpdateTime}
        </if>
        <if test="od!=null and od neq ''">
            order by ${od}
        </if>
    </select>

    <select id="findByCompanyId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wx_public WHERE intermediary_id = #{0}
    </select>

    <select id="findBySourceId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM wx_public WHERE source_id = #{0}
    </select>
</mapper>